<section class="secondary-content main" role="main">
  <div class="wrapper">

    <div class="g g-3up">
      <div class="gi">
        <h3>Create a New Promotion</h3>
      </div>
      <div class="gi">
      </div>
      <div class="gi">
        <%= link_to 'All Promotions', new_admin_promotion_path, class: 'btn' %>
      </div>
    </div>

    <div class="g g-1up">
      <div class="gi">
        <%= form_for :promotion, url: dashboard_user_promotions_path do |f| %>
          <%= f.label :category %>
          <%= f.select(:category,
            options_for_select([
              ['Free', :free_from_tutor], 
              ['Percent Off', :percent_off_from_tutor],
              ['Dollar Amount Off', :dollar_amount_off_from_tutor],
              ['Repeating Percent Off', :repeating_percent_off_from_tutor], 
              ['Repeating Dollar Amount Off', :repeating_dollar_amount_off_from_tutor]
            ]), include_blank: true)  %>

          <%= f.label :amount %>
          <%= f.number_field :amount %>

          <%= f.label :valid_from %>
          <%= f.date_select :valid_from %>

          <%= f.label :valid_until %>
          <%= f.date_select :valid_until %>

          <%= f.label :redemption_limit %>
          <%= f.number_field :redemption_limit %>

          <%= f.label :description %>
          <%= f.text_area :description %>

          <%= f.hidden_field :tutor_id, value: @tutor.id %>
          
          <%= f.submit 'Create Promotion' %>
        <% end %>
      </div>
    </div>

  </div>
</section>