<div class="margin-top-2em">
  <% if @tutor.promotions.count == 0 %>
    <div class="row box">
      <h6 class="center">You currently do not have any promotions</h6>
    </div>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Code</th>
          <th>Category</th>
          <th>Course</th>
          <th>Amount</th>
          <th>Valid From</th>
          <th>Valid Until</th>
          <th>Redemption Limit</th>
          <th>Redemption Count</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @promotions.each do |promotion| %>
        <tr>
          <td><%= promotion.code %></td>
          <td><%= promotion.category.humanize.gsub(/[A-Za-z']+/,&:capitalize) %></td>
          <td><%= Course.find(promotion.course_id).friendly_name unless !promotion.course_id %></td>
          <td><%= promotion.amount %></td>
          <td><%= promotion.valid_from %></td>
          <td><%= promotion.valid_until %></td>
          <td><%= promotion.redemption_limit %></td>
          <td><%= promotion.redemption_count %></td>
          <td><%= promotion.description %></td>
          <td><%= link_to 'Edit', tutor_promotion_path(@tutor.slug, promotion.id) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>