<div class="row">
  <div class="large-4 columns">
    <!-- Profile Pic -->
    <div class="profile-pic-container">
      <%= image_tag(@tutor.profile_pic_url(:thumb), class: 'profile-pic') %>
      <a href="#" data-reveal-id="myModal" class="profile-pic-link">
        <p class="profile-pic-text">Update Profile Picture</p>    
      </a>
    </div>

  
    <!-- Name -->
    <h4><%= @tutor.user.full_name %></h4>
  </div>

  <div class="large-8 columns">
    <h2>General Info</h2>
    <p>Degree: <%= @tutor.degree %></p>
    <p>Major: <%= @tutor.major %></p>
    <p>Extra Info: <%= @tutor.extra_info %></p>
    <p>Graduation Year: <%= @tutor.graduation_year %></p>
  </div>
</div>

<!-- Update Profile Pic Modal -->
<!-- The link to this modal is above under Profile Pic, but this needs to be outside of the row for formatting reasons -->
  <div id="myModal" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <%= render 'update_profile_pic' %>
  </div>


<div class="row">
  <div class="large-12 columns">
    <h2>Edit Form</h2>

    <%= form_for :profile_data, url: "/#{@user.id}/profile" do |f| %>
      <%= f.label :degree %>
      <%= f.text_field :degree, value: @profile_degree %>
      <%= f.label :major %>
      <%= f.text_field :major, value: @profile_major %>
      <%= f.label :extra_info %>
      <%= f.text_field :extra_info, value: @profile_extra_info %>
      <%= f.label :graduation_year %>
      <%= f.text_field :graduation_year, value: @profile_graduation_year %>
      <%= f.submit 'Submit', class: 'button' %>
    <% end %>
  </div>
</div>


