<div class="row">
  <p>Share your profile link: <%= link_to "www.axontutors.com/tutors/#{@tutor.user.friendly_id}", tutor_path(@tutor.user) %></p> 
</div>

<div class="row">
  <div class="large-4 columns">
    <!-- Profile Pic -->
    <div class="profile-pic-container">
      <%= image_tag(@tutor.profile_pic_url(:thumb), class: 'profile-pic') %>
      <a href="#" data-reveal-id="myModal" class="profile-pic-link">
        <p class="profile-pic-text">Update Profile Picture</p>    
      </a>
    </div>

  
    <!-- Name -->
    <h4><%= @tutor.user.full_name %></h4>
  </div>

  <div class="large-8 columns">
    <h2>General Info</h2>
    <p>Degree: <%= best_in_place @tutor, :degree, :as => :input, :nil => 'Enter Degree' %></p>
    <p>Major: <%= best_in_place @tutor, :major, :as => :input, :nil => 'Enter Major' %></p>
    <p>Extra Info: <%= best_in_place @tutor, :extra_info, :as => :textarea, :ok_button => 'Save', :cancel_button => 'Cancel' %></p>
    <p>Graduation Year: <%= best_in_place @tutor, :graduation_year, :as => :input, :nil => 'Enter Graduation Year' %></p>
  </div>
</div>

<!-- Update Profile Pic Modal -->
<!-- The link to this modal is above under Profile Pic, but this needs to be outside of the row for formatting reasons -->
  <div id="myModal" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <%= render 'update_profile_pic' %>
  </div>