<div class="landing-page lp-banner">
  <div class="row">
    <div class="small-12 columns">
      <h4 class="banner">Axon is the easiest way to get through your toughest college classes</h4>
    </div>
  </div>
</div>

<div class="landing-page lp-3-steps-section">
  <div class="row">
    <div class="small-12 columns">
      <h4 class="section-header extra-big">How Axon Works</h4>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-4 columns">
      <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/miscellaneous/homepage_image_1_.jpg', class: 'border-radius') %>
      <p class="number">1</p>
      <h4>Select your class</h4>
      <p>Find the class you are struggling with on your specific campus</p>
    </div>
    <div class="small-12 medium-4 columns">
      <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/miscellaneous/Homepage+Image+2+.jpg', class: 'border-radius') %>
      <p class="number">2</p>
      <h4>Choose a tutor & time</h4>
      <p>Browse through vetted tutors and then select a time that works for you</p>
    </div>
    <div class="small-12 medium-4 columns">
      <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/miscellaneous/Homepage+Image+3.jpg', class: 'border-radius') %>
      <p class="number">3</p>
      <h4>Meet right on campus</h4>
      <p>Meet with your personal tutor on campus at an arranged location</p>
    </div>
  </div>
</div>

<div class="landing-page lp-differences-section">
  <div class="row">
    <div class="small-12 columns">
      <h4 class="section-header">What makes Axon different?</h4>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 columns difference-box">
      <i class="fi-marker"></i>
      <h5>Tutors meet you on-campus & in-person</h5>
      <p>We believe that learning is a social activity. So when you book through Axon, your tutor meets you in-person on your campus.</p>
    </div>
    <div class="small-12 medium-6 columns difference-box">
      <i class="fi-zoom-in"></i>
      <h5>Get help for your specific class</h5>
      <p>In college, every class is different. Every professor's teaching style is different. With Axon, get a local tutor who understands your specific environment.</p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 columns difference-box">
      <i class="fi-checkbox"></i>
      <h5>Every booking is confirmed</h5>
      <p>When you need a tutor, you need one fast. Within minutes of selecting your class and tutor, you will have a confirmed booking notification in your email.</p>
    </div>
    <div class="small-12 medium-6 columns difference-box">
      <i class="fi-price-tag"></i>
      <h5>Pricing is simple</h5>
      <p>Pricing is simple with Axon. Tutors set their own rates (the average is $23/hr.) and we charge a standard convenience fee to students for using our service.</p>
    </div>
  </div>
</div>


<div class="landing-page lp-testimonial-section">
  <div class="row">
    <div class="small-12 columns">
      <h4 class="section-header">Thousands of students are getting better grades with Axon tutors</h4>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <div class="testimonial-pic">
        <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/tutor-student-pics/student-testimonial-chandler.png', class: 'testimonial-pic') %>
      </div>
      <div class="testimonial-text">
        <p>"Axon is my go-to whenever I need a little extra help with whatever subject I'm struggling in. The tutors are always well-informed and capable of answering my questions. Axon tutoring is a great study tool because I can have one-on-one attention that fits into my own schedule."</p>
        <p class="testimonial-name">Chandler J., '18</p>
      </div>
    </div>
    <div class="small-12 medium-6 columns">
      <div class="testimonial-pic">
        <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/tutor-student-pics/student-testimonial-amy.png', class: 'testimonial-pic') %>
      </div>
      <div class="testimonial-text">
        <p>"I've used Axon for the past two years and don't know how I would have gotten through my classes without them. I feel much more prepared before each test I take and the tutoring is very personalized to every student's learning style."</p>
        <p class="testimonial-name">Amy B., '18</p>
      </div>
    </div>
  </div>
</div>

<div class="landing-page lp-newspaper-section">
  <div class="row">
    <div class="small-12 medium-6 columns">
      <div class="row">
        <div class="small-12 medium-6 columns">
          <div class="news-logo-container">
            <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/miscellaneous/red-n-black.png', class: 'red-black-logo') %>
          </div>
        </div>
        <div class="small-12 medium-6 columns">
          <p class="newspaper-quote red-n-black-quote">"students getting better grades since Axon launched on campus."</p>
        </div>
      </div>
    </div>
    <div class="small-12 medium-6 columns">
      <div class="row">
        <div class="small-12 medium-6 columns">
          <div class="news-logo-container">
            <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/miscellaneous/odyssey.png', class: 'odyssey-logo') %>
          </div>
        </div>
        <div class="small-12 medium-6 columns">
          <p class="newspaper-quote">"Axon is changing the way tutors do business."</p>
        </div>
      </div>
    </div>
  </div>
</div>