<div class="row">
  <div class="small-12 medium-5 medium-centered columns">
    <div class="box margin-top-2em">
      <div class="max-width-16em margin-auto">
        <h3 class="center">Account Setup for Existing Tutors</h3>
        <p class="center">Use the email you already have registered with Axon. Enter a password for your new account.</p>

        <%= form_for :existing_tutor, url: create_existing_tutor_path do |f| %>
          <%= f.email_field :email, placeholder: 'Email' %>
          <%= f.password_field :password, placeholder: 'Password' %>
          <%= f.password_field :confirm_password, placeholder: 'Confirm Password' %>
          <%= f.submit 'Enter new site', class: 'custom-button full-width' %>
        <% end %>

      </div>
    </div>
  </div>
</div>