<style>
.custom-button.full-width.manual-line-height {
  line-height: 1.5em;
}
/* Do NOT remove this CSS! It must be in the view to dynamically select the correct campus picture to use as the background image */
@media screen and (min-width: 768px) {
  .lp-first-section {
    background: url("<%= (@school && @school.campus_pic_url) ? @school.campus_pic_url : 'https://s3-us-west-2.amazonaws.com/rails-axon-uploads/miscellaneous/default-campus.jpg' %>") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
  }
}
</style>
<%= javascript_include_tag "single_views/search" %>
<% content_for (:special_nav) do %>
  <%= render 'layouts/partials/special_navs/home_nav' %>
<% end %>

<div class="landing-page lp-first-section">
  <div class="row">
    <div class="small-12 columns">
      <h1 class="landing-page-header">Meet Your Personal Campus Tutor</h1>
      <h3 class="landing-page-subheader">Choose Your Course</h3>
    </div>
  </div>
  <div class="row medium-collapse course-search-box">
    <div class="small-12 medium-5 columns">
      <%= form_for :search, url: search_from_home_path, method: :post do |f| %>
        <%= render '/course_selector/subject' %>
    </div>
    <div class="small-12 medium-5 columns">
        <%= render '/course_selector/course' %>
    </div>
    <div class="small-12 medium-2 columns">
        <%= f.submit 'Search', class: 'custom-button full-width', id: 'course-search-submit' %>
      <% end %>
    </div>
  </div>
  <p class="landing-page-header-text">Book your in-person & on-campus tutor in just two minutes</p>
</div>
<%= render '/single_views/home_and_get_started_landing' %>