<style>

/* iPhone 5 view */
.center {
  text-align: center;
}
.white {
  color: white;
}
.blue-3 {
  color: #0095AC;
}
.shadow {
  text-shadow: 1px 1px 1px black;
}
.bottom-margin {
  margin-bottom: 1em;
}
.headline {
  font-family: 'Lato';
}
.school-selection-box {
  display: block;
  width: 90%;
  margin: auto;
}
.school-selection {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #0095AC;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  font-size: 0.8em;
  padding: 1em;
}
.numbers-banner-box {
  display: block;
  background-color: rgba(0,0,0,0.8);
}
.number-banner {
  display: block;
  text-align: center;
  border-top: 1px solid white;
  color: white;
  margin-bottom: 0;
  padding: 0.5em;
  border-bottom: 0;
  font-family: 'Lato';
}
.big-numbers {
  font-size: 1.5em;
  color: white;
}
.top-banner {
  border-top: none;
}
.top-padding {
  padding-top: 1.5em;
}
.landing-page {
  padding: 1em;
  text-align: center;
}
.landing-page p {
  text-align: center;
  max-width: 30em;
  width: 100%;
  margin: 1em auto;
}
.section-header p {
  font-family: 'Roboto Slab';
  font-size: 1.2em;
  font-weight: 100;
  max-width: 20em;
}
p.axon-is-easy {
  max-width: 20em;
  margin: 0 auto 1em;
}
p.section-sub-header {
  font-family: 'Lato';
  font-size: 1.2em;
  margin-top: 0;
}
p.pic-caption {
  font-size: 1.3em;
  color: #2BC2DE;
  margin-bottom: 0;
}
.trio-pic {
  width: 100%;
  border: 1px solid #2BC2DE;
  max-width: 25em;
  margin: auto;
}
.divider-line {
  display: block;
  height: 1px;
  border-bottom: 1px solid #0095AC;
  width: 60%;
  margin: auto;
}
p.difference-text {
  padding-bottom: 2em;
}
.difference-icon {
  font-size: 2em;
  color: #0095AC;
}
img.testimonial-pic {
  border-radius: 100%;
  border: 1px solid black;
  width: 100%;
  max-width: 10em;
  margin-top: 1em;
}
p.testimonial-name {
  font-size: 0.8em;
  font-weight: 400;
  margin-bottom: 2em;
}
.campus-pic-box {
  width: 100%;
  margin-bottom: 1em;
  max-width: 15em;
  overflow: hidden;
}
p.campus-pic-title {
  font-size: 5em;
  font-weight: 900;
  margin: 0;
  color: rgba(255,255,255,0.5);
}
p.campus-pic-title:hover {
  color: rgba(255,255,255,1);
}
.lp-sixth-section {
  background-color: #4F5252;
  color: white;
}




/* iPad view */

@media screen and (min-width: 768px) {
p.axon-is-easy {
  font-size: 1.6em;
  margin-bottom: -1em;
}
.school-selection {
  width: 50%;
  margin: 1em auto;
}
.section-header {
  padding: 1em;
}
.pic-box {
  width: 50%;
  margin: 3em auto 1em;
}
}





/* Full view */

@media (min-width: 1000px) {
.school-selection-box {
  width: 40%;
  margin: auto;
}
.school-selection {
  display: inline-block;
  width: 49%;
  height: ;
  text-align: center;
  background-color: #0095AC;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  font-size: 0.8em;
}
.numbers-banner-box {

}
.number-banner {
  display: inline-block;
  width: 33%;
  border: none;
  vertical-align: top;
}
.pic-box {
  width: 33%;
  display: inline-block;
  padding: 2em;
  vertical-align: top;
  margin: 0;
}
}
</style>

<div class="top-image-bg">
  <div class="row landing-page lp-first-section">
    <h1 class="center white shadow top-padding headline">Meet your personal campus tutor</h1>
    <h2 class="center blue-3 shadow bottom-margin headline">Choose your campus:</h2>
    <div class="school-selection-box">
      <p class="school-selection">University of Georgia</p>
      <p class="school-selection">Georgia State</p>
      <p class="school-selection">Appalachian State</p>
      <p class="school-selection">Kennesaw State</p>
    </div>
    <p class="center white shadow">Book your in-person & on-campus tutor in just two minutes</p>
    <div class="numbers-banner-box">
      <p class="number-banner top-banner">Join over <span class="big-numbers">2,000+</span> students on Axon</p>
      <p class="number-banner">Over <span class="big-numbers">6,000+</span> tutoring sessions</p>
      <p class="number-banner">Featured in: The Odyssey | Red & Black</p>
    </div>
  </div>
</div>
<div class="landing-page lp-second-section">
  <div class="section-header">
    <p class="axon-is-easy">Axon is the easiest way to get through your toughest college classes</p>
  </div>
  <div class="pic-box-trio">
    <div class="pic-box">
      <%= image_tag('panda.png', class: 'trio-pic') %>
      <p class="pic-caption">1. Select your class</p>
      <p class="pic-details">Find the class you are struggling with on your specific campus</p>
    </div>
    <div class="pic-box">
      <%= image_tag('panda.png', class: 'trio-pic') %>
      <p class="pic-caption">2. Choose a tutor & time</p>
      <p class="pic-details">Browse through vetted tutors and then select a time that works for you</p>
    </div>
    <div class="pic-box">
      <%= image_tag('panda.png', class: 'trio-pic') %>
      <p class="pic-caption">3. Meet right on campus</p>
      <p class="pic-details">Meet with your personal tutor on campus at an arranged location</p>
    </div>
  </div>
</div>
<div class="landing-page lp-third-section">
  <div class="section-header">
    <p>Still have questions?</p>
    <%= link_to 'Check out our FAQs', faqs_path, class: 'faqs-link' %>
  </div>
</div>
<div class="divider-line"><!-- THIS IS THE THIN BLUE LINE --></div>
<div class="landing-page lp-fourth-section">
  <div class="section-header">
    <p>What makes Axon different?</p>
  </div>
  <div class="four-differences-boxes">
    <div class="difference-box">
      <i class="fi-marker difference-icon"></i>
      <p class="section-sub-header">Tutors meet you <span>on-campus & in-person</span></p>
      <p class="difference-text">We believe that learning is a social activity. So when you book through Axon, your tutor meets you in-person on your campus.</p>
    </div>
    <div class="difference-box">
      <i class="fi-zoom-in difference-icon"></i>
      <p class="section-sub-header">Get help for your <span>specific class</span></p>
      <p class="difference-text">In college, every class is different. Every professor's teaching style is different. With Axon, get a local tutor who understands your specific environment.</p>
    </div>
    <div class="difference-box">
      <i class="fi-checkbox difference-icon"></i>
      <p class="section-sub-header">Every booking is <span>confirmed</span></p>
      <p class="difference-text">When you need a tutor, you need one fast. Within minutes of selecting your class and tutor, you will have a confirmed booking notification in your email.</p>
    </div>
    <div class="difference-box">
      <i class="fi-price-tag difference-icon"></i>
      <p class="section-sub-header">Pricing is <span>simple</span></p>
      <p class="difference-text">Pricing is simple with Axon. Tutors set their own rates (the average is $23/hr.) and we charge a standard convenience fee to students for using our service.</p>
    </div>
  </div>
</div>
<div class="divider-line"><!-- THIS IS THE THIN BLUE LINE --></div>
<div class="landing-page lp-fifth-section">
  <div class="section-header">
    <p>Thousands of students are getting better grades with Axon tutors</p>
    <p class="section-sub-header">What students are saying</p>
  </div>
  <div class="two-testimonial-boxes">
    <div class="testimonial-box">
      <div class="testimonial-pic">
        <%= image_tag('doge.png', class: 'testimonial-pic') %>
      </div>
      <div class="testimonial-text">
        <p>"I've used Axon for the past two years and don't know how I would have gotten through my clases without them. I feel much more prepared before each test I take and the tutoring is very personalized to every student's learning style."</p>
        <p class="testimonial-name">Amy Beres, '18</p>
      </div>
    </div>
    <div class="testimonial-box">
      <div class="testimonial-pic">
        <%= image_tag('doge.png', class: 'testimonial-pic') %>
      </div>
      <div class="testimonial-text">
        <p>"Axon is my go-to whenever I need a little extra help with whatever subject I'm struggling in. The tutors are always well-informed and capable of answering my questions. Axon tutoring is a great study tool because I can have one-on-one attention that fits into my own schedule."</p>
        <p class="testimonial-name">Chandler Johnson, '18</p>
      </div>
    </div>
  </div>
</div>
<div class="landing-page lp-sixth-section">
  <div class="section-header">
    <p class="white">Select your campus to get started</p>
  </div>
  <div class="campus-pic-boxes">
    <div class="campus-pic-box uga-box">
      <p class="campus-pic-title">UGA</p>
    </div>
    <div class="campus-pic-box gsu-box">
      <p class="campus-pic-title">GSU</p>
    </div>
    <div class="campus-pic-box ksu-box">
      <p class="campus-pic-title">KSU</p>
    </div>
    <div class="campus-pic-box app-box">
      <p class="campus-pic-title">APP</p>
    </div>
  </div>
</div>