<%= javascript_include_tag "single_views/indirect_search" %>
<%= javascript_include_tag "single_views/search" %>

<div class="search-header">
  <div class="row small-collapse">
    <div class="small-12 medium-11 medium-centered columns">
      <div class="row">
        <div class="small-12 medium-4 columns">
          <div class="row">
            <div class="small-12 columns">
              <h4 class="find-your-tutor">Find Your Tutor</h4>
            </div>
          </div>
        </div>
        <div class="small-12 medium-8 columns">
          <div class="row medium-collapse course-search-box">
            <div class="small-12 medium-5 columns">
              <%= render '/course_selector/subject' %>
            </div>
            <div class="small-12 medium-5 columns">
              <%= render '/course_selector/course' %>
            </div>
            <div class="small-12 medium-2 columns">
              <button id='course-search-submit', class='custom-button full-width hover-dark-blue'>Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row small-collapse">
  <div class="small-12 columns">
    <div id="tutorCardContainer" class="cards">
      <p class="margin-top-1em margin-left-2em">Find your local <%= @school.name %> tutor.</p>
      <p class="margin-left-2em">Select a subject and course to begin.</p>
    </div>
  </div>
</div>