<%= javascript_include_tag "single_views/search_from_home" %>
<%= javascript_include_tag "single_views/search" %>
<section class="tutor-search-filter">
  <div class="wrapper">
    <h1 class="title">Book your tutor</h1>
    <form class="search-criteria">
      <div class="field-container">
        <label for="select">Select</label>
        <%= render '/course_selector/school' %>
      </div>
      <div class="field-container">
        <label for="select">Select</label>
        <%= render '/course_selector/subject' %>
      </div>
      <div class="field-container">
        <label for="select">Select</label>
        <%= render '/course_selector/course' %>
      </div>
      <div class="field-container">
        <input id="tutorSearchButton" type="button" class="btn btn--search" value="Search"></input>
      </div>
    </form>
  </div>
</section>

<section class="tutor-profiles" role="main">
  <div class="wrapper">
    <div id="tutorCardContainer" class="cards">
      <p>Welcome</p>
    </div>
  </div>
</section>