<style>
/* Do NOT remove this CSS! It must be in the view to dynamically select the correct campus picture to use as the background image */
.lp-first-section {
  background: url('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/miscellaneous/default-campus.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}
</style>
<% content_for (:special_nav) do %>
  <%= render 'layouts/partials/special_navs/student_landing_nav' %>
<% end %>
<div class="landing-page lp-first-section">
  <div class="row">
    <div class="small-12 columns">
      <h1 class="center white shadow top-padding headline">Meet your personal campus tutor</h1>
      <h3 class="center white shadow bottom-margin headline">Choose your campus:</h3>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 medium-centered columns">
        <%= form_for 'visitor', url: set_school_path do |f| %>
      <div class="row medium-collapse">
        <div class="small-12 medium-9 columns">
            <%= f.collection_select(:school_id, School.all, :id, :name, {prompt: 'Select School'}, {id: 'student-landing-school-select', required: true}) %>
        </div>
        <div class="small-12 medium-3 columns">
            <%= f.submit 'Go', class: 'custom-button full-width', id: 'student-landing-search-button' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <p class="center white shadow book-two-mins">Book your in-person & on-campus tutor in just two minutes</p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="row number-banner">
        <div class="small-12 medium-3 columns">
          <p class="big-number">2,000+</p>
          <p class="fine-print numbers">Students using Axon</p>
        </div>
        <div class="small-12 medium-3 columns">
          <p class="big-number">6,000+</p>
          <p class="fine-print numbers">Succesful tutoring sessions</p>
        </div>
        <div class="small-12 medium-6 columns">
          <div class="row">
            <div class="small-12 columns">
              <p class="fine-print logos">Featured in:</p>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 columns">
              <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/miscellaneous/odyssey.png', class: 'odyssey-logo') %>
            </div>
            <div class="small-12 medium-6 columns">
              <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/miscellaneous/red-n-black.png', class: 'red-black-logo') %>
            </div>
          </div>
        </div>
<!--         <div class="small-12 medium-4 columns">
          <p>Join over <span class="big-numbers">2,000</span> students on Axon</p>
        </div>
        <div class="small-12 medium-4 columns">
          <p>Over <span class="big-numbers">6,000</span> tutoring sessions</p>
        </div>
        <div class="small-12 medium-4 columns">
          <p>Featured in: The Odyssey | Red & Black</p>
        </div> -->
      </div>
    </div>
  </div>
</div>
<%= render '/single_views/home_and_get_started_landing' %>