<style>
/* Do NOT remove this CSS! It must be in the view to dynamically select the correct campus picture to use as the background image */
.lp-first-section {
  background: url("<%= 'assets/unicorn.jpg' %>") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}
</style>

<% content_for (:special_nav) do %>
  <%= render 'layouts/partials/special_navs/tutor_landing_nav' %>
<% end %>
<a name="sign-up-form"></a>
<div class="landing-page lp-first-section">
  <div class="row">
    <div class="small-12 medium-6 columns">
      <div class="tutor-headline">
        <h1>Axon gives you the tools to build your own tutoring business</h1>
      </div>
    </div>
    <div class="small-12 medium-6 columns">
      <div class="tutor-form">
        <%= render 'tutors/tutor_sign_up_form' %>
      </div>
    </div>
  </div>
</div>
<div class="landing-page lp-3-steps-section">
  <div class="section-header">
    <p>Join Axon and get booked by college students for appointments on campus</p>
  </div>
  <div class="pic-box-trio">
    <div class="pic-box">
      <%= image_tag('panda.png', class: 'trio-pic') %>
      <p class="pic-caption">1. Register and create a profile</p>
      <p class="pic-details">Find the class you are struggling with on your specific campus</p>
    </div>
    <div class="pic-box">
      <%= image_tag('panda.png', class: 'trio-pic') %>
      <p class="pic-caption">2. Select classes you want to tutor</p>
      <p class="pic-details">Browse through vetted tutors and then select a time that works for you</p>
    </div>
    <div class="pic-box">
      <%= image_tag('panda.png', class: 'trio-pic') %>
      <p class="pic-caption">3. Set your availabilty and get booked</p>
      <p class="pic-details">Meet with your personal tutor on campus at an arranged location</p>
    </div>
  </div>
</div>
<div class="divider-line"><!-- THIS IS THE THIN BLUE LINE --></div>
<div class="landing-page lp-differences-section">
  <div class="section-header">
    <p>What makes Axon different?</p>
  </div>
  <div class="four-differences-boxes">
    <div class="difference-box">
      <i class="fi-marker difference-icon"></i>
      <p class="section-sub-header">You set your own rate and keep 100% of your fee</p>
      <p class="difference-text">We believe that learning is a social activity. So when you book through Axon, your tutor meets you in-person on your campus.</p>
    </div>
    <div class="difference-box">
      <i class="fi-zoom-in difference-icon"></i>
      <p class="section-sub-header">Be your own boss and set your own hours</p>
      <p class="difference-text">In college, every class is different. Every professor's teaching style is different. With Axon, get a local tutor who understands your specific environment.</p>
    </div>
    <div class="difference-box">
      <i class="fi-checkbox difference-icon"></i>
      <p class="section-sub-header">Every booking is confirmed</p>
      <p class="difference-text">When you need a tutor, you need one fast. Within minutes of selecting your class and tutor, you will have a confirmed booking notification in your email.</p>
    </div>
    <div class="difference-box">
      <i class="fi-price-tag difference-icon"></i>
      <p class="section-sub-header">Pricing is simple</p>
      <p class="difference-text">Pricing is simple with Axon. Tutors set their own rates (the average is $23/hr.) and we charge a standard convenience fee to students for using our service.</p>
    </div>
  </div>
</div>
<div class="divider-line"><!-- THIS IS THE THIN BLUE LINE --></div>
<div class="landing-page lp-testimonial-section">
  <div class="section-header">
    <p>Thousands of students are getting better grades with Axon tutors</p>
    <p class="section-sub-header">What students are saying</p>
  </div>
  <div class="two-testimonial-boxes">
    <div class="testimonial-box">
      <div class="testimonial-pic">
        <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/landing_page_resources/tutor-testimonial-dibble.jpeg', class: 'testimonial-pic') %>
      </div>
      <div class="testimonial-text">
        <p>"Axon gave me the pay that I deserved and the flexibility that my traditional university job didn't provide."</p>
        <p class="testimonial-name">- Michael D., 1934-3009 A.D.</p>
        <p>Joined: Aug 2014</p>
        <p>Earned $3,452 in 4 months</p>
      </div>
    </div>
    <div class="testimonial-box">
      <div class="testimonial-pic">
        <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/landing_page_resources/tutor-testimonial-mary.jpeg', class: 'testimonial-pic') %>
      </div>
      <div class="testimonial-text">
        <p>"I love the flexibility that Axon gives me to create my own schedule."</p>
        <p class="testimonial-name">Mary L., 4 B.C. - 96 A.D.</p>
        <p>Joined: Aug 2014</p>
        <p>Earned $3,925 in 4 months</p>
      </div>
    </div>
  </div>
</div>
<div class="divider-line"><!-- THIS IS THE THIN BLUE LINE --></div>
<div class="landing-page lp-faqs-section">
  <%= link_to anchor: 'sign-up-form' do %>
    <button class="custom-button bottom-register-button">Register to Tutor</button>
  <% end %>
  <div class="section-header">
    <p>Still have questions?</p>
    <%= link_to 'Check out our FAQs', faqs_path, class: 'faqs-link' %>
  </div>
</div>