<div class="row">
  <h1>Start tutoring with Axon</h1>
</div>

<div class="row">
  <%= form_for @tutor_course do |f| %>

    <h4>What courses do you want to tutor?</h4>
    
      <%= fields_for :course do |course| %>
        <div class="small-3 columns">
          <%= course.label "University" %>
          <%= course.collection_select :school_id, School.all, :id, :name, include_blank: true %>
        </div>
        <div class="small-3 columns">
          <%= course.label "Subject" %>
          <%= course.collection_select :subject_id, Subject.all, :id, :name, include_blank: true  %>
        </div>
        <div class="small-3 columns">
          <%= course.label "Course" %>
          <%= course.select :course_id, Course.list_courses, include_blank: true  %>
        </div>
      <% end %>

      <div class="small-3 columns">
        <%= f.label :rate %>
        <%= f.number_field :rate %>
      </div>

    <h4>Why would you be a great tutor?</h4>

      <%= fields_for :tutor do |tutor| %>
        <%= tutor.label :extra_info, "Qualifications, noteworthy experiences, goals, fun facts etc. (Students will see this on your tutor profile)" %>
        <%= tutor.text_field :extra_info %>
      <% end %>

    <h4>Now, upload your unofficial transcript</h4>

      <%= fields_for :tutor, :html => { :multipart => true } do |form| %>
        <%= form.file_field :transcript %>
      <% end %>

      <%= "UPLOAD UNOFFICIAL TRANSCRIPT" %>
    
    <%= f.submit "Next", class: 'button' %>
  <% end %>
</div>
