<div class="row small-collapse medium-uncollapse">
  <div class="small-12 columns">
    <h4 class="section-title">Why Axon?</h4>
  </div>
</div>
<div class="row small-collapse">
  <div class="small-12 medium-8 medium-centered columns">
    <span style="display: inline-flex">
      <%= image_tag('two_thirds.svg', class: 'fraction') %>
      <h3 class="inline dark-gray left-align">of students who book an Axon tutor 2+ times</br> report a whole letter grade improvement</h3>
    </span>
  </div>
</div>
<div class="row small-collapse">
  <div class="small-12 medium-8 medium-centered columns">
    <%= image_tag('c_to_b_graph.svg', class: 'vertical-margin-1em') %>
    <%= image_tag('dotted_line.svg', class: 'vertical-margin-1em') %>
  </div>
</div>
<div class="row small-collapse medium-uncollapse">
  <div class="small-12 large-8 large-centered columns">
    <h4>Axon works with students to prevent:</h4>
  </div>
</div>
<div class="row small-collapse medium-uncollapse">
  <div class="small-12 medium-4 columns">
    <%= image_tag('axon_star.svg', class: 'vertical-margin-1em') %>
    <h5>Losing Scholarships</h5>
    <p>We help students keep grades high enough to maintain their scholarship</p>
  </div>
  <div class="small-12 medium-4 columns">
    <%= image_tag('axon_star.svg', class: 'vertical-margin-1em') %>
    <h5>Withdrawing from Class</h5>
    <p>We save valuable time and money by helping students pass on the first try</p>
  </div>
  <div class="small-12 medium-4 columns">
    <%= image_tag('axon_star.svg', class: 'vertical-margin-1em') %>
    <h5>Hurting Application Process</h5>
    <p>We help position students in the top percentage of applicants for jobs and academic programs</p>
  </div>
</div>
<div class="row small-collapse">
  <div class="small-12 medium-6 medium-centered columns">
    <a href="#landing-search">
      <button class="custom-button full-width book-button">Book a Tutor</button>
    </a>
  </div>
</div>