<% 7.times do |count| %>
  <li>  
    <div class="calendar-column">
      <p class="day"><%= @availability_data[count][:date].strftime('%A') %></p>
      <p class="date"><%= @availability_data[count][:date].strftime('%m/%d') %></p>
      <% if @availability_data[count][:times] %>
        <% @availability_data[count][:times].each do |data| %>
          <div class="appt-time-box">
            <label>
              <input type="checkbox" id="<%=data[:uniq_id]%>" class="<%=data[:reserved]%>" value="<%=data[:datetime].to_s+'----'+data[:slot_id].to_s%>" name="appt_selection[<%= data[:uniq_id] %>]" onchange="saveApptTimeAndMarkPills(this)">
              <div class="appt-time"><%= data[:datetime].in_time_zone(@school.timezone).strftime('%l:%M %p') %></div>
            </label>
          </div>
        <% end %>
      <% end %>
    </div>
  </li>
<% end %>

<script>
window.onload = function start() { 
  // Calls 2 methods
  //
  // 1. Reselects appt times selected by current user during session  (in case of page refresh)
  // 2. Disables reserved times due to existing bookings or tutor's booking buffer

  // 1. Reselects appt times selected by current user during session  (in case of page refresh)
  if (gon.selected_appt_ids != null){
    var selectedApptIds = gon.selected_appt_ids
    var arrayLength = selectedApptIds.length;
    for (var i = 0; i < arrayLength; i++) {
      var checkbox = document.getElementById(selectedApptIds[i]);
      if(checkbox != null) {
        checkbox.checked = true;
        checkbox.onchange();
      }
    }
  }

  // 2. Disables reserved times due to existing bookings or tutor's booking buffer
  var reservedAppts = document.getElementsByClassName("reserved")
  if (reservedAppts.length > 0) {
    for (var i = 0; i < reservedAppts.length; i++) {
      // disable reserved time
      var checkbox = reservedAppts[i];
      checkbox.disabled = true;
      // disabled 30 mins before and after reserved time (if those times exist)
      var checkboxID = parseInt(checkbox.id);
      var checkboxBefore = document.getElementById(checkboxID - 1);
      if (checkboxBefore) {
        checkboxBefore.disabled = true;
      }
      var checkboxAfter = document.getElementById(checkboxID + 1);
      if (checkboxAfter) {
        checkboxAfter.disabled = true;
        checkboxAfter.classList.add('override-gray');
      }
    }
  }
};

function saveApptTimeAndMarkPills(element) {
  var selected = parseInt(element.id);
  var appt_info = element.value

  // this if/else is new and acts to add/remove appt_info from session variables integral to checkout process
  if(element.checked) {
    $.post('appt_time', {checkbox_id: selected, appt_info: appt_info, checkbox: 'selected'});
  }
  else {
    $.post('appt_time', {checkbox_id: selected, appt_info: appt_info, checkbox: 'deselected'});
  }

  var TwoBefore = document.getElementById(selected - 2);
  var Before = document.getElementById(selected - 1);
  var After = document.getElementById(selected + 1);
  var TwoAfter = document.getElementById(selected + 2);

  if (element.checked) { // When a time is SELECTED
    if (Before != null) {
      Before.disabled = true;
    }
    if (After != null) {
      After.disabled = true;
      After.classList.add("second-half-of-appt");
    }
  } else { // When a time is DE-SELECTED
    // Before is the time pill immediately before...
    if (Before != null) {
      if (TwoBefore == null) { // if TwoBefore does not exist, should turn from gray to empty (take away disabled)
        Before.disabled = false;
      } else if (TwoBefore.checked == true) { // if 2before is selected, should do nothing (stay green and disabled)
        // do nothing
      } else { // if TwoBefore is not selected, should turn from gray to empty
        Before.disabled = false;
      }
    }
    // After is the time pill immediately after...
    if (After != null) {
      if(TwoAfter == null) { // if TwoAfter does not exist, should turn from green to empty (take away disabled & second-half of appt)
        After.disabled = false;
        After.classList.remove('second-half-of-appt');
      } else if (TwoAfter.checked == true) { // if TwoAfter is selected, should turn from green to gray
        After.disabled = true;
        After.classList.remove('second-half-of-appt')
      } else { // if TwoAfter is not selected, should change from green to empty
        After.disabled = false;
        After.classList.remove('second-half-of-appt');
      }
    }
  }
}
</script>