<% 7.times do |count| %>
  <li>  
    <div class="calendar-column">
      <p class="day"><%= @availability_data[count][:date].strftime('%A') %></p>
      <p class="date"><%= @availability_data[count][:date].strftime('%m/%d') %></p>
      <% if @availability_data[count][:times] %>
        <% @availability_data[count][:times].each do |data| %>
          <div class="appt-time-box">
            <label>
              <input type="checkbox" name="appt_selection[<%= data[:uniq_id] %>]" id="<%= data[:uniq_id] %>" value="<%= data[:datetime].to_s + '----' + data[:slot_id].to_s %>" onchange="disableNeighborCheckboxes(this)">
              <div class="appt-time"><%= data[:time] %></div>
            </label>
          </div>
        <% end %>
      <% end %>
    </div>
  </li>
<% end %>

<script>
window.onload = function setSelectedAppts() {
  if (gon.selected_appt_ids != null){
    var selectedApptIds = gon.selected_appt_ids
    var arrayLength = selectedApptIds.length;
    for (var i = 0; i < arrayLength; i++) {
      var checkbox = document.getElementById(selectedApptIds[i]);
      checkbox.checked = true;
      checkbox.onchange();
    }
  }
};


function disableNeighborCheckboxes(element) {
  var selected = parseInt(element.id);
  checkboxTwoBeforeId = selected - 2;
  checkboxBeforeId = selected - 1;
  checkboxAfterId = selected + 1;
  checkboxTwoAfterId = selected + 2;
  
  var checkboxTwoBefore = document.getElementById(checkboxTwoBeforeId);
  var checkboxBefore = document.getElementById(checkboxBeforeId);
  var checkboxAfter = document.getElementById(checkboxAfterId);
  var checkboxTwoAfter = document.getElementById(checkboxTwoAfterId);
  
  if (element.checked) {
    // element checked - triggered when click event MAKES IT checked
    if (checkboxBefore != null) {
      checkboxBefore.disabled = true;
    }
    if (checkboxAfter != null) {
      checkboxAfter.disabled = true;
    }
  } else {
    // element NOT checked - triggered when click event MAKES IT un-checked
    if (checkboxAfter != null) {
      checkboxAfter.disabled = false;
    }
    if (checkboxTwoBefore == null) {
      if (checkboxBefore != null) {
        checkboxBefore.disabled = false;
      }
    } else if (checkboxTwoBefore.checked != true) {
      checkboxBefore.disabled = false;
    }
    if (checkboxTwoAfter != null) {
      if (checkboxTwoAfter.checked) {
        checkboxAfter.disabled = true;
      }
    }
  }
};
</script>