<%= render '/dashboard/tutor/profile/tutor_profile' %>


<div class="row">
  <div class="small-12 columns">
    <div class="box">
      <div class="checkout-step-title">
        <div class="row">
          <div class="small-12 columns">
            <p>Checkout</p>
          </div>
        </div>
      </div>
      <div class="checkout-step-body">
        <div class="row small-collapse">
          <div class="small-12 columns">
            <div class="row">
              <div class="small-12 medium-6 columns">
                <div class="box">
                  <h6>Your Booking</h6>
                  <p>Tutor: <%= @booking_preview[:tutor].first_name + @booking_preview[:tutor].last_name.slice(0) %></p>
                  <p>Course: <%= @booking_preview[:course].formatted_name %></p>
                  <p>Location: <%= @booking_preview[:location] %></p>
                  <p>Rate: <%= @booking_preview[:rate] %></p>
                  <h6>Appointments</h6>
                  <% @booking_preview[:appointments].each do |k,v| %>
                    <p><%= v[:start_time] %></p>
                  <% end %>
                </div>
              </div>
              <div class="small-12 medium-6 columns">
                <div class="box">
                  <h6>Promo Codes</h6>
                </div>
              </div>
            </div>
            <%= render '/checkout/payment_options' %>
          </div>
        </div>
      </div>
      <div class="checkout-steps-nav">
        <div class="row small-collapse">
          <div class="small-12 columns">
            <div class="row small-collapse">
              <div class="small-12 medium-3 columns">
                <%= link_to "Back to Search", search_path, class: 'checkout-button gray' %>
              </div>
              <div class="small-12 medium-6 columns">
                <p id="selected-course"></p>
              </div>
              <div class="small-12 medium-3 columns">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% console %>