<%= render '/dashboard/tutor/profile/tutor_profile' %>

<div class="row">
  <div class="small-12 columns">
    <div class="checkout-step-title">
      <div class="row">
        <div class="small-12 columns">
          <p>Confirmation</p>
        </div>
      </div>
    </div>
    <div class="checkout-step-body">
      <div class="row small-collapse">
        <div class="small-12 columns"> 
          <div class="row">
            <div class="small-12 columns">
              <h5 class="center margin-auto margin-top-1em margin-bottom-1em">Your booking is complete!</h5>
              <p class="center margin-auto">Your tutor will contact you soon to confirm a meeting location.</p>
              <p class="center margin-auto">If you have any questions or concerns, please <%= link_to 'contact us here.', contact_path, class: 'blue-link' %></p>
              <p class="center margin-auto margin-bottom-1em">Thank you for using Axon!</p>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns medium-6 medium-centered columns">
              <h5>Appointment Summary</h5>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 medium-centered columns">
              <%= render '/checkout/review_and_confirm_partials/appointment_summary' %>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 medium-centered columns">
              <h5>Appointment Times</h5>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 medium-centered columns">
              <%= render '/checkout/review_and_confirm_partials/appointment_times' %>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 medium-centered columns">
              <h5>Booking Summary</h5>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 medium-centered columns">
              <%= render '/checkout/review_and_confirm_partials/price_summary' %>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 medium-centered columns">
              <h5 class="payment-info-title">Payment Info</h5>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 medium-centered columns">
              <%= render '/checkout/review_and_confirm_partials/card_info' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="checkout-steps-nav">
      <div class="confirmation-bottom-filler">
      </div>
    </div>
  </div>
</div>