<%= render '/dashboard/tutor/profile/tutor_profile' %>

<div class="row">
  <div class="small-12 columns">
    <div class="checkout-step-title">
      <div class="row">
        <div class="small-12 columns">
          <p>Checkout</p>
        </div>
      </div>
    </div>
    <div class="checkout-step-body padding-1em">
      <div class="row small-collapse">
        <div class="small-12 columns">
              
          <div class="row">
            <div class="small-12 columns medium-6 columns">
              <h4>Booking Details</h4>
            </div>
            <div class="small-12 columns medium-6 columns">
              <h4>Appointments</h4>
            </div>
          </div>

          <div class="row">
            <div class="small-12 medium-6 columns">
              <table>
                <tbody>
                  <tr>
                    <td><b>Tutor</b></td>
                    <td><%= @booking_preview[:tutor].first_and_last_initial %></td>
                  </tr>
                  <tr>
                    <td><b>Course</b></td>
                    <td><%= @booking_preview[:course].formatted_name %></td>
                  </tr>
                  <tr>
                    <td><b><b>Location</b></td>
                    <td><%= @booking_preview[:location] %></td>
                  </tr>
                  <tr>
                    <td><b>Hourly Rate</b></td>
                    <td>$<%= @booking_preview[:rate] %></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="small-12 medium-6 columns">
              <table>
                <tbody>
                  <% appt_count = 1 %>
                  <% @booking_preview[:appointments].each do |k,v| %>
                    <tr>
                      <td>#<b><%= appt_count %></b></td>
                      <td><%= v[:start_time].to_datetime.strftime('%B %e, %Y at %l:%M %p') %></td>
                    </tr>
                    <% appt_count += 1 %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="small-12 columns">
              <h4 class="margin-top-2em">Booking Summary</h4>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
               <div class="box">
                  <div class="row">
                    <div class="small-12 medium-6 columns">
                      <h6>Charge Tally/Math</h6>
                    </div>
                    <div class="small-12 medium-6 columns">
                      <h6>Promo Codes</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-12 columns">
              <h4 class="margin-top-2em">Complete Your Booking</h4>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <div class="box">
                <div class="row">
                  <div class="small-12 medium-6 columns">
                    <h6>Account Information</h6>

                    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :method => 'post', :html => { :role => 'form'}) do |f| %>
                      <%= devise_error_messages! %>
                      <%= f.text_field :first_name, placeholder: 'First Name', :autofocus => true, class: 'form-control', required: true %>
                      <select required name="user[student][school_id]">
                        <option value="" disabled="true" selected="true">Select Campus</option>
                        <% School.all.each do |school| %>
                          <option value="<%= school.id %>"><%= school.name %></option>
                        <% end %>
                      </select>
                      <%= f.email_field :email, placeholder: 'Email', :autofocus => true, class: 'form-control', required: true %>
                      <%= f.password_field :password, placeholder: 'Password', class: 'form-control', required: true %>
                      <%= f.hidden_field :checkout_redirect, value: @tutor.id %>
                    <% end %>

                  </div>
                  <div class="small-12 medium-6 columns">
                    <h6>Payment Information</h6>

                    <form action="/tutors/<%= @tutor.slug %>/payment_options" method="POST" id="payment-form">
                      <span class="payment-errors"></span>

                      <div class="form-row">
                        <label>
                          <span>Card Number</span>
                          <input type="text" size="20" data-stripe="number"/>
                        </label>
                      </div>
                          <label>
                            <span>CVC</span>
                            <input type="text" size="4" data-stripe="cvc"/>
                          </label>

                          <label>
                            <span>Expiration (MM)</span>
                            <input type="text" size="2" data-stripe="exp-month"/>
                          </label>

                          <span>(YYYY)</span>
                          <input type="text" size="4" data-stripe="exp-year"/>

                      <button type="submit">Submit Payment</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="checkout-steps-nav">
      <div class="row small-collapse">
        <div class="small-12 columns">
          <div class="row small-collapse">
            <div class="small-12 medium-3 columns">
              <%= link_to "Back to Search", search_path, class: 'checkout-button gray' %>
            </div>
            <div class="small-12 medium-6 columns">
              <p id="selected-course"></p>
            </div>
            <div class="small-12 medium-3 columns">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% console %>