<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">

  window.onload = function() {
    if (gon.free_session != null && gon.free_session == true){
      var paymentFields = document.getElementsByClassName("payment-field");
      var arrayLength = paymentFields.length;
      for (var i = 0; i < arrayLength; i++) {
        var field = paymentFields[i];
        field.required = false;
        field.disabled = true;
        field.checked = false;
      }
    }
  }

  // This identifies your website in the createToken call below
  Stripe.setPublishableKey("<%= ENV['stripe_public_key'] %>");
  // ...

  jQuery(function($) {
    $('#payment-form').submit(function(event) {
      var $form = $(this);

      // Disable the submit button to prevent repeated clicks
      $form.find('#submit-payment').prop('disabled', true);

      if($('input#default-card').is(':checked')) {
        $form.get(0).submit();
      } else if (gon.free_session != null && gon.free_session == true) { 
        $form.get(0).submit();
      } else {
        Stripe.card.createToken($form, stripeResponseHandler);
        // Prevent the form from submitting with the default action
        return false;
      }      
      
    });
  });

  function stripeResponseHandler(status, response) {
    var $form = $('#payment-form');

    if (response.error) {
      // Show the errors on the form
      $form.find('.checkout-card-errors').text(response.error.message);
      $form.find('#submit-payment').prop('disabled', false);
    } else {
      // response contains id and card, which contains additional card details
      var token = response.id;
      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      // and submit
      $form.get(0).submit();
    }
  };

</script>
<%= render '/dashboard/tutor/profile/tutor_profile' %>
<div class="checkout-process-screen">
  <a= id="review-booking"></a>
  <div class="row small-collapse medium-uncollapse">
    <div class="small-12 columns">
      <div class="checkout-step-title">
        <p>Checkout</p>
      </div>
      <div class="checkout-step-body">
        <div class="row">
          <div class="small-12 columns medium-6 columns">
            <div class="margin-top-1em">
              <h5>Appointment Summary</h5>
              <%= render '/checkout/review_and_confirm_partials/appointment_summary' %>
            </div>
          </div>
          <div class="small-12 columns medium-6 columns">
            <div class="margin-top-1em">
              <h5>Appointment Times</h5>
              <%= render '/checkout/review_and_confirm_partials/appointment_times' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-6 columns">
            <div class="margin-top-1em">
              <h5 class="margin-top-2em">Booking Summary</h5>
              <%= render '/checkout/review_and_confirm_partials/price_summary' %>
            </div>
          </div>
          <div class="small-12 medium-6 columns">
            <div class="margin-top-1em">
              <h5 class="margin-top-2em">Promotions</h5>
              <%= render '/checkout/review_and_confirm_partials/promotions' %>
            </div>
          </div>
        </div>
        <div class="checkout-form margin-top-3em">
          <% if current_user %>
            <% if current_user.student && current_user.student.customer_id %>
              <%= render '/checkout/payment_screens/returning_user_saved_card' %>
            <% elsif current_user.student %>
              <%= render '/checkout/payment_screens/returning_user_no_card' %>
            <% elsif current_user.tutor %>
              <%= render '/checkout/payment_screens/tutor_error_message' %>
            <% end %>
          <% else %>
            <%= render '/checkout/payment_screens/new_user' %>
          <% end %>
        </div>
      </div>
      <div class="checkout-steps-nav">
        <div class="row small-collapse">
          <div class="small-12 medium-3 columns">
              <%= link_to "Back to Set a Location", checkout_select_location_path(@tutor.slug, anchor: 'set-location'), class: 'checkout-button gray' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>