<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey("<%= ENV['stripe_public_key'] %>");
  // ...

  jQuery(function($) {
    $('#payment-form').submit(function(event) {
      var $form = $(this);

      // Disable the submit button to prevent repeated clicks
      $form.find('button').prop('disabled', true);

      if($('input#default-card').is(':checked')) {
        console.log('CHECKED!');
        $form.get(0).submit();
      } else {
        Stripe.card.createToken($form, stripeResponseHandler);
        // Prevent the form from submitting with the default action
        return false;
      }      
      
    });
  });

  function stripeResponseHandler(status, response) {
    var $form = $('#payment-form');

    if (response.error) {
      // Show the errors on the form
      $form.find('.checkout-card-errors').text(response.error.message);
      $form.find('button').prop('disabled', false);
    } else {
      // response contains id and card, which contains additional card details
      var token = response.id;
      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      // and submit
      $form.get(0).submit();
    }
  };

</script>

<%= render '/dashboard/tutor/profile/tutor_profile' %>

<div class="row">
  <div class="small-12 columns">
    <div class="checkout-step-title">
      <div class="row">
        <div class="small-12 columns">
          <p>Checkout</p>
        </div>
      </div>
    </div>
    <div class="checkout-step-body padding-1em">
      <div class="row small-collapse">
        <div class="small-12 columns">      
          <div class="row">
            <div class="small-12 columns medium-6 columns">
              <h5>Appointment Summary</h5>
            </div>
            <div class="small-12 columns medium-6 columns">
              <h5>Appointment Times</h5>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 columns">
              <%= render '/checkout/review_and_confirm_partials/appointment_summary' %>
            </div>
            <div class="small-12 medium-6 columns">
              <%= render '/checkout/review_and_confirm_partials/appointment_times' %>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 columns">
              <h5 class="margin-top-2em">Booking Summary</h5>
            </div>
            <div class="small-12 medium-6 columns">
              <h5 class="margin-top-2em">Promotions</h5>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 columns">
              <%= render '/checkout/review_and_confirm_partials/price_summary' %>
            </div>
            <div class="small-12 medium-6 columns">
              <%= render '/checkout/review_and_confirm_partials/promotions' %>
            </div>
          </div>

          <div class="checkout-form margin-top-3em">

            <% if current_user %>
              <% if current_user.student && current_user.student.customer_id %>
                <%= render '/checkout/payment_screens/returning_user_saved_card' %>
              <% elsif current_user.student %>
                <%= render '/checkout/payment_screens/returning_user_no_card' %>
              <% elsif current_user.tutor %>
                <%= render '/checkout/payment_screens/tutor_error_message' %>
              <% end %>
            <% else %>
              <%= render '/checkout/payment_screens/new_user' %>
            <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="checkout-steps-nav">
      <div class="row small-collapse">
        <div class="small-12 columns">
          <div class="row small-collapse">
            <div class="small-12 medium-3 columns">
              <%= link_to "Back to Set a Location", checkout_select_location_path(@tutor.slug), class: 'checkout-button gray' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>