<%= render '/dashboard/tutor/profile/tutor_profile' %>

<div class="row">
  <div class="small-12 columns">
    <div class="box">
      <div class="checkout-step-title">
        <div class="row">
          <div class="small-12 columns">
            <p>Select a Course</p>
          </div>
        </div>
      </div>
      <div class="checkout-step-body">
        <div class="row small-collapse">
          <div class="small-12 columns">
            
            <% @tutor.course_list_by_subject.each do |subject, courses| %>

              <div class="row medium-collapse subject-row">
                <div class="small-12 medium-3 columns">
                  <p class="subject-title"><%= subject %></p>
                </div>
                <div class="small-12 medium-9 columns">
                
                <% courses.each do |course| %>
                  <div class="course-box">
                    <label>
                      <input type="checkbox" value="<%= course[:id] %>" name="<%= course[:friendly_name] %>">
                      <div class="row course-list-row">
                        <div class="small-12 medium-4 columns">
                          <p class="course-text"><%= course[:short_name] %></p>
                        </div> 
                        <div class="small-12 medium-7 columns">
                          <p class="course-text"><%= course[:friendly_name] %></p>
                        </div>
                        <div class="small-12 medium-1 columns">
                          <p class="course-text">$<%= course[:rate] %></p>
                        </div>
                      </div>
                    </label>
                  </div>      
                <% end %>

                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>
      <div class="checkout-steps-nav">
        <div class="row small-collapse">
          <div class="small-12 columns">
            <div class="row small-collapse">
              <div class="small-12 medium-3 columns">
                <%= link_to "Previous Step", tutor_path(@tutor.slug, course: 1, current: @start_date.to_s, week: 1), class: 'checkout-button gray' %>
              </div>
              <div class="small-12 medium-6 columns">
                <p id="selected-course"></p>
              </div>
              <div class="small-12 medium-3 columns">
                <%= link_to "Next Step", tutor_path(@tutor.slug, course: 1, current: @start_date.to_s, week: 1), class: 'checkout-button' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  $( "input[type='checkbox']" ).change(function() {
    $('input[type=checkbox]').addClass('out-of-focus');
    $('input[type=checkbox]').prop('checked', false);
    $(this).removeClass('out-of-focus');
    $(this).prop('checked', true);
    $('#selected-course').html(this.name);
  });
});

</script>