<div class="admin-wrapper">
  <div class="row">
    <div class="medium-9 columns">
      <h3>Search Courses</h3>
    </div>
    <div class="medium-3 columns">
      <%= link_to 'Add New Courses', new_admin_course_path, class: 'custom-button full-width gray' %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= search_form_for @q, url: search_admin_courses_path, html: { method: :post } do |f| %>
        <div class="box margin-bottom-1em">
          <div class="row">
            <div class="medium-3 columns">
              <%= f.label :school_id_eq, 'School' %>
              <% if current_user.role == 'campus_manager' %>
                <%= f.select(:school_id_eq, options_for_select([[@school.name, @school.id]])) %>
              <% else %>
                <%= f.collection_select(:school_id_eq, School.all, :id, :name, include_blank: true) %>
              <% end %>
            </div>
            <div class="medium-3 columns">  
              <%= f.label :subject_id_eq, 'Subject' %>
              <%= f.collection_select(:subject_id_eq, Subject.all, :id, :name, include_blank: true) %>
            </div>
            <div class="medium-2 columns">  
              <%= f.label :call_number_eq, 'Call Number' %>
              <%= f.search_field :call_number_eq %>
            </div>
            <div class="medium-2 columns"> 
              <%= button_to 'Reset', '/admin/tutors', class: 'custom-button short-width blue margin-top-1em' %>
            </div>
            <div class="medium-2 columns">   
              <%= f.submit class: 'custom-button short-width margin-top-1em' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <h6>Total Results: <%= @courses_total.count %></h6>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>School</th>
            <th>Subject</th>
            <th>Call Number</th>
            <th>Friendly Name</th>
            <th>Tutors</th>
            <th>Appointments</th>
          </tr>
        </thead>
        <tbody>
          <% @courses.each do |course| %>
          <tr>
            <td><%= link_to course.id, admin_course_path(course) %></td>
            <td><%= link_to course.school.name, admin_school_path(course.school) %></td>
            <td><%= course.subject.name %></td>
            <td><%= course.call_number %></td>
            <td><%= course.friendly_name %></td>
            <td><%= course.tutors.count %></td>
            <td><%= course.appointments.count %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= paginate @courses %>
    </div>
  </div>
</div>