<div class="row">
  <div class="medium-8 columns">
    <h3 class="margin-top-1em">Add New Courses</h3>
  </div>
  <div class="medium-4 columns">
    <%= link_to 'Back to Courses List', admin_courses_path, class: 'custom-button full-width gray margin-top-1em' %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="box vertical-margin-1em">
      <div class="row">
        <div class="small-12 columns">
          <h3>Enter a Course List</h3>
        </div>
      </div>
      <div class="row">
        <%= form_for :course_list_setup, url: '/admin/courses/new_course_list', method: :post do |f| %>
          <div class="large-3 columns">
            <%= f.label :school_id, 'School' %>
            <% if current_user.role == 'campus_manager' %>
              <%= f.select(:school_id, options_for_select([["#{@school.name}", @school.id]])) %>
            <% else %>
              <%= f.collection_select(:school_id, School.all, :id, :name, include_blank: true) %>
            <% end %>
          </div>

          <div class="large-3 columns">
            <%= f.label :subject_id, 'Subject' %>
            <%= f.collection_select(:subject_id, Subject.all, :id, :name, include_blank: true) %>
          </div>

          <div class="large-3 columns">
            <%= f.label :form_length, 'Number of Courses' %>
            <%= f.number_field :form_length %>
          </div>

          <div class="large-3 columns">
            <%= f.submit 'Start List', class: 'custom-button full-width margin-top-1em' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="box vertical-margin-1em">
      <div class="row">
        <div class="small-12 columns">
          <h3>Upload CSV file</h3>
        </div>
      </div>
      <div class="row">
        <%= form_for @csv_course_list, url: review_csv_course_list_admin_courses_path, method: :post do |f| %>
          <div class="large-3 columns">
            <%= f.label :school_id, 'School' %>
            <% if current_user.role == 'campus_manager' %>
              <%= f.select(:school_id, options_for_select([["#{@school.name}", @school.id]])) %>
            <% else %>
              <%= f.collection_select(:school_id, School.all, :id, :name, include_blank: true, required: true) %>
            <% end %>
          </div>

          <div class="large-3 columns">
            <%= f.label :subject_id, 'Subject' %>
            <%= f.collection_select(:subject_id, Subject.all, :id, :name, include_blank: true, required: true) %>
          </div>

          <div class="large-3 columns">
            <%= f.label :csv_file, 'CSV File' %>
            <%= f.file_field :csv_file, required: true  %>
          </div>

          <div class="large-3 columns">
            <%= f.submit 'Upload CSV', class: 'custom-button full-width margin-top-1em' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>