<div class="row">
  <div class="small-12 columns">
    <h3>New Course</h3>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <fieldset class="search-field-panel">
      <legend class="search-field-legend">Add a Single Course</legend>  
      <div class="row">
        <%= form_for :course, url: admin_courses_path do |f| %>
        <div class="small-3 columns">
          <%= f.label :school_id, 'School' %>
          <% if current_user.role == 'campus_manager' %>
            <%= f.select(:school_id, options_for_select([["#{@school.name}", @school.id]])) %>
          <% else %>
            <%= f.collection_select(:school_id, School.all, :id, :name, include_blank: true) %>
          <% end %>
        </div>

        <div class="small-3 columns">
          <%= f.label :subject_id, 'Subject' %>
          <%= f.collection_select(:subject_id, Subject.all, :id, :name, include_blank: true) %>
        </div>

        <div class="small-3 columns">
          <%= f.label :call_number %>
          <%= f.text_field :call_number %>
        </div>

        <div class="small-3 columns">
          <%= f.label :friendly_name %>
          <%= f.text_field :friendly_name %>
        </div>
      </div>
      <div class="row">
        <div class="small-3 columns small-offset-9">
          <%= f.submit 'Create Course', class: 'button medium expand' %>
          <% end %>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <fieldset class="search-field-panel">
      <legend class="search-field-legend">Enter a Course List</legend>
      <div class="row">
        <%= form_for :course_list_setup, url: '/admin/courses/new_course_list', method: :post do |f| %>
          <div class="large-3 columns">
            <%= f.label :school_id, 'School' %>
            <% if current_user.role == 'campus_manager' %>
              <%= f.select(:school_id, options_for_select([["#{@school.name}", @school.id]])) %>
            <% else %>
              <%= f.collection_select(:school_id, School.all, :id, :name, include_blank: true) %>
            <% end %>
          </div>

          <div class="large-3 columns">
            <%= f.label :subject_id, 'Subject' %>
            <%= f.collection_select(:subject_id, Subject.all, :id, :name, include_blank: true) %>
          </div>

          <div class="large-3 columns">
            <%= f.label :form_length, '# of Courses to Add' %>
            <%= f.number_field :form_length %>
          </div>

          <div class="large-3 columns">
            <%= f.submit 'Start List', class: 'button expand success' %>
          </div>
        <% end %>
      </div>
    </fieldset>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <fieldset class="search-field-panel">
      <legend class="search-field-legend">Upload CSV file</legend>
      <div class="row">
        <%= form_for @csv_course_list, url: preview_csv_course_list_admin_courses_path, method: :post do |f| %>
          <div class="large-3 columns">
            <%= f.label :school_id, 'School' %>
            <% if current_user.role == 'campus_manager' %>
              <%= f.select(:school_id, options_for_select([["#{@school.name}", @school.id]])) %>
            <% else %>
              <%= f.collection_select(:school_id, School.all, :id, :name, include_blank: true, required: true) %>
            <% end %>
          </div>

          <div class="large-3 columns">
            <%= f.label :subject_id, 'Subject' %>
            <%= f.collection_select(:subject_id, Subject.all, :id, :name, include_blank: true, required: true) %>
          </div>

          <div class="large-3 columns">
            <%= f.label :csv_file, 'CSV File' %>
            <%= f.file_field :csv_file, required: true  %>
          </div>

          <div class="large-3 columns">
            <%= f.submit 'Upload CSV', class: 'button expand success' %>
          </div>
        <% end %>
      </div>
    </fieldset>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= link_to 'All Courses', admin_courses_path, class: 'button secondary' %>
  </div>
</div>