<div class="row">
  <div class="medium-8 columns">
    <h3>Course ID: <%= @course.id %></h3>
    <h1><%= @course.friendly_name %></h1>
  </div>
  <div class="medium-4 columns">
    <%= link_to 'Back to Course List', admin_courses_path, class: 'custom-button full-width gray' %>
  </div>
</div>

<!-- Course Details -->

<div class="row">
  <div class="medium-12 columns">
    <h4>Details</h4>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>School</th>
          <th>Subject</th>
          <th>Call Number</th>
          <th>Friendly Name</th>
          <th>Tutors</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @course.id %>
          <td><%= @course.school.name %></td>
          <td><%= @course.subject.name %></td>
          <td><%= @course.call_number %></td>
          <td><%= @course.friendly_name %></td>
          <td><%= @course.tutors.count %></td>
          <td><%= link_to 'Edit', edit_admin_course_path(@course) %>
          <td><a href="#" data-reveal-id="confirmDeleteCourse">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Appointments -->

<div class="row">
  <div class="small-12 columns">
    <h4>Appointments</h4>
    <p>Total: <%= @course.appointments.count %></p>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Tutor</th>
          <th>Student</th>
          <th>Course</th>
          <th>Date</th>
          <th>Time</th>
          <th>Status</th>
          <th>School</th>
        </tr>
      </thead>
      <tbody>
        <% @course.appointments.each do |appt| %>
          <tr>
            <td><%= link_to appt.id, "/admin/appointments/#{appt.id}", class: 'id-link-for-admin' %></td>
            <td><%= link_to appt.slot.tutor.full_name, admin_tutor_path(appt.tutor) %></td>
            <td><%= link_to appt.student.full_name, admin_student_path(appt.tutor) %></td>
            <td><%= link_to appt.course.formatted_name, admin_course_path(appt.course) %></td>
            <td><%= appt.date %>
            <td><%= appt.time %></td>
            <td><%= appt.status %></td>
            <td><%= link_to appt.school.name, admin_school_path(appt.school) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- Students -->

<div class="row">
  <div class="small-12 columns">
    <h4>Students</h4>
    <p>Total: <%= @course.students.count %></p>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>School</th>
          <th>Appts</th>
          <th>Recent Appt.</th>
          <th>Last Appt.</th>
          <th>Last Sign In</th>
          <th>Courses</th>
          <th>Joined</th>
          <th>Contact</th>
          <th>Stripe Customer ID</th>
        </tr>
      </thead>
      <tbody>
        <% @course.students.each do |student| %>
          <tr>
            <td><%= link_to student.id, admin_student_path(student), class: 'id-link-for-admin' %></td>
            <td><%= student.full_name %></td>
            <td><%= student.school.name %></td>
            <td><%= student.appointments.count %></td>
            <td><%= student.recent_appt? %></td>
            <td><%= student.last_appointment.start_time.strftime('%-m-%d-%y') if student.last_appointment %>
            <td><%= student.user.last_sign_in_at.strftime('%-m-%d-%y') if student.user.last_sign_in_at  %></td>
            <td><%= student.courses %></td>
            <td><%= student.user.created_at.strftime('%-m-%d-%y') %></td>
            <td><%= student.email %></br></br><%= student.phone_number %></td>
            <td><% if student.customer_id %><%= link_to student.customer_id, stripe_customer_link(student.customer_id), target: '_blank' %><% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<!-- Tutors -->

<div class="row">
  <div class="medium-12 columns">
    <h4>Tutors</h4>
    <p>Total: <%= @course.tutors.count %></p>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Active Status</th>
          <th>School</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Total Bookings</th>
          <th>Application Status</th>
          <th>Applied On</th>
        </tr>
      </thead>
      <tbody>
        <% @course.tutors.each do |tutor| %>
          <tr>
            <td><%= link_to tutor.id, admin_tutor_path(tutor), class: 'id-link-for-admin' %></td>
            <td><%= tutor.active_status %></td>
            <td><%= tutor.school.name %></td>
            <td><%= tutor.user.full_name %></td>
            <td><%= tutor.email %></td>
            <td><%= tutor.phone_number %></td>
            <td><%= tutor.appointments.count %></td>
            <td><%= tutor.application_status %></td>
            <td><%= tutor.created_at.strftime('%-m-%d-%y') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal for deleting course -->
<div id="confirmDeleteCourse" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <%= render 'confirm_delete' %>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<!-- End of modal -->