<h1>List Tutors</h1>

<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>School</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @tutors.each do |tutor| %>
        <tr>
          <td><%= tutor.id %></td>
          <td><%= tutor.user.full_name %></td>
          <td><%= tutor.user.email %></td>
          <td><% tutor.schools.each do |school| %>
                <%= school %><br>
              <% end %>
          </td>
          <td><%= tutor.status %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
