<style>
.select-wrapper {
  border: #a8a8a8;
}
.select-menu {
  width: 100%;
  color: #a8a8a8;
}
.one-half {
  display: inline-block;
  width: 49%;
}
input.submit-button {
  width: 100%;
  margin-top: 2em;
}
.tiny-text {
  font-size: 0.8em;
}
.tiny-text.example {
  margin-bottom: 0.1em;
}
.top-section-title {
  margin-top: 0;
  padding-top: 2em;
}
.statement-instructions {
}
.statement-field {
  margin-bottom: 2em;
}
.file-input-box {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 1em 0;   
}
input.file-input {
  width: 100%;
  height: 3em;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
}
button.file-input-button {
  width: 100%;
  height: 3em;
  float: right;
  background-color: #2BC2DE;
}
.plus-sign-box {
  float: left;
}
</style>
  <a name="application"></a>

  <div class="small-12 medium-6 columns">
    <h4>Complete Your Application</h4>

    <%= form_for @tutor, url: submit_application_tutor_path do |f| %>

      <h6>Tell us about your education</h6>

      <%= f.text_field :major, placeholder: 'Major', required: true %>

      <div class="one-half">
        <div class="select-wrapper">
          <%= f.select(:degree, options_for_select(["Degree", "Bachelor's", "Master's", "PhD"], selected: 'Degree', disabled: 'Degree'), {required: true} , {class: 'select-menu'}) %>
        </div>
      </div>

      <div class="one-half">
        <%= f.text_field :graduation_year, placeholder: 'Graduation Year', required: true %>
      </div>

      <p class="tiny-text">If you have not graduated yet, select your expected degree type and graduation year</p>


      <h6>Tell us a little about yourself with three short statements</h6>

      <p class="tiny-text statement-instructions">A preview of each statement will appear in search results for students. The entire statements will be visible on your profile. We suggest that two of your statements explain why you're a great tutor and one of them shows your personality in a fun, friendly way.</p>
      <p class="tiny-text example">"Two years of tutoring experience for the Math department."</p>
      <div class="input statement-field">
        <%= f.text_area :extra_info_1, placeholder: 'Statement #1', required: true %>
      </div>
      <p class="tiny-text example">"Honor Roll student for 3 semesters."</p>
      <div class="input statement-field">
        <%= f.text_area :extra_info_2, placeholder: 'Statement #2', required: true %>
      </div>

      <p class="tiny-text example">"Hiked the Appalachian trail for 3 weeks last summer."</p>
      <div class="input statement-field">
        <%= f.text_area :extra_info_3, placeholder: 'Statement #3', required: true %>
      </div>

      <h6>Upload your unofficial transcript or resume</h6>

      <div class="file-input-box">
        <button class="file-input-button">
          <div class="plus-sign-box">
            <span class="fi-plus"></span>
          </div>
          Transcript or Resume
        </button>
        <%= f.file_field :transcript, class: 'file-input', required: true %>
      </div>

      <h6>Upload a profile picture</h6>

      <div class="file-input-box">
        <button class="file-input-button">
          <div class="plus-sign-box">
            <span class="fi-plus"></span>
          </div>
          Profile Picture
        </button>
        <%= f.file_field :profile_pic, class: 'file-input', required: true  %>
      </div>

      <%= f.submit 'Submit Application', class: 'button success expand large' %>

    <% end %>
  </div>
</div>