<style>
.application-title-box {
  display: block;
  border-radius: 2px;
  background-color: #0095AC;
  width: 30em;
  margin: 2em auto 0;
}
.application-box {
  display: block;
  padding: 0 3em 3em;
  border-radius: 2px;
  background-color: #0095AC;
  width: 30em;
  margin: 0 auto 2em;
}
.application-title {
  margin: 0;
  padding: 1em 0 0;
  color: white;
  text-align: center;
  font-size: 2em;
}
.select-wrapper {
  border: #a8a8a8;
}
.select-menu {
  width: 100%;
  color: #a8a8a8;
}
.one-half {
  display: inline-block;
  width: 49%;
}
input.submit-button {
  width: 100%;
  margin-top: 2em;
}
.tiny-text {
  font-size: 0.8em;
  color: white;
}
.white {
  color: white;
}
.top-section-title {
  margin-top: 0;
  padding-top: 2em;
}
.statement-instructions {
  margin: 2em 0;
}
.statement-field {
  margin-bottom: 2em;
}
.file-input-box {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 1em 0;   
}
input.file-input {
  width: 100%;
  height: 3em;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
}
button.file-input-button {
  width: 100%;
  height: 3em;
  float: right;
  background-color: #2BC2DE;
}
.plus-sign-box {
  float: left;
}

</style>

<div class="application-title-box">
  <h2 class="application-title">Complete Your Application</h2>
</div>

<div class="application-box">
  <a name="application"></a>
  <%= form_for @tutor, url: submit_application_tutor_path do |f| %>

    <h4 class="white top-section-title">Tell us about your education:</h4>

    <%= f.text_field :major, placeholder: 'Major', required: true %>

    <div class="one-half">
      <div class="select-wrapper">
        <%= f.select(:degree, options_for_select(["Degree", "Bachelor's", "Master's", "PhD"], selected: 'Degree', disabled: 'Degree'), {required: true} , {class: 'select-menu'}) %>
      </div>
    </div>

    <div class="one-half">
      <%= f.text_field :graduation_year, placeholder: 'Graduation Year', required: true %>
    </div>

    <p class="tiny-text">If you have not graduated yet, select your expected degree type and graduation year</p>


    <h4 class="white">Tell us a little about yourself with three short statements:</h4>

    <p class="tiny-text statement-instructions"><b>Statement #1</b> will be visible on your Tutor card - a condensed form of your profile that appears in search results - and should tell students why you are a great tutor.</p>
    <p class="tiny-text">Example 1:</br>
    "Two years of tutoring experience for the Math department."</p>
    <div class="input statement-field">
      <%= f.text_field :extra_info_1, placeholder: 'Statement #1', required: true %>
    </div>

    <p class="tiny-text statement-instructions"><b>Statements #2 and #3</b> will be visible on your profile in it's full view (outside of search). We suggest that one of these continues to show your qualifications to be a tutor and the other shows some of your personality with a fun or interesting fact about you.</p>
    <p class="tiny-text">Example 2:</br>
    "Honor Roll student for 3 semesters."</p>
    <div class="input statement-field">
      <%= f.text_field :extra_info_2, placeholder: 'Statement #2', required: true %>
    </div>

    <p class="tiny-text">Example 3:</br>
    "Hiked the Appalachian trail for 3 weeks last summer."</p>
    <div class="input statement-field">
      <%= f.text_field :extra_info_3, placeholder: 'Statement #3', required: true %>
    </div>

    <h4 class="white">Upload your unofficial transcript or resume and a profile picture:</h4>

    <div class="file-input-box">
      <button class="btn file-input-button">
        <div class="plus-sign-box">
          <span class="fi-plus"></span>
        </div>
        Unofficial Transcript or Resume
      </button>
      <%= f.file_field :transcript, class: 'file-input', required: true %>
    </div>

    <div class="file-input-box">
      <button class="btn file-input-button">
        <div class="plus-sign-box">
          <span class="fi-plus"></span>
        </div>
        Profile Picture
      </button>
      <%= f.file_field :profile_pic, class: 'file-input', required: true  %>
    </div>

    <%= f.submit 'Submit Application', class: 'submit-button' %>

  <% end %>
</div>