<script>
$(document).ready(function()
  {
    $('#transcript-input').change(function () {
        $('#transcript-name-target').html($('#transcript-input').val().split("\\").pop()); 
    });
    $('#picture-input').change(function () {
        $('#picture-name-target').html($('#picture-input').val().split("\\").pop()); 
    });
});
</script>

<a name="application"></a>
<div class="row">
  <div class="small-12 medium-5 columns">
    <h4>Complete Your Application</h4>

    <%= form_for @tutor, url: submit_application_tutor_path do |f| %>

      <h6>Tell us about your education</h6>

      <%= f.text_field :major, placeholder: 'Major', class: 'border-radius', required: true %>

      <p class="tiny-text">If you have not graduated yet, select your expected degree type and graduation year</p>

      <div class="one-half">
        <%= f.select(:degree, options_for_select(Tutor.degree_collection, selected: 'Degree', disabled: 'Degree'), {required: true} , {class: 'select-menu'}) %>
      </div>

      <div class="one-half">
        <%= f.text_field :graduation_year, placeholder: 'Graduation Year', class: 'border-radius', required: true %>
      </div>

      <p class="tiny-text"><b>Additional degrees summary (optional):</b> if you have multiple degrees, please highlight your highest degree in the fields above and list your other degrees in this field. Do not include your graduation year for these extra degrees.</p>

      <%= f.text_field :additional_degrees, placeholder: 'B.A. Biology, B.S. Micro-Biology', class: 'border-radius' %>

      <h6>Tell us a little about yourself with three short statements</h6>

      <p class="tiny-text statement-instructions">A preview of each statement will appear in search results for students. The entire statements will be visible on your profile. We suggest that two of your statements explain why you're a great tutor and one of them shows your personality in a fun, friendly way.</p>
      <p class="tiny-text example">Ex. 1: "Two years of tutoring experience for the Math department."</p>
      <div class="input statement-field">
        <%= f.text_area :extra_info_1, placeholder: 'Statement #1', required: true %>
      </div>
      <p class="tiny-text example">Ex. 2: "Honor Roll student for 3 semesters."</p>
      <div class="input statement-field">
        <%= f.text_area :extra_info_2, placeholder: 'Statement #2', required: true %>
      </div>

      <p class="tiny-text example">Ex. 3: "Hiked the Appalachian trail for 3 weeks last summer."</p>
      <div class="input statement-field">
        <%= f.text_area :extra_info_3, placeholder: 'Statement #3', required: true %>
      </div>

      <h6>Upload your unofficial transcript or resume</h6>

      <div class="file-input-box">
        <div class="file-input-button">
          Transcript or Resume
        </div>
        <%= f.file_field :transcript, id: 'transcript-input', class: 'file-input', required: true %>
      </div>
      <p id="transcript-name-target"></p>

      <h6>Upload a profile picture</h6>

      <div class="file-input-box">
        <div class="file-input-button">
          Profile Picture
        </div>
        <%= f.file_field :profile_pic, id: 'picture-input', class: 'file-input', required: true  %>
      </div>
      <p id="picture-name-target"></p>

      <p class="tiny-text">That's it! Review your application and then submit it for a decision from the Axon Tutor management team within 48 hours. Go ahead and finish the rest of the checklist to make sure you're ready to start tutoring as quickly as possible.</p>

      <%= f.submit 'Submit Application', class: 'custom-button margin-bottom' %>

    <% end %>
  </div>
</div>