<div class="row">
  <div class="small-11 small-centered columns">
<div class="row">
  <h1>Start tutoring with Axon</h1>
  <h4 class="subheader">...it's as simple as 1-2-3</h4>
</div>

<div class="row">
  <%= form_for @tutor, :url => (form_url) , :html => { :multipart => true } do |f| %>

    <fieldset>
      <h4>1) Select your school and one class to tutor:</h4>
      <%= render 'dashboard/courses/course_selector' %>
      <h6 class="subheader">You can add more classes and manage them all from your tutor dashboard after sign-up</h6>
    </fieldset>

    <fieldset>
      <h4>2) Tell us one thing you want your students to know about you:</h4>

        <%= f.label :extra_info, "Qualifications, noteworthy experiences, goals, fun facts etc. (Students will see this on your tutor profile)" %>
        <%= f.text_field :extra_info, :required => true %>
    </fieldset>

    <fieldset>
      <h4>3) Upload your unofficial transcript</h4>

        <%= f.file_field :transcript, :required => true %>

    </fieldset>

      <%= f.submit "Next", class: 'button expand success' %>
  <% end %>
</div>
</div>
</div>