<style>
.sign-up-form-container {
  display: block;
  width: 40%;
  margin: auto;
}
.sign-up-form-box {
  display: block;
  border: 2px solid #0095AC;
  padding: 1em;
  border-radius: 2px;
  background-color: #0095AC;
}
.cell {
  display: block;
}
.row {
  display: block;
  width: 100%;
}
.one-half {
  display: inline-block;
  width: 49.5%;
}
.one-third {
  display: inline-block;
  width: 32.5%;
}
.tiny-text {
  font-size: 0.8em;
  color: white;
}
.left-pad {
  padding-left: 0.3em;
}
.right-pad {
  padding-right: 0.3em;
}
input.btn.blue {
  background-color: #58AA4D;
}

</style>
<%= javascript_include_tag "dashboard/courses" %>

<div class="sign-up-form-container">
  <div class="sign-up-form-box">

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
      <div class="row">
        <p class="tiny-text">Get started by creating an account and selecting your school.</p>
      </div>
      <div class="row">
        <div class="one-half right-pad">
          <%= f.text_field :first_name, placeholder: 'First Name', required: true  %>
        </div>
        <div class="one-half left-pad">
           <%= f.text_field :last_name, placeholder: 'Last Name', required: true %>
        </div>
      </div>
        
      <div class="row">
        <div class="one-half right-pad">
          <%= f.email_field :email, placeholder: 'Email', required: true %>
        </div>
        <div class="one-half left-pad">
          <%= f.password_field :password, placeholder: 'Password', required: true  %>
        </div>
      </div>

      <div class="row">
        <div class="one-half right-pad">
          <%= f.fields_for :tutor do |tt| %>
            <%= tt.text_field :phone_number, placeholder: 'Phone Number', required: true %>
          <% end %>            </div>
        <div class="one-half left-pad">
          <%= render '/course_selector/school' %>
        </div>
      </div>
    
  
      <%= f.fields_for :tutor do |tt| %>
        <!-- This section below creates a tutor's first tutor-course. The code for creating the TutorCourse is in 'user.rb' in the method 'create_tutor_account(user, params)' -->
      <div class="row">
        <p class="tiny-text">Set your first course with an hourly rate ( you can add more later )</p>
      </div>
      <div class="row">
        <div class="one-third">
          <%= render '/course_selector/subject' %>
        </div>
        <div class="one-third">
          <%= render '/course_selector/course' %>
        </div>
        <div class="one-third">
          <%= render '/course_selector/rate' %>
        </div>
      </div>
  
      <% end %>
      
      <%= f.submit "Next", class: 'btn blue' %>
    <% end %>
  </div>
</div>