<%= javascript_include_tag "dashboard/courses" %>

<div class="sign-up-form-box">
  <p class="sign-up-title">Register to Tutor with Axon</p>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <%= f.text_field :first_name, placeholder: 'First Name', required: true  %>
    <%= f.email_field :email, placeholder: 'Email', required: true %>
    <%= f.password_field :password, placeholder: 'Password', required: true  %>
    <%= f.fields_for :tutor do |tt| %>
      <%= tt.text_field :phone_number, placeholder: 'Phone Number', required: true %>
    <% end %>
    <%= render '/course_selector/school' %>
    <!-- The section below creates a tutor's first tutor-course. The code for creating the TutorCourse is in 'user.rb' in the method 'create_tutor_account(user, params)' -->
    <%= f.fields_for :tutor do |tt| %>
      <p>Create your first course - you can add more later. The average rate is $23/hr.</p>
      <%= render '/course_selector/subject' %>
      <%= render '/course_selector/course' %>
      <%= render '/course_selector/rate' %>
    <% end %>
    <%= f.submit "Register", class: 'button tiny expand radius green' %>
  <% end %>
</div>