<div class="row">
  <div class="medium-6 small-12 medium-centered columns">
    <fieldset>
      <h3>Sign up to become an Axon tutor</h3>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>

      <div class="row">
        <div class="medium-12 columns">
          
          <h5>Tutor Profile</h5>
            
          <div class="row">
            <div class="medium-12 columns">

              <p>Name</p>
              
              <div class="row">

                <div class="medium-6 small-12 columns">
                  <%= f.text_field :first_name, placeholder: 'First Name' %>
                </div>
                <div class="medium-6 small-12 columns">
                  <%= f.text_field :last_name, placeholder: 'Last Name' %>
                </div>

              </div>
            </div>
          </div>



          <div id="add_course_box">
            <%= javascript_include_tag "dashboard/courses" %>
            <% @options = (local_variables().include? :options) ? options : {} %>

            
            <div class="row">
              <div class="medium-12 columns">
                <p>School</p>
                <%= f.collection_select(:school_id, School.all, :id, :name, {prompt: 'School'}, {name: 'course[school_id]', id: 'school', required: true} ) %>   
              </div>
            </div>

            <p class="fine-print">You can only tutor at one school<p>

            <div class="row">
              <div class="medium-12 columns">
                <%= f.fields_for :tutor_attributes do |t| %>

                <p>Your First Course</p>

                <div class="row">
                  <div class="medium-4 columns">
                    <select name="course[subject_id]" id="subject" required="true">
                      <option disabled="true" selected="true" value="">Subject</option>
                    </select>
                  </div>
                  <div class="medium-4 columns">
                    <select name="course[course_id]" id="course" required="true">
                      <option disabled="true" selected="true" value="">Course</option>
                    </select>
                  </div>
                  <div class="medium-4 columns">
                    <div class="row collapse">
                      <div class="small-2 large-2 columns">
                        <span class="prefix">$</span>
                      </div>
                      <div class="small-7 medium-4 large-5 columns">
                        <input name="tutor_course[rate]" id="rate" type="number" required="true" min="1" step="1" pattern="\d*" placeholder="25" style="text-align: center; border-right-width: 0px;">
                      </div>
                      <div class="small-3 medium-6 large-5 columns">
                        <span class="postfix">per hour</span>
                      </div>
                    </div>
                  </div>
                </div>

                <% end %>

              </div>
            </div>

            <p class="fine-print">You can add more courses later in your tutor dashboard<p>

          </div> <!-- End of add-course-box -->










          <div class="row">
            <div class="medium-12 columns">
              <p>Qualifications, experiences, goals, fun facts etc.</p>
              <%= f.fields_for :tutor_attributes do |tt| %>
                <%= tt.text_field :extra_info, :required => true %>
              <% end %>
            </div>
          </div>

          <p class="fine-print">This will appear on your public tutor profile<p>

          <div class="row">
            <div class="medium-12 columns">
              <h5>Account Information</h5>
              <%= f.email_field :email, placeholder: 'Email' %>
              <%= f.password_field :password, placeholder: 'Password' %>
              <%= f.fields_for :tutor_attributes do |x| %>
                <%= x.text_field :phone_number, placeholder: 'Phone Number' %>
              <% end %>
            </div>
          </div>
      
          <div class="row">
            <div class="medium-12 columns">
              <%= f.submit "Next", class: 'button expand success' %>
            </div>
          </div>

        </div>
      </div>

      <% end %>
    </fieldset>
  </div>
</div>