<section class="main register login" role="main">
  <div class="wrapper">
    <h1 class="title">Register to tutor with Axon</h1>
    <div class="callout--login-redirect">
      <p>Already Registered? <a href="#">Login Here</a></p>
    </div>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <div class="row">
      <div class="medium-12 columns">         
        <h5>Tutor Profile</h5>
        <div class="row">
          <div class="medium-12 columns">
            <p>Name</p>
            <div class="row">
              <div class="medium-6 small-12 columns">
                <%= f.text_field :first_name, placeholder: 'First Name' %>
              </div>
              <div class="medium-6 small-12 columns">
                <%= f.text_field :last_name, placeholder: 'Last Name' %>
              </div>
            </div>
          </div>
        </div>

        <div id="add_course_box">
          <%= javascript_include_tag "dashboard/courses" %>

          <div class="row">
            <div class="medium-12 columns">
              <p>School</p>
              <%= render '/course_selector/school' %>
            </div>
          </div>

          <p class="fine-print">You can only tutor at one school<p>

          <div class="row">
            <div class="medium-12 columns">
              <%= f.fields_for :tutor do |tt| %>

              <p>Your First Course</p>

              <!-- This section below creates a tutor's first tutor-course. The code for creating the TutorCourse is in 'user.rb' in the method 'create_tutor_account(user, params)' -->

              <div class="row">
                <div class="medium-4 columns">
                  <%= render '/course_selector/subject' %>
                </div>
                <div class="medium-4 columns">
                  <%= render '/course_selector/course' %>
                </div>
                <div class="medium-4 columns">
                  <%= render '/course_selector/rate' %>
                </div>
              </div>

              <% end %>

            </div>
          </div>

          <p class="fine-print">You can add more courses later in your tutor dashboard<p>

        </div> <!-- End of add-course-box -->

        <div class="row">
          <div class="medium-12 columns">
            <p>Qualifications, experiences, goals, fun facts etc.</p>
            <%= f.fields_for :tutor do |tt| %>
              <%= tt.text_field :extra_info, :required => true %>
            <% end %>
          </div>
        </div>

        <p class="fine-print">This will appear on your public tutor profile<p>

        <div class="row">
          <div class="medium-12 columns">
            <h5>Account Information</h5>
            <%= f.email_field :email, placeholder: 'Email' %>
            <%= f.password_field :password, placeholder: 'Password' %>
            <%= f.fields_for :tutor do |tt| %>
              <%= tt.text_field :phone_number, placeholder: 'Phone Number' %>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="medium-12 columns">
            <%= f.submit "Next", class: 'button expand success' %>
          </div>
        </div>

      </div>
    </div>

    <% end %>

  </div>
</section>