<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Tutor</th>
          <th>Student</th>
          <th>Course</th>
          <th width="120">Date</th>
          <th width="120">Time</th>
          <th>Status</th>
          <th>School</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @appt.id %></td>
          <td><%= @appt.slot.tutor.full_name %></td>
          <td><%= @appt.student.full_name %></td>
          <td><%= @appt.course.formatted_name %></td>
          <td><%= @appt.date %>
          <td><%= @appt.time %></td>
          <td><%= @appt.status %></td>
          <td><%= @appt.slot.tutor.school.name %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <%= form_for @appt, url: campus_manager_school_appointment_path(@appt.school.id, @appt.id) do |f| %>
    <div class="large-2 columns">
      <%= f.label :status %>
      <%= f.select(:status, options_for_select([['Scheduled'],['Cancelled'],['Completed']]), include_blank: true) %>
    </div>

    <div class="large-2 columns">
      <%= f.label :slot_id %>
      <%= f.text_field :slot_id %>
    </div>

    <div class="large-2 columns">
      <%= f.label :student_id %>
      <%= f.text_field :student_id %>
    </div>

    <div class="large-2 columns">
      <%= f.label :course_id %>
      <%= f.text_field :course_id %>
    </div>

    <div class="large-4 columns">
      <%= f.label :start_time %>
      <%= f.datetime_select :start_time %>
    </div>

    <%= f.submit %>
  <% end %>
</div>