<div class="row">
  <div class="small-12 columns">
    <h3>Tutor Details</h3>
    <h1><%= @tutor.user.full_name %></h1>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Active Status</th>
          <th>School</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Total Bookings</th>
          <th>Joined</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @tutor.id %></td>
          <td><%= @tutor.active_status %></td>
          <td><%= @tutor.school.name %></td>
          <td><%= @tutor.user.email %></td>
          <td><%= @tutor.phone_number %></td>
          <td><%= @tutor.appointments.count %></td>
          <td><%= @tutor.created_at.strftime('%-m-%d-%y') %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <h4>Courses</h4>
    <table>
      <thead>
        <tr>
          <th>Subject</th>
          <th>Call Number</th>
          <th>Friendly Name</th>
          <th>Hourly Rate</th>
        </tr>
      </thead>
      <tbody>
        <% @tutor.tutor_courses.each do |tc| %>
        <tr>
          <td><%= tc.course.subject.name %></td>
          <td><%= tc.course.call_number %></td>
          <td><%= tc.course.friendly_name %></td>
          <td>$<%= tc.rate %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <h4>Actions</h4>
    <div class="box margin-bottom-1em">
      <div class="row">
        <div class="medium-3 columns">
          <% if @tutor.active_status == 'Inactive' && @tutor.application_status != 'Approved' %>
              <button class="button tiny secondary expand" disabled="true">Can't Activate Until Approved</button>
          <% elsif @tutor.active_status == 'Inactive' && @tutor.application_status == 'Approved' %>
            <%= form_for :tutor, url: admin_tutor_path(@tutor), method: 'patch' do |f| %>
                <%= f.hidden_field :active_status, value: 'Active' %>
                <%= f.submit 'Activate Tutor', class: 'custom-button short-width' %>
            <% end %>
          <% else %>
            <%= form_for :tutor, url: admin_tutor_path(@tutor), method: 'patch' do |f| %>
                <%= f.hidden_field :active_status, value: 'Inactive' %>
                <%= f.submit 'Deactivate Tutor', class: 'custom-button short-width danger' %>
            <% end %>
          <% end %>
        </div>
        <div class="medium-3 columns">
          <% if @tutor.application_status == 'Complete' %>
            <%= form_for :tutor, url: admin_tutor_path(@tutor), method: 'patch' do |f| %>
              <%= f.hidden_field :application_status, value: 'Approved' %>
              <%= f.submit 'Approve Application', class: 'custom-button short-width' %>
            <% end %>
          <% else %>
            <button class="custom-button short-width gray" disabled="true">Application <%= @tutor.application_status %></button>
          <% end %>
        </div>
        <div class="medium-3 columns">
          <%= mail_to @tutor.email, 'Email Tutor', class: 'custom-button short-width blue' %>
        </div>
        <% if current_user.role == 'admin' %> <!-- dont allow Campus Managers to destroy tutor records -->
          <div class="medium-3 columns">
            <a href="#" data-reveal-id="confirmTutorDestroy" class='custom-button short-width danger'>Destroy Tutor</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-12 columns">
    <h4>Profile</h4>
    <div class="box margin-bottom-1em">
      <%= render '/dashboard/tutor/profile/tutor_profile' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-12 columns">
    <h4>Appointment Settings</h4>
    <table>
      <thead>
        <tr>
          <th>Personal Note to Students</th>
          <th>Booking Buffer</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @tutor.appt_notes.blank? ? 'None' : @tutor.appt_notes %></td>
          <td><%= @tutor.booking_buffer %> hours</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<% if @tutor.transcript_url %>
  <div class="row">
    <div class="medium-12 columns">
      <h4>Transcript</h4>
      <div class="box margin-bottom-1em">
        <%= image_tag(@tutor.transcript_url) %>
        <%= link_to 'View in new window', @tutor.transcript_url, target: '_blank', class: 'blue-link' %>
      </div>
    </div>
  </div>
<% end %>

<!-- Confirmation model for destroying a Tutor account -->

<div id="confirmTutorDestroy" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Are you sure you want to destroy this tutor account?</h2>
  <p class="lead">All tutor information will be permanently deleted.</p>
  <p>If you only want to temporarily suspend a tutor's account, you can de-activate it instead.</p>
  <%= form_for :tutor, url: admin_tutor_path(@tutor), method: 'delete' do |f| %>
    <%= f.submit 'Destroy Tutor', class: 'button tiny expand alert' %>
  <% end %>
  <%= link_to 'Back', admin_tutor_path(@tutor), class: 'button tiny expand secondary'  %>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
