<div class="row">
  <div class="small-12 medium-5 medium-centered columns">
    <div class="box margin-top-2em">
      <div class="max-width-16em margin-auto">
        <h3 class="center">Forgot your password?</h3>
        <p class="center">We'll send password reset instructions.</p>
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
          </div>
           <%= f.submit 'Reset Password', class: 'custom-button full-width' %>
        <% end %>
      </div>
    </div>
  </div>
</div>