<div class="row">
  <div class="large-4 columns">
    <h3>Students</h3>
  </div>
</div>


<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>School</th>
          <th>Name</th>
          <th>Email</th>
          <th>Subjects</th>
          <th>Appointments</th>
          <th>Joined</th>
        </tr>
      </thead>
      <tbody>
      <% n = 1 %>
      <% @students.each do |student| %>
        <tr>
          <td><%= n %>
          <td><%= student.id %></td>
          <td><%= student.school.name %></td>
          <td><%= student.full_name %></td>
          <td><%= student.email %></td>
          <td><%= student.subjects %></td>
          <td><%= student.appointments.count %></td>
          <td><%= student.user.created_at.strftime('%-m-%d-%y') %></td>
        </tr>
        <% n += 1 %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>