<div class="row">
  <div class="small-12 medium-6 columns">
    <h3>Student List</h3>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= search_form_for @q, url: search_admin_students_path, html: { method: :post } do |f| %>
      <div class="box margin-bottom-1em">  
        <div class="row">
          <div class="medium-1 columns">
            <%= f.label :id_eq, 'ID' %>
            <%= f.search_field :id_eq %>
          </div>
          <div class="medium-2 columns">
            <%= f.label :user_first_name_cont, 'First Name' %>
            <%= f.search_field :user_first_name_cont %>
          </div>
          <div class="medium-2 columns">
            <%= f.label :user_last_name_cont, 'Last Name' %>
            <%= f.search_field :user_last_name_cont %>
          </div>
          <div class="medium-3 medium-offset-1 columns">
            <%= f.label :user_email_matches, 'Email' %>
            <%= f.search_field :user_email_matches %>
          </div>
          <div class="medium-3 columns">
            <%= f.label :school_id_eq, 'School' %>
            <% if current_user.role == 'campus_manager' %>
              <%= f.select(:school_id_eq, options_for_select([[@school.name, @school.id]])) %>
            <% else %>
              <%= f.collection_select(:school_id_eq, School.all, :id, :name, include_blank: true) %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="medium-3 medium-offset-6 columns">
            <%= button_to 'Reset', '/admin/students', class: 'custom-button short-width blue margin-top-1em' %>  
          </div>
          <div class="medium-3 columns">
            <%= f.submit class: 'custom-button short-width margin-top-1em' %>
          </div>
        </div>

  
<!--      number of appointments
          datepicker for appointments on date
          who had appts last week
          class booked
          days since last appointment -->

      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>School</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Appointments</th>
          <th>Joined</th>
        </tr>
      </thead>
      <tbody>
      <% n = 1 %>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.id %></td>
          <td><%= student.school.name %></td>
          <td><%= student.full_name %></td>
          <td><%= student.email %></td>
          <td><%= student.phone_number %></td>
          <td><%= student.appointments.count %></td>
          <td><%= student.user.created_at.strftime('%-m-%d-%y') %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= paginate @students %>
  </div>
</div>