<style>
.application-container {
  display: block;
  width: 100%;
}
.application-box {
  border: 1px solid #2BC2DE;
  display: block;
  width: 50%;
  min-width: 600px;
  margin: auto;
  background-color: #efefef;
}
.box-title {
  background-color: gray;
}
</style>

<div class="g">
  <div class="gi-center-80">

    <div class="application-box">
      <div class="box-title">
        <p>Complete your application</p>
      </div>
      <%= form_for @tutor do |f| %>

        <%= f.label :degree %>
        <%= f.select(:degree, options_for_select(["Bachelor's", "Master's", "PhD"],["#{@tutor.degree}"])) %>
        
        <%= f.label :major %>
        <%= f.text_field :major %>

        <%= f.label :graduation_year %>
        <%= f.number_field :graduation_year %>

        <%= f.label :extra_info, 'Extra Information' %>
        <%= f.text_area :extra_info, row: 3 %>

        <%= f.label :birthdate %>
        <%= f.date_field :birthdate %>

        <%= f.label :phone_number %>
        <%= f.telephone_field :phone_number %>

        <%= f.label :transcript %>
        <%= f.file_field :transcript %>

        <%= f.submit 'Save' %>

      <% end %>
    </div>
  </div>
</div>
