<style>
.application-box {
  display: block;
  border: 2px solid #0095AC;
  padding: 1em;
  border-radius: 2px;
  background-color: #0095AC;
  width: 25em;
  margin: 2em auto;
}
.application-title {
  margin: 0 0 0.5em;
  color: white;
  text-align: center;
}
.select-menu {
  width: 100%;
}
.input {
  width: 100%;
}
input.submit-button {
  width: 100%;
}
</style>

<div class="application-box">
  <h3 class="application-title">Complete Your Application</h3>

  <a name="application"></a>
  <%= form_for @tutor, url: submit_application_tutor_path do |f| %>

    <div class="application-row">
      <div class="input">
        <div class="select-wrapper">
          <%= f.select(:degree, options_for_select(["Bachelor's", "Master's", "PhD"],["Degree"]), {}, {class: 'select-menu'}) %>
        </div>
      </div>
    </div>

    <div class="input">
      <%= f.text_field :major, placeholder: 'Major' %>
    </div>

    <div class="input">
      <%= f.number_field :graduation_year, placeholder: 'Graduation Year' %>
    </div>

    <div class="input">
      <%= f.text_field :extra_info_1, placeholder: 'Fact #1' %>
    </div>

    <div class="input">
      <%= f.text_field :extra_info_2, placeholder: 'Fact #2' %>
    </div>

    <div class="input">
      <%= f.text_field :extra_info_3, placeholder: 'Fact #3' %>
    </div>

    <div class="input">
      Transcript or Resume <%= f.file_field :transcript %>
    </div>

    <div class="input">
      Profile Picture <%= f.file_field :profile_pic %>
    </div>

    <%= f.submit 'Save', class: 'submit-button' %>

  <% end %>
</div>