<style>
.checklist-container {
  background-color: #f6f6f6;
  height: 100%;
  padding: 2em;
}
.checklist-title {
  margin: 0 0 1em;
}
.checklist-item-box {
  display: block;
  margin-left: 20%;
  height: 2.5em;
}
.checklist-icon-box {
  display: inline-block;
  width: 10%;
  height: 3em;
}
.checklist-icon {
  height: 1.2em;
  width: 1.2em;
  position: relative;
  top: 0.3em;
}
.checklist-item-text-box {
  display: inline-block;
  width: 80%;
}
.checklist-item-text {
  color: #4F5252;
}
.checklist-item-text:hover {
  color: #2BC2DE;
}
.centered {
  text-align: center;
}

</style>

<div class="checklist-container">

  <h4 class="centered checklist-title">Account Setup Checklist</h4>

  <% complete_icon = image_tag('check_mark.png', class: 'checklist-icon') %>
  <% incomplete_icon = image_tag('empty_circle.png', class: 'checklist-icon') %>

  <div class="checklist-item-box">
    <%= link_to anchor: 'application' do %>
      <div class="checklist-icon-box">
        <%= @tutor.application_status == 'Incomplete' ? incomplete_icon : complete_icon %>
      </div>
      <div class="checklist-item-text-box">
        <p class="checklist-item-text">Complete your application</p>
      </div>
    <% end %>
  </div>

  <div class="checklist-item-box">
    <%= link_to home_tutor_path(@tutor.slug) do %>
      <div class="checklist-icon-box">
        <%= @tutor.application_status == 'Approved' ? complete_icon : incomplete_icon %> 
      </div>
      <div class="checklist-item-text-box">
        <p class="checklist-item-text">Recieve application approval</p>
      </div>
    <% end %>
  </div>

  <div class="checklist-item-box">
    <%= link_to tutor_courses_path(@tutor.slug) do %>
      <div class="checklist-icon-box">
        <%= @tutor.courses_approved? ? complete_icon : incomplete_icon %> 
      </div>
      <div class="checklist-item-text-box">
        <p class="checklist-item-text">Approve courses and rates</p>
      </div>
    <% end %>   
  </div>
  
  <div class="checklist-item-box">
    <%= link_to schedule_tutor_path(@tutor.slug) do %>
      <div class="checklist-icon-box">
        <%= @tutor.slots.count > 0 ? complete_icon : incomplete_icon %> 
      </div>
      <div class="checklist-item-text-box">
        <p class="checklist-item-text">Set your availability</p>
      </div>
    <% end %>
  </div>

  <div class="checklist-item-box">
    <%= link_to payment_info_tutor_path(@tutor.slug) do %>      
      <div class="checklist-icon-box">
        <%= @tutor.acct_id ? complete_icon : incomplete_icon %>
      </div>
      <div class="checklist-item-text-box">
        <p class="checklist-item-text">Link your bank account</p>
      </div>
    <% end %>
  </div>

  <% if @tutor.awaiting_approval? %>
    <div class="awaiting-approval-message-box">
      <h3>You gotta wait, brah</h3>
    </div>
  <% end %>

</div>