<header>
  <div class="row">
    <div class="large-12 columns">
      <h1>Tutors</h1>
    </div>
  </div>
</header>

<section>
  <div class="row">
    <div class="large-6 columns">
      <h4>Active Status</h4>
        <p class="button tiny success">Active</p><br>
        <p class="button tiny secondary">Inactive</p>
    </div>
    <div class="large-6 columns">
      <h4>Application Status</h4>
        <p class="button tiny info">Applied</p><br>
        <p class="button tiny alert">Awaiting Approval</p><br>
        <p class="button tiny default">Approved</p><br>
    </div>
  </div>
</section>

<%= link_to 'Download CSV', tutors_path(format: :csv) %>

<main>
  <div class="row full-width">
    <div class="large-12 columns">
      <table>
        <thead>
          <tr>
            <th>User ID</th>
            <th>Tutor ID</th>
            <th width="150">Active Status</th>
            <th width="250">Name</th>
            <th width="300">Email</th>
            <th width="250">School</th>
            <th width="150">Application Status</th>
            <th width="150">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @tutors.each do |tutor| %>
          <tr>
            <td><%= tutor.user.id %></td>
            <td><%= tutor.id %></td>
            <td><%= best_in_place tutor, :active_status, :as => :select, :collection => {"Inactive" => "Inactive", "Active" => "Active"}, :url => update_active_status_tutor_path(tutor) %></td>
            <td><%= tutor.user.full_name %></td>
            <td><%= tutor.user.email %></td>
            <td><% tutor.schools.each do |school| %>
                  <%= school %><br>
                <% end %>
            </td>
            <td><span class="<%= tutor.application_status %>">
                  <a href="#" data-reveal-id="tutorDocumentsModal-<%= tutor.id %>" class="black-link-text"><%= tutor.application_status %></a>
                </span>
            </td>
            <td><span class="button tiny secondary expand"><a href="#" data-reveal-id="confirmDestroyTutorModal-<%= tutor.id %>" class="black-link-text">Delete</a></span></td>
          </tr>

            <!-- Modal to view/download Tutor documents -->

            <div id="tutorDocumentsModal-<%= tutor.id %>" class="reveal-modal small" data-reveal aria-labelledby="secondModalTitle" aria-hidden="true" role="dialog">

              <h4 id="secondModalTitle" class="text-center">Tutor Documents</h4>

              <div class="row">
                <div class="small-8 small-centered columns">
                  <div class="text-center">
                    <h2><%= tutor.user.full_name %></h2>

                    <%= image_tag(tutor.profile_pic_url(:thumb)) %>

                    <%= link_to "Download Transcript", tutor.transcript.url %>

                  </div>
                </div>
              </div>
            </div>


            <!-- Modal to confirm Tutor deletion -->

            <div id="confirmDestroyTutorModal-<%= tutor.id %>" class="reveal-modal small" data-reveal aria-labelledby="secondModalTitle" aria-hidden="true" role="dialog">
              <h4 id="secondModalTitle" class="text-center">Are you sure you want to permanently destroy this tutor account?</h4>
              <h6>You can deactivate the tutor to temporarily disable the account.</h6>

              <div class="row">
                <div class="small-8 small-centered columns">
                  <div class="text-center">
                    <h2><%= tutor.user.full_name %></h2>

                    <%= form_for tutor, url: "/tutors/#{tutor.id}/destroy_by_admin", method: 'delete' do |f| %>
                    
                      <%= f.submit 'Delete' %>
                    <% end %>

                  </div>
                </div>
              </div>
            </div>

          <% end %>

        </tbody>
      </table>
    </div>
  </div>
</main>