<header>
  <div class="row">
    <div class="large-12 columns">
      <h3>Tutors</h3>
    </div>
  </div>
</header>

<div class="row">
  <%= search_form_for @q, url: search_admin_tutors_path, html: { method: :post } do |f| %>
    <fieldset class="search-field-panel">
      <legend class="search-field-legend">Search for Tutors</legend>
      <div class="row">
        <div class="large-3 columns">
          <%= f.label :user_first_name_or_user_last_name_matches, 'Tutor Name' %>
          <%= f.search_field :user_first_name_or_user_last_name_matches %>
        </div>

      </div>
      <div class="row">
        <div class="large-6 large-offset-6 columns">
          <div class="row">
            <div class="large-4 columns">
              <%= link_to 'Download CSV', tutors_path(format: :csv), class: 'button secondary tiny full-width' %>
            </div>
            <div class="large-4 columns">
              <%= link_to 'Reset', '/admin/appointments', class: 'button info tiny full-width' %>
            </div>
            <div class="large-4 columns">
              <%= f.submit class: 'button success tiny full-width' %>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>



<!-- SAVED FOR REFERENCE OF COLORS FOR LATER IMPLEMENTATION IN TABLE (NO NEED FOR LEGEND THOUGH) -->
<!-- <section>
  <div class="row">
    <div class="large-6 columns">
      <h4>Active Status</h4>
        <p class="button tiny success">Active</p><br>
        <p class="button tiny secondary">Inactive</p>
    </div>
    <div class="large-6 columns">
      <h4>Application Status</h4>
        <p class="button tiny info">Applied</p><br>
        <p class="button tiny alert">Awaiting Approval</p><br>
        <p class="button tiny default">Approved</p><br>
    </div>
  </div>
</section> -->

<main>
  <div class="row">
    <div class="large-12 columns">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th width="150">Active Status</th>
            <th width="250">Name</th>
            <th width="300">Email</th>
            <th width="250">School</th>
            <th width="150">Application Status</th>
          </tr>
        </thead>
        <tbody>
          <% @tutors.each do |tutor| %>
          <tr>
            <td><%= link_to "#{tutor.id}", admin_tutor_path(tutor) %></td>
            <td><%= tutor.active_status %></td>
            <td><%= tutor.user.full_name %></td>
            <td><%= tutor.user.email %></td>
            <td><%= tutor.school %></td>
            <td><%= tutor.application_status %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</main>