<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th class="id">ID</th>
          <th class="active-status">Active Status</th>
          <th class="name">Name</th>
          <th class="email">Email</th>
          <th class="school">School</th>
          <th class="courses">Courses</th>
          <th class="appointments">Appts</th>
          <th class="availability">Availabilty Booked</th>
          <th class="application-status">Application Status</th>
          <th class="applied-on">Applied On</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @tutor.id %></td>
          <td><%= @tutor.active_status %></td>
          <td><%= @tutor.user.full_name %></td>
          <td><%= @tutor.user.email %></td>
          <td><%= @tutor.school.name %></td>
          <td><%= @tutor.formatted_courses %></td>
          <td><%= @tutor.appointments.count %></td>
          <td><%= @tutor.availability_booked_percent %>
          <td><%= @tutor.application_status %></td>
          <td><%= @tutor.created_at.strftime('%-m-%d-%y') %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <fieldset class="admin-panel">
      <legend class="admin-panel">Actions</legend>
      
      <div class="row">
        <div class="large-3 columns">
          <%= button_to 'Email Tutor', url: "mailto:#{@tutor.email}", {class: 'button expand succcess'} %>
        </div>

        <div class="large-3 columns">
          <% if @tutor.active_status == 'Inactive' %>
            <%= form_for :tutor, url: admin_tutor_path(@tutor), method: 'patch' do |f| %>
                <%= f.hidden_field :active_status, value: 'Active' %>
                <%= f.submit 'Activate', class: 'button expand default' %>
            <% end %>
          <% else %>
            <%= form_for :tutor, url: admin_tutor_path(@tutor), method: 'patch' do |f| %>
                <%= f.hidden_field :active_status, value: 'Inactive' %>
                <%= f.submit 'Deactivate', class: 'button expand default' %>
            <% end %>
          <% end %>
        </div>

        <div class="large-3 columns">
          <% if @tutor.application_status == 'Complete' %>
            <%= form_for :tutor, url: admin_tutor_path(@tutor), method: 'patch' do |f| %>
              <%= f.hidden_field :application_status, value: 'Approved' %>
              <%= f.submit 'Approve Tutor', class: 'button default' %>
            <% end %>
          <% else %>
            <button class="button secondary">Approved</button>
          <% end %>

        </div>

        <div class="large-3 columns">
          <%= form_for :tutor, url: admin_tutor_path(@tutor), method: 'delete' do |f| %>
              <%= f.submit 'Delete Tutor', class: 'button expand alert' %>
          <% end %>
        </div>

      </div>

    </fieldset>
  </div>
</div>



<div class="row">
  <div class="large-12 columns">
    <h4>Profile</h4>
  </div>
</div>

<%= render '/dashboard/profile/tutor_profile' %>