<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th class="id">ID</th>
          <th class="active-status">Status</th>
          <th class="name">Name</th>
          <th class="email">Email</th>
          <th class="phone">Phone</th>
          <th>Birthdate</th>
          <th class="school">School</th>
          <th class="application-status">Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @tutor.id %></td>
          <td><%= @tutor.active_status %></td>
          <td><%= @tutor.user.full_name %></td>
          <td><%= @tutor.user.email %></td>
          <td><%= @tutor.phone_number %></td>
          <td><%= @tutor.birthdate.strftime('%-m-%d-%y') %></td>
          <td><%= @tutor.school.name %></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th class="courses">Courses</th>
          <th class="appointments">Total Appts</th>
          <th class="average-avail">Avg. Weekly Availability</th>
          <th class="availability">Availabilty Booked</th>
          <th class="applied">Applied</th>
          <th class="approved">Approved</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @tutor.formatted_courses %></td>
          <td><%= @tutor.appointments.count %></td>
          <td></td>
          <td><%= @tutor.availability_booked_percent %></td>
          <td><%= @tutor.created_at.strftime('%-m-%d-%y') %></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <fieldset class="admin-panel">
      <legend class="admin-panel">Actions</legend>
      
      <div class="row">
        <div class="large-3 columns">
          <% if @tutor.active_status == 'Inactive' && @tutor.application_status != 'Approved' %>
              <button class="button tiny secondary expand" disabled="true">Can't Activate Until Approved</button>
          <% elsif @tutor.active_status == 'Inactive' && @tutor.application_status == 'Approved' %>
            <%= form_for :tutor, url: admin_tutor_path(@tutor), method: 'patch' do |f| %>
                <%= f.hidden_field :active_status, value: 'Active' %>
                <%= f.submit 'Activate Tutor', class: 'button tiny expand success' %>
            <% end %>
          <% else %>
            <%= form_for :tutor, url: admin_tutor_path(@tutor), method: 'patch' do |f| %>
                <%= f.hidden_field :active_status, value: 'Inactive' %>
                <%= f.submit 'Deactivate Tutor', class: 'button tiny expand alert' %>
            <% end %>
          <% end %>
        </div>

        <div class="large-3 columns">
          <% if @tutor.application_status == 'Complete' %>
            <%= form_for :tutor, url: admin_tutor_path(@tutor), method: 'patch' do |f| %>
              <%= f.hidden_field :application_status, value: 'Approved' %>
              <%= f.submit 'Approve Application', class: 'button tiny default expand' %>
            <% end %>
          <% else %>
            <button class="button tiny secondary expand" disabled="true">Application <%= @tutor.application_status %></button>
          <% end %>
        </div>

        <div class="large-3 columns">
          <%= mail_to @tutor.email, 'Email Tutor', class: 'button tiny expand secondary' %>
        </div>

        <div class="large-3 columns">
          <%= form_for :tutor, url: admin_tutor_path(@tutor), method: 'delete' do |f| %>
              <%= f.submit 'Destroy Tutor', class: 'button tiny expand secondary' %>
          <% end %>
        </div>

      </div>

    </fieldset>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <fieldset>
      <legend class="admin-panel">Profile</legend>
      <%= render '/dashboard/profile/tutor_profile' %>
    </fieldset>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <fieldset>
      <legend class="admin-panel">Appointment Settings</legend>
      <p><strong>Personal Note to Students</strong></p>
      <p><%= @tutor.appt_notes %></p>
    </fieldset>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <fieldset>
      <legend class="admin-panel">Transcript</legend>
      <%= image_tag(@tutor.transcript_url) %>
    </fieldset>
  </div>
</div>

