<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Active Status</th>
          <th>Name</th>
          <th>Email</th>
          <th>School</th>
          <th>Application Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @tutor.id %></td>
          <td><%= @tutor.active_status %></td>
          <td><%= @tutor.user.full_name %></td>
          <td><%= @tutor.user.email %></td>
          <td><%= @tutor.school.name %></td>
          <td><%= @tutor.application_status %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <fieldset>
      <legend>Actions</legend>
      
      <div class="row">
        <div class="large-3 columns">
          <%= link_to 'Email Tutor', url: "mailto:#{@tutor.email}", class: 'button expand succcess' %>
        </div>

        <div class="large-3 columns">
          <% if @tutor.active_status == 'Inactive' %>
            <%= form_for :tutor, url: admin_tutor_path(@tutor), method: 'patch' do |f| %>
                <%= f.hidden_field :active_status, value: 'Active' %>
                <%= f.submit 'Activate', class: 'button expand default' %>
            <% end %>
          <% else %>
            <%= form_for :tutor, url: admin_tutor_path(@tutor), method: 'patch' do |f| %>
                <%= f.hidden_field :active_status, value: 'Inactive' %>
                <%= f.submit 'Deactivate', class: 'button expand default' %>
            <% end %>
          <% end %>
        </div>

        <div class="large-3 columns">
          <%= form_for :tutor, url: admin_tutor_path(@tutor), method: 'delete' do |f| %>
              <%= f.submit 'Delete Tutor', class: 'button expand alert' %>
          <% end %>
        </div>

      </div>

    </fieldset>
  </div>
</div>


<h4>Application</h4>


<% if @tutor.application_status == 'Application Complete' %>
  <%= form_for :tutor, url: admin_tutor_path(@tutor), method: 'patch' do |f| %>
      <%= f.hidden_field :application_status, value: 'Approved' %>
      <%= f.submit 'Approve Tutor', class: 'button default' %>
  <% end %>
<% end %>





<h4>Tutor Documents/Info/Profile</h4>
<p>Stuff should go here</p>
