<style>
.row.add-course-form {
  border: 1px solid #BBE5EE;
  padding: 1em;
  border-radius: 4px;
  background-color: #eff1f3;
}
</style>

<div class="row add-course-form">
  <%= form_for @tutor_course, html: {class: 'search-criteria'} do |f| %>

    <div class="small-12 medium-3 columns">
      <%= render '/course_selector/subject' %>
    </div>          
    <div class="small-12 medium-3 columns">
      <%= render '/course_selector/tutor_course' %>
    </div>
    <div class="small-12 medium-3 columns">
      <%= render '/course_selector/rate' %>
    </div>
    <div class="small-12 medium-3 columns">      
      <%= f.hidden_field(:tutor_id, value: @tutor.id) %>
      <%= f.submit 'Add course', class: 'custom-button full-width no-margin blue', id: 'add_course_button' %>
    </div>
  
  <% end %>
</div>