<div class="row add-course-form medium-collapse large-collapse">
  <%= form_for @tutor_course, html: {class: 'search-criteria'} do |f| %>

    <div class="small-12 medium-3 columns">
      <%= render '/course_selector/subject' %>
    </div>          
    <div class="small-12 medium-3 columns">
      <%= render '/course_selector/tutor_course' %>
    </div>
    <div class="small-12 medium-3 columns">
      <%= render '/course_selector/rate' %>
    </div>
    <div class="small-12 medium-3 columns">      
      <%= f.hidden_field(:tutor_id, value: @tutor.id) %>
      <%= f.submit 'Add course', class: 'custom-button full-width no-margin', id: 'add_course_button' %>
    </div>
  
  <% end %>
</div>