<section class="dashboard-content">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="dash-home-header">My Courses</h2>
    </div>
  </div>
  <div class="row medium-collapse">
    <%= form_for @tutor_course, url: create_course_during_onboarding_tutor_path(@tutor) do |f| %>
      <div class="small-12 medium-3 columns">
        <%= render '/course_selector/subject' %>
      </div>          
      <div class="small-12 medium-3 columns">
        <%= render '/course_selector/tutor_course' %>
      </div>
      <div class="small-12 medium-3 columns">
        <%= render '/course_selector/rate' %>
      </div>
      <div class="small-12 medium-3 columns">      
        <%= f.hidden_field(:tutor_id, value: @tutor.id) %>
        <%= f.submit 'Add course', class: 'custom-button full-width no-margin blue', id: 'add_course_button' %>
      </div> 
    <% end %>
  </div>
  <div class="show-courses-container">
    <!-- would use _show_courses partial, but Edit link needs to be different in onboarding process (maybe change regular dashboard version to use a modal, rather than a show page, and then code be identical)-->
    <div class="row small-collapse">
      <div class="small-12 columns">
        <table class="tutor-db-courses">
          <thead>
            <tr>
              <th>Subject</th>
              <th>Number</th>
              <th>Name</th>
              <th>My Rate</th>
              <th>Full Price</th>
              <th>Students</th>
              <th>Bookings</th>
              <th>Revenue</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @tutor.tutor_courses.each do |tutor_course| %>
            <tr>
              <td><%= tutor_course.course.subject.name %></td>
              <td><%= tutor_course.course.call_number %></td>
              <td><%= tutor_course.course.friendly_name %></td>
              <td>$<%= tutor_course.rate %></td>
              <td>$<%= tutor_course.full_price %></td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
              <td><a href="#" data-reveal-id="myModal-<%= tutor_course.id %>" class="custom-button full-width gray">Edit / Delete</a></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- Modals for editing a Tutor Course -->

<% @tutor.tutor_courses.each do |tutor_course| %>

  <div id="myModal-<%= tutor_course.id %>" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Edit Course</h2>
    <div class="row">
      <div class="small-12 columns">
        <table>
          <thead>
            <tr>
              <th>Subject</th>
              <th>Call Number</th>
              <th>Course Name</th>
              <th>My Rate</th>
              <th>Full Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= tutor_course.course.subject.name %></td>
              <td><%= tutor_course.course.call_number %></td>
              <td><%= tutor_course.course.friendly_name %></td>
              <td>$<%= tutor_course.rate %></td>
              <td>$<%= tutor_course.full_price %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-3 columns">
        <h4>Change Rate</h4>
        <%= form_for tutor_course, url: update_course_during_onboarding_tutor_path(@tutor, tutor_course), method: :put do |f| %>
          <%= f.label :rate, 'Hourly Rate' %>
          <%= f.text_field :rate, size: 5 %>
          <%= hidden_field_tag(:from_onboarding_courses_page, value: 'true') %>
          <%= f.submit 'Update Rate', class: 'custom-button' %>
        <% end %>
      </div>
      <div class="small-12 medium-3 columns">
        <h4>Delete Course</h4>
        <%= button_to('Delete Course', "/tutors/#{@tutor.id}/onboarding/courses/#{tutor_course.id}/destroy", method: :delete, class: 'custom-button danger') %>
      </div>
    </div>
  </div>

<% end %>