<h4 class="dash-home-header">Appointment Reviews</h4>
<%= form_for :appt_reviews, url: submit_appt_reviews_student_path, method: :post do |f| %>
  <% @appts_to_review.each do |k,v| %>
    <%= f.fields_for "review_for_appt_#{v[:appt_id]}" do |ff| %>
      <div class="review-card">
        <div class="row">
          <div class="small-12 medium-2 columns">
            <div class="tutor-box">
              <%= image_tag(v[:tutor_pic_url], class: 'review-tutor-pic') %>
              <p class="tutor-name"><%= v[:tutor] %></p>
            </div>
          </div>
          <div class="small-12 medium-3 columns">
            <p class="appt-details"><%= v[:subject_and_call_number] %></br><%= v[:friendly_name] %></br><%= v[:date] %></br><%= v[:time] %></p>
          </div>
          <div class="small-12 medium-4 columns">
            <div class="helpful-box">
              <h5 class="center">Was this session helpful?</h5>
              <div class="row">
                <div class="small-6 columns">


                  <p class="center no-bottom-margin">Yes</p>
                

                  <div class="thumb-vote-box">
                    <label>
                      <%= ff.radio_button(:rating, 'Positive', class: 'rating-radio', required: true) %>
                      <div class="thumb-mask"><i class="fi-like positive"></i></div>
                    </label>
                  </div>






                </div>
                <div class="small-6 columns">
                  <p class="center no-bottom-margin">No</p>
                  <i class="fi-dislike negative"></i>
                  <%= ff.radio_button(:rating, 'Negative', class: 'rating-radio', required: true) %>
                </div>
              </div>
            </div>
          </div>
          <div class="small-12 medium-3 columns">
            <div class="comments-box">
              <%= ff.label :comments, 'Optional Comments*' %>
              <%= ff.text_area :comments, size: '8x4', placeholder: '*Comments are private and will only be reviewed by Axon administrators. Tutors cannot see comments.' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="row">
    <div class="small-12 medium-3 medium-offset-9 columns">
      <%= f.submit 'Finish Reviews', class: 'custom-button blue full-width margin-top-1em' %>
    </div>
  </div>
<% end %>