<section class="dashboard-content student-home-page">
  <!-- Partials of all the various info boxes/widgets for the home screen can be placed here -->
  <div class="row">
    <div class="small-12 columns">
      <div class="upcoming-appts">
        <h4>Upcoming Appointments</h4>
        <% if @student.appointments.where(status: 'Scheduled').count == 0 %>
          <div class="box no-appts">
            <h5 class="no-appts-message">You currently have no scheduled appointments</h5>
          </div>
        <% else %>
          <table>
            <thead>
              <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Subject</th>
                <th>Student</th>
                <th>Contact</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @student.appointments.where(status: 'Scheduled').each do |appt| %>
                <tr>
                  <td><%= appt.start_time.strftime("%b %-d") %></td>
                  <td><%= appt.start_time.strftime("%l:%M%P") %></td>
                  <td><%= Course.find(appt.course_id).formatted_name %></td>
                  <td><%= appt.tutor.full_name %></td>
                  <td><%= appt.tutor.email %></td>
                  <td><a href="#" data-reveal-id="confirm-cancel-appt-<%= appt.id %>" class="custom-button blue">Cancel</a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 medium-centered columns">
      <div class="campus-manager">
        <h4>Your Campus Manager</h4>
        <div class="box">
          <%= image_tag(@school.campus_manager.profile_pic_url, class: 'campus_manager_pic') %>
          <h6 class="name"><%= @school.campus_manager.full_name %></h6>
          <p><%= @school.campus_manager.email %></p>
          <p><%= @school.campus_manager.phone_number %></p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Reveal modals for confirming Appointment cancellation -->

<% @student.appointments.where(status: 'Scheduled').each do |appt| %>
  <div id="confirm-cancel-appt-<%= appt.id %>" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h6 id="modalTitle">Are you sure you want to cancel this appointment?</h6>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Subject</th>
          <th>Student</th>
          <th>Contact</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= appt.start_time.strftime("%b %-d") %></td>
          <td><%= appt.start_time.strftime("%l:%M%P") %></td>
          <td><%= Course.find(appt.course_id).formatted_name %></td>
          <td><%= appt.tutor.full_name %></td>
          <td><%= appt.tutor.email %></td>
        </tr>
      </tbody>
    </table>
    <p class="lead">As soon as you cancel, the tutor will be notified.</p>
    <p>Cancellations within 24 hours of the scheduled appointment, will not recieve refunds</p>
    <a class="close-reveal-modal custom-button override-foundation" aria-label="Close">No, don't cancel</a>
    <%= form_for appt, url: cancel_appt_student_path(@student.id, appt.id), class: 'cancel-appt-form-button', method: :put do |f| %>
      <%= f.hidden_field :status, value: 'Cancelled' %>
      <%= f.submit 'Yes, cancel', class: 'custom-button blue' %>
    <% end %>
  </div>
<% end %>
