<section class="dashboard-content student-home-page">
  <% if @charge %>
    <div class="row">
      <div class="small-12 columns">
        <%= render 'receipt' %>
      </div>
    </div>
  <% end %>
  <% if @reviews_needed %>
    <div class="row">
      <div class="small-12 columns">
        <%= render 'review_form' %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="small-12 medium-8 columns">
      <%= render 'search_bar' %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= render 'upcoming_appointments' %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-8 columns">  
      <%= render 'recent_appointments' %>
    </div>
    <div class="small-12 medium-4 columns">
      <%= render 'support' %>
    </div>
  </div>
</section>