<div class="row">
  <div class="large-6 columns">
    <h1>Schools</h1>
  </div>
  <div class="large-4 columns">
    <%= link_to 'Add New School', new_admin_school_path, class: 'custom-button full-width margin-top-1em' %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th width='300'>Name</th>
          <th width='150'>Location</th>
          <th width='150'>Courses</th>
          <th width='150'>Tutors</th>
          <th width='150'>Appointments</th>
          <th>Transaction Percentage</th>
          <th>Campus Manager</th>
        </tr>
      </thead>
      <tbody>
        <% @schools.each do |school| %>
        <tr>
          <td><%= link_to school.id, admin_school_path(school), class: 'blue-link' %></td>
          <td><%= school.name %></td>
          <td><%= school.location %></td>
          <td><%= school.courses.count %></td>
          <td><%= school.tutors.count %></td>
          <td><%= school.appointments.count %></td>
          <td><%= school.transaction_percentage %>%</td>
          <td><%= school.campus_manager.full_name unless !school.campus_manager %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>