<script>
$(document).ready(function()
  {
    $('#transcript-input').change(function () {
        acceptable_filetypes = ["jpg", "jpeg", "png", "txt", "rtf", "doc", "docx", "pdf"]
        if (acceptable_filetypes.indexOf($('#transcript-input').val().toLowerCase().split(".").pop()) > -1) {
          $('#transcript-name-target').html($('#transcript-input').val().split("\\").pop()); 
          $('#transcript-name-target').removeClass("invalid-file-type"); 
        } else {
          $('#transcript-name-target').html("Invalid file type! Please upload a file with one of the following extensions: .jpg, .jpeg, .png, .txt, .rtf, .doc, .docx, .pdf");
          $('#transcript-name-target').addClass("invalid-file-type"); 
        }
    });
    $('#picture-input').change(function () {
        acceptable_filetypes = ["jpg", "jpeg", "png"]
        if (acceptable_filetypes.indexOf($('#picture-input').val().toLowerCase().split(".").pop()) > -1) {
          $('#picture-name-target').html($('#picture-input').val().split("\\").pop()); 
          $('#picture-name-target').removeClass("invalid-file-type"); 
        } else {
          $('#picture-name-target').html("Invalid file type! Please upload a file with one of the following extensions: .jpg, .jpeg, .png");
          $('#picture-name-target').addClass("invalid-file-type"); 
        }
    });
});
</script>
<%= render '/tutor_onboarding/progress_bar' %>

<div class="row">
  <div class="small-12 columns">
    <div class="box">
      <h1>Welcome, <%= @tutor.first_name %></h1>
      <p class="big-text">Congratulations on signing up to become an Axon tutor!</p>
      <p class="big-text">You're only <span>4 steps away</span> from setting up your account. After all steps are complete, we’ll quickly review your application and then activate your account.</p>
      <p class="big-text">To finish setting up your account, you'll need: your <span>resume or unofficial school transcript</span>, a <span>high-quality picture</span> for your profile, and your <span>banking information</span> so you can recieve payments after each tutoring session.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h2 class="onboarding-page-title">Step 1: Complete Your Profile</h2>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-5 columns">
    <a name="application"></a>
    <div class="application">

      <%= form_for @tutor, url: submit_application_tutor_path do |f| %>

        <h4 class="first-subheader">Education</h4>

        <p class="prompt">What is your degree type, major and graduation year?</p>
        <div class="row medium-collapse">
          <div class="small-12 medium-2 columns">
            <%= f.select(:degree, options_for_select(Tutor.degree_collection, selected: 'Degree', disabled: 'Degree'), {required: true}) %>
          </div>
          <div class="small-12 medium-6 columns">
            <%= f.text_field :major, placeholder: 'Major', required: true %>
          </div>
          <div class="small-12 medium-4 columns">
            <%= f.text_field :graduation_year, placeholder: 'Graduation Year', required: true %>
          </div>
        </div>
        <p class="fine-print">If you have not graduated yet, select your expected degree type and graduation year.</p>


        <p class="prompt">Do you have a second major or any additional degrees?</p>
        <p>If so, please summarize this information in one line (optional field)</p>
        <%= f.text_field :additional_degrees, placeholder: 'Second Major: Chemistry', class: 'border-radius' %>

        <h4>Personal Statements</h4>

        <p class="prompt">Share three facts about yourself that you want students to see.</p>

        <p class="fine-print">Maximum length for each statement is 250 characters.</p>

        <p class="prompt">1. What in your experience makes you a great tutor?</p>
        <div class="input statement-field">
          <%= f.text_area :extra_info_1, placeholder: 'Statement #1', maxlength: 250, required: true %>
        </div>

        <p class="prompt">2. What is your proudest academic achievement?</p>
        <div class="input statement-field">
          <%= f.text_area :extra_info_2, placeholder: 'Statement #2', maxlength: 250, required: true %>
        </div>

        <p class="prompt">3. What’s one fun fact you want to share with your students?</p>
        <div class="input statement-field">
          <%= f.text_area :extra_info_3, placeholder: 'Statement #3', maxlength: 250, required: true %>
        </div>

        <h4>File Uploads and Profile Picture</h4>

        <p class="fine-print">In order to provide a great experience for tutors and students, we want to ensure that all tutor profiles are accurate and that tutors can effectively tutor the subjects which they list on their profiles. Please upload your unofficial academic transcript, resume, or CV.</p>

        <h6>Upload your unofficial transcript or resume</h6>
        <p class="fine-print">Acceptable file types: .jpg, .jpeg, .png, .txt, .rtf, .doc, .docx, .pdf</p>

        <div class="file-input-box">
          <div class="file-input-button">
            <p>Transcript or Resume</p>
          </div>
          <%= f.file_field :transcript, id: 'transcript-input', class: 'file-input', required: true %>
        </div>
        <p id="transcript-name-target" class="file-name"></p>

        <h6>Upload a profile picture</h6>
        <p class="fine-print">Acceptable file types: .jpg, .jpeg, .png</p>

        <div class="file-input-box">
          <div class="file-input-button">
            <p>Profile Picture</p>
          </div>
          <%= f.file_field :profile_pic, id: 'picture-input', class: 'file-input', required: true  %>
        </div>
        <p id="picture-name-target" class="file-name"></p>

        <h4 class="thats-it">That's it for the first step!</h4>
    </div>
  </div>
  <div class="small-12 medium-7 columns">
    <h4 class="center bold">Tutor Card Examples</h4>
    <div class="model-tutor-card-container">
      <div class="card model-card">
        <div class="card-content">
          <div class="profile-pic-box">
            <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/tutor-student-pics/tutor-card-ex-mercedes.jpeg', class: 'tutor-card-pic') %>
          </div>
          <div class="banner-box">
            <div class="banner-row">
              <p class="name">Maggie H.</p>
              <p class="price">$23</p>
            </div>
            <div class="banner-row">
              <i class="fi-book-bookmark"></i>
              <p class="degree">B.S. Finance, '18</p>
            </div>
          </div>
          <div class="additional_degrees">
          </div>
          <div class="statements-box">
            <div class="statement">
              <p>I've tutored over 100 students struggling in Math courses over the past 3 years.</p>
            </div>
            <div class="statement">
              <p>Worked for Goldman Sachs last summer as a junior financial analyst intern.</p>
              <p>Finance Major with a 4.0 GPA & treasurer of Stock Market Club</p>
            </div>
          </div>
        </div>
        <div class="custom-button full-width">Book Now</div>
      </div>
      <div class="card model-card">
        <div class="card-content">
          <div class="profile-pic-box">
          <%= image_tag('https://s3-us-west-2.amazonaws.com/rails-axon-uploads/tutor-student-pics/tutor-card-ex-dj.jpeg', class: 'tutor-card-pic') %>
          </div>
          <div class="banner-box">
            <div class="banner-row">
              <p class="name">Michael R.</p>
              <p class="price">$23</p>
            </div>
            <div class="banner-row">
              <i class="fi-book-bookmark"></i>
              <p class="degree">PhD. Micro-Biology, '19</p>
            </div>
          </div>
          <div class="additional_degrees">
            <p>B.S. Biology, 2012, UNC-CH</p>
          </div>
          <div class="statements-box">
            <div class="statement">
              <p>Started tutoring after graduating in 2012. Currently tutoring & working as Biology 101 T.A. while studying.</p>
            </div>
            <div class="statement">
              <p>Reciepient of the Margaret S. Willow fellowship grant from the Science Department</p>
            </div>
          </div>
        </div>
        <div class="custom-button full-width">Book Now</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-8 columns next-step-instructions">
    <div class="box">
      <p>Finished with your profile? Review it then click here to set your courses! <i class="fi-arrow-right"></i></p>
    </div>
  </div>
  <div class="small-12 medium-4 columns">   
    <%= f.submit 'Next Step', class: 'custom-button margin-bottom large full-width bold', data: { disable_with: "Uploading, please wait..." }  %>
    <% end %>
  </div>
</div>