<style>
p.big-text.list {
  line-height: 0.5em;
}
li.big-text {
    font-size: 1.2em;
    font-weight: 100;
    text-align: left;
    margin-left: 1em;
}
li {
    font-weight: 100;
    text-align: left;
}
</style>
<script>
$(document).ready(function()
  {
    $('#transcript-input').change(function () {
        acceptable_filetypes = ["jpg", "jpeg", "png", "txt", "rtf", "doc", "docx", "pdf"]
        if (acceptable_filetypes.indexOf($('#transcript-input').val().toLowerCase().split(".").pop()) > -1) {
          $('#transcript-name-target').html($('#transcript-input').val().split("\\").pop()); 
          $('#transcript-name-target').removeClass("invalid-file-type"); 
        } else {
          $('#transcript-name-target').html("Invalid file type! Please upload a file with one of the following extensions: .jpg, .jpeg, .png, .txt, .rtf, .doc, .docx, .pdf");
          $('#transcript-name-target').addClass("invalid-file-type"); 
        }
    });
    $('#picture-input').change(function () {
        acceptable_filetypes = ["jpg", "jpeg", "png"]
        if (acceptable_filetypes.indexOf($('#picture-input').val().toLowerCase().split(".").pop()) > -1) {
          $('#picture-name-target').html($('#picture-input').val().split("\\").pop()); 
          $('#picture-name-target').removeClass("invalid-file-type"); 
        } else {
          $('#picture-name-target').html("Invalid file type! Please upload a file with one of the following extensions: .jpg, .jpeg, .png");
          $('#picture-name-target').addClass("invalid-file-type"); 
        }
    });
});
</script>
<%= render '/tutor_onboarding/progress_bar' %>

<div class="row">
  <div class="small-12 columns">
    <div class="box">
      <h1>Welcome, <%= @tutor.first_name %></h1>
      <p class="big-text">Congratulations on signing up to become an Axon tutor!</p>
      <p class="big-text">You're only <span>4 steps away</span> from setting up your account. After all steps are complete, we’ll quickly review your application and then activate your account.</p>
      <p class="big-text">To finish setting up your account, you'll need:</p>
      <ul>
        <li class="big-text">Your resume or unofficial school transcript</li>
        <li class="big-text">A high-quality picture for your profile</li>
        <li class="big-text">Your banking information to set up direct deposit</li>
      </ul>    
      <p class="big-text">Also, please go ahead and <span>confirm your email address now</span>. Simply click the link in the email you just received.*</p>
      <p class="no-margin">*If you can't find it, be sure to check your spam folder!</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="box margin-top-2em margin-bottom-minus-3em">
      <div class="row">
        <div class="small-12 medium-6 columns">
          <h2 class="margin-bottom-1em">How Axon Profiles Work</h2>
          <p class="big-text">Your tutor profile will be displayed in two ways.</p>
          <h3>Profile Card</h3>
          <p class="big-text">Your condensed profile card will be displayed in search results. Only the first 100 characters of your personal statements will be visible.</p>
          <h3>Full Profile</h3>
          <p class="big-text">Your full profile will be displayed when a student clicks on your profile card in the search results or when someone goes directly to your profile page.</p>
        </div>
        <div class="small-12 medium-6 columns">
          <%= render '/tutor_onboarding/example_profile_card' %>
        </div>
      </div>
      <%= render '/tutor_onboarding/example_full_profile' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-11 medium-offset-1 columns">
    <h2 class="onboarding-page-title">Step 1: Complete Your Profile</h2>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-5 medium-offset-1 columns">
    <a name="application"></a>
    <div class="application">

      <%= form_for @tutor, url: submit_application_tutor_path do |f| %>

        <h4 class="first-subheader">Education</h4>

        <p class="prompt">What is your degree type, major and graduation year?</p>
        <div class="row medium-collapse">
          <div class="small-12 medium-2 columns">
            <%= f.select(:degree, options_for_select(Tutor.degree_collection, selected: 'Degree', disabled: 'Degree'), {required: true}) %>
          </div>
          <div class="small-12 medium-6 columns">
            <%= f.text_field :major, placeholder: 'Major', maxlength: 18, required: true %>
          </div>
          <div class="small-12 medium-4 columns">
            <%= f.text_field :graduation_year, placeholder: 'Graduation Year', required: true %>
          </div>
        </div>
        <p class="fine-print">If you have not graduated yet, select your expected degree type and graduation year.</p>


        <p class="prompt">Optional: Do you have a second major or any additional degrees?</p>
        <p>If so, please summarize this information in one line</p>
        <%= f.text_field :additional_degrees, placeholder: 'Second Major: Chemistry', maxlength: 35, class: 'border-radius' %>

        <h4>Personal Statements</h4>

        <p class="prompt">Share three facts about yourself that you want potential students to see.</p>

        <p>Optional: If you're not sure what to write, try following one of these prompts:</p>
        <ul>
          <li>What in your experience makes you a great tutor?</li>
          <li>What is your proudest academic achievement?</li>
          <li>What’s one fun fact you want to share with your students?</li>
        </ul>

        <p class="fine-print">Maximum length for each statement is 250 characters.</p>
        
        <div class="input statement-field">
          <%= f.text_area :extra_info_1, placeholder: 'Statement #1', size: '30x10', maxlength: 250, required: true %>
        </div>

        <div class="input statement-field">
          <%= f.text_area :extra_info_2, placeholder: 'Statement #2', size: '30x10',  maxlength: 250, required: true %>
        </div>

        <div class="input statement-field">
          <%= f.text_area :extra_info_3, placeholder: 'Statement #3',  size: '30x10', maxlength: 250, required: true %>
        </div>

        <h4>File Uploads and Profile Picture</h4>

        <p class="fine-print">In order to provide a great experience for tutors and students, we want to ensure that all tutor profiles are accurate and that tutors can effectively tutor the subjects which they list on their profiles. Please upload your unofficial academic transcript, resume, or CV.</p>

        <h6>Upload your unofficial transcript or resume</h6>
        <p class="fine-print">Acceptable file types: .jpg, .jpeg, .png, .txt, .rtf, .doc, .docx, .pdf</p>

        <div class="file-input-box">
          <div class="file-input-button">
            <p>Transcript or Resume</p>
          </div>
          <%= f.file_field :transcript, id: 'transcript-input', class: 'file-input', required: true %>
        </div>
        <p id="transcript-name-target" class="file-name"></p>

        <h6>Upload a profile picture</h6>
        <p class="fine-print">Acceptable file types: .jpg, .jpeg, .png</p>

        <div class="file-input-box">
          <div class="file-input-button">
            <p>Profile Picture</p>
          </div>
          <%= f.file_field :profile_pic, id: 'picture-input', class: 'file-input', required: true  %>
        </div>
        <p id="picture-name-target" class="file-name"></p>

        <h4 class="thats-it">That's it for the first step!</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-8 columns next-step-instructions">
    <div class="box">
      <p>Finished with your profile? Review it then click here to set your courses! <i class="fi-arrow-right"></i></p>
    </div>
  </div>
  <div class="small-12 medium-4 columns">   
    <%= f.submit 'Next Step', class: 'custom-button margin-bottom large full-width bold', data: { disable_with: "Uploading, please wait..." }  %>
    <% end %>
  </div>
</div>