<!-- should be refactored into partial with completed and current step styles set dynamically -->
<div class="row medium-collapse progress-bar-container">
  <div class="small-12 medium-3 columns">
    <div class="progress-step completed-step">
      <p class="number"><i class="fi-check"></i></p>
      <%= link_to onboarding_application_tutor_path(@tutor.slug) do %>
        <p>Complete your application</p>
      <% end %>
    </div>
  </div>
  <div class="small-12 medium-3 columns">
    <div class="progress-step current-step">
      <p class="number">2</p>
      <p>Set your courses & rates</p>
    </div>
  </div>
  <div class="small-12 medium-3 columns">
    <div class="progress-step">
      <p class="number">3</p>
      <p>Set your available hours</p>
    </div>
  </div>
  <div class="small-12 medium-3 columns">
    <div class="progress-step">
      <p class="number">4</p>
      <p>Set up direct deposit</p>
    </div>
  </div>
</div>
<!--  ABOVE should be refactored into partial with completed and current step styles that are set dynamically -->
<div class="row box">
  <div class="small-12 medium-12 columns">
    <h1>Your Courses & Rates</h1>
    <p>Here is how Axon’s pricing works: instead of taking a cut of your rate, Axon adds a convenience free to the student at checkout. You can see what the student pays by looking in the “Full Price” column. Still aren’t sure what to charge? Most of our tutors charge $15-30 per hour, but it’s completely up to you. Don’t forget that you can add or remove classes or change your rates at any time. If you don’t see a course listed that you would like to tutor, just send us an email at info@axontutors.com. </p>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h2 class="onboarding-page-title">Step 2: Set Your Courses</h2>
  </div>
</div>
<div class="row medium-collapse">
  <%= form_for @tutor_course, url: create_course_during_onboarding_tutor_path(@tutor) do |f| %>
    <div class="small-12 medium-3 columns">
      <%= render '/course_selector/subject' %>
    </div>          
    <div class="small-12 medium-3 columns">
      <%= render '/course_selector/tutor_course' %>
    </div>
    <div class="small-12 medium-3 columns">
      <%= render '/course_selector/rate' %>
    </div>
    <div class="small-12 medium-3 columns">      
      <%= f.hidden_field(:tutor_id, value: @tutor.id) %>
      <%= f.submit 'Add course', class: 'custom-button full-width no-margin blue', id: 'add_course_button' %>
    </div> 
  <% end %>
</div>
<div class="show-courses-container">
  <%= render 'dashboard/tutor/courses/show_courses' %>
</div>
<div class="row">
  <div class="small-12 medium-8 columns box next-step-instructions">
    <p>Finished setting your intial courses? Click 'Next Step' to set your Schedule<i class="fi-arrow-right"></i></p>
  </div>
  <div class="small-12 medium-4 columns">
    <%= form_for @tutor, url: submit_courses_tutor_path(@tutor.slug) do |f| %>
      <%= f.hidden_field :onboarding_status, value: 'Step 3' %>
      <%= f.submit "Next Step", class: 'custom-button margin-bottom large full-width bold' %>
    <% end %>   
  </div>
</div>