<%= render '/tutor_onboarding/progress_bar' %>
<div class="row">
  <div class="small-12 medium-12 columns">
    <div class="box">
      <h1>Your Courses & Rates</h1>
      <h3>Courses</h3>
      <p class="big-text">With Axon, you <span>select specific courses</span> on your campus to tutor. Use the select menus to choose your courses. If you want to tutor a course that's not currently listed, send us an email at <a href="mailto:info@axontutors.com", class='blue-link'>info@axontutors.com</a>.</p>
      <h3>Rates</h3>
      <p class="big-text">Instead of taking a cut of your rate, Axon charges a <span>convenience fee</span> to the student at checkout. You can see what the student pays by looking in the <span>“Full Price”</span> column. Not sure what to charge? Most of our tutors charge <span>$15-30/hr.</span>, but your rate is completely up to you.</p>
      <p class="big-text">You can change your courses and rates at any time.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h2 class="onboarding-page-title">Step 2: Set Your Courses</h2>
  </div>
</div>
<div class="row medium-collapse">
  <%= form_for @tutor_course, url: create_course_during_onboarding_tutor_path(@tutor) do |f| %>
    <div class="small-12 medium-3 columns">
      <%= render '/course_selector/subject' %>
    </div>          
    <div class="small-12 medium-3 columns">
      <%= render '/course_selector/tutor_course' %>
    </div>
    <div class="small-12 medium-3 columns">
      <%= render '/course_selector/rate' %>
    </div>
    <div class="small-12 medium-3 columns">      
      <%= f.hidden_field(:tutor_id, value: @tutor.id) %>
      <%= f.submit 'Add course', class: 'custom-button full-width no-margin blue', id: 'add_course_button' %>
    </div> 
  <% end %>
</div>
<div class="show-courses-container">
  <!-- would use _show_courses partial, but Edit link needs to be different in onboarding process (maybe change regular dashboard version to use a modal, rather than a show page, and then code be identical)-->
  <div class="row">
    <div class="small-12 columns">
      <table class="tutor-db-courses">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Number</th>
            <th>Name</th>
            <th>My Rate</th>
            <th>Full Price</th>
            <th>Students</th>
            <th>Bookings</th>
            <th>Revenue</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @tutor.tutor_courses.each do |tutor_course| %>
          <tr>
            <td><%= tutor_course.course.subject.name %></td>
            <td><%= tutor_course.course.call_number %></td>
            <td><%= tutor_course.course.friendly_name %></td>
            <td>$<%= tutor_course.rate %></td>
            <td>$<%= tutor_course.full_price %></td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td><a href="#" data-reveal-id="myModal-<%= tutor_course.id %>" class="custom-button full-width gray">Edit / Delete</a></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-8 columns next-step-instructions">
    <div class="box">
      <p>Finished setting your intial courses? Click here to set your Schedule<i class="fi-arrow-right"></i></p>
    </div>
  </div>
  <div class="small-12 medium-4 columns">
    <%= form_for @tutor, url: submit_courses_tutor_path(@tutor.slug) do |f| %>
      <%= f.hidden_field :onboarding_status, value: 2 %>
      <%= f.submit "Next Step", class: 'custom-button margin-bottom large full-width bold' %>
    <% end %>   
  </div>
</div>

<!-- Modals for editing a Tutor Course -->

<% @tutor.tutor_courses.each do |tutor_course| %>

  <div id="myModal-<%= tutor_course.id %>" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Edit Course</h2>
    <div class="row">
      <div class="small-12 columns">
        <table>
          <thead>
            <tr>
              <th>Subject</th>
              <th>Call Number</th>
              <th>Course Name</th>
              <th>My Rate</th>
              <th>Full Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= tutor_course.course.subject.name %></td>
              <td><%= tutor_course.course.call_number %></td>
              <td><%= tutor_course.course.friendly_name %></td>
              <td>$<%= tutor_course.rate %></td>
              <td>$<%= tutor_course.full_price %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-3 columns">
        <h4>Change Rate</h4>
        <%= form_for tutor_course, url: update_course_during_onboarding_tutor_path(@tutor, tutor_course), method: :put do |f| %>
          <%= f.label :rate, 'Hourly Rate' %>
          <%= f.text_field :rate, size: 5 %>
          <%= hidden_field_tag(:from_onboarding_courses_page, value: 'true') %>
          <%= f.submit 'Update Rate', class: 'custom-button' %>
        <% end %>
      </div>
      <div class="small-12 medium-3 columns">
        <h4>Delete Course</h4>
        <%= button_to('Delete Course', "/tutors/#{@tutor.id}/onboarding/courses/#{tutor_course.id}/destroy", method: :delete, class: 'custom-button danger') %>
      </div>
    </div>
  </div>

<% end %>