<!-- should be refactored into partial with completed and current step styles set dynamically -->
<div class="row medium-collapse progress-bar-container">
  <div class="small-12 medium-3 columns">
    <div class="progress-step completed-step">
      <p class="number"><i class="fi-check"></i></p>
      <p>Complete your application</p>
    </div>
  </div>
  <div class="small-12 medium-3 columns">
    <div class="progress-step current-step">
      <p class="number">2</p>
      <p>Set your courses & rates</p>
    </div>
  </div>
  <div class="small-12 medium-3 columns">
    <div class="progress-step">
      <p class="number">3</p>
      <p>Set your available hours</p>
    </div>
  </div>
  <div class="small-12 medium-3 columns">
    <div class="progress-step">
      <p class="number">4</p>
      <p>Link your bank account</p>
    </div>
  </div>
</div>
<div class="row box">
  <div class="small-12 medium-12 columns">
    <h1>Instructions</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h2 class="onboarding-page-title">Step 2: Set Your Courses</h2>
  </div>
</div>
<div class="row add-course-form">
  <%= form_for @tutor_course, url: submit_courses_tutor_path(@tutor) do |f| %>
    <div class="small-12 medium-3 columns">
      <%= render '/course_selector/subject' %>
    </div>          
    <div class="small-12 medium-3 columns">
      <%= render '/course_selector/tutor_course' %>
    </div>
    <div class="small-12 medium-3 columns">
      <%= render '/course_selector/rate' %>
    </div>
    <div class="small-12 medium-3 columns">      
      <%= f.hidden_field(:tutor_id, value: @tutor.id) %>
      <%= f.submit 'Add course', class: 'custom-button full-width no-margin blue', id: 'add_course_button' %>
    </div> 
  <% end %>
</div>
<div class="show-courses-container">
  <%= render 'dashboard/tutor/courses/show_courses' %>
</div>
<div class="row">
  <div class="small-12 medium-8 columns box next-step-instructions">
    <p>Finished setting your intial courses? Click 'Next Step' to set your available hours<i class="fi-arrow-right"></i></p>
  </div>
  <div class="small-12 medium-4 columns">   
    <button class='custom-button margin-bottom large full-width bold'>Next Step</button>
  </div>
</div>