<div class="row">
  <div class="large-12 columns">
    <h1>Subjects</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= link_to 'Add New Subject', new_subject_path, class: 'button secondary' %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Schools</th>
          <th>Courses</th>
          <th>Tutors</th>
          <th>Appointments</th>
        </tr>
      </thead>
      <tbody>
        <% @subjects.each do |subject| %>
        <tr>
          <td><%= subject.id %></td>
          <td><%= subject.name %></td>
          <td><%= subject.schools.count %></td>
          <td><%= subject.courses.count %></td>
          <td><%= subject.tutors.count %></td>
          <td></td>
          <td><%= link_to 'View', subject_path(subject) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>