<div class="row">
  <div class="small-12 columns">
    <h1>New Subject</h1>
  </div>
</div>

<div class="row">
  <%= form_for @subject do |f| %>

    <div class="small-9 columns">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="small-3 columns">
      <%= f.submit 'Create Subject', class: 'button medium expand' %>
    </div>

  <% end %>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= link_to 'All Subjects', subjects_path, class: 'button secondary' %>
  </div>
</div>
