<div class="row">
  <div class="large-12 columns">
    <h1>Subject Details</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Schools</th>
          <th>Courses</th>
          <th>Tutors</th>
          <th>Appointments</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @subject.id %>
          <td><%= best_in_place @subject, :name, :as => :input %></td> 
          <td><%= @subject.schools.count %></td>
          <td><%= @subject.courses.count %></td>
          <td><%= @subject.tutors.count %></td> 
          <td><a href="#" data-reveal-id="confirmDeleteSubject">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

  <!-- Modal for deleting subject -->
  <div id="confirmDeleteSubject" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <%= render 'confirm_delete' %>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  <!-- End of modal -->

<div class="row">
  <div class="small-12 columns">
    <%= link_to 'All Subjects', subjects_path, class: 'button secondary' %>
  </div>
</div>