<%= devise_error_messages! %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :password, class: 'pwd-label' %>
    <%= link_to "Forgot password?", new_password_path(resource_name), class: 'forgot-pwd' %>
    <%= f.password_field :password, class: 'form-control', required: true%>
  </div>
  <div class="checkbox" style="width:150px">
    <label class="remember-me"><%= f.check_box :remember_me %>Remember me</label>
  </div>
  <%= f.submit 'Login', class: 'custom-button' %>
<% end %>