<div class="row">
  <div class="small-12 medium-4 medium-offset-8 columns">
    <%= link_to 'New Promotion', new_admin_promotion_path, class: 'custom-button full-width' %>
  </div>
</div>
<div class="row">
  <div class="small-12">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>% Off</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Redemption Limit</th>
          <th>Redemption Count</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @promotions.where(issuer: 0).each do |promotion| %>
        <tr>
          <td><%= link_to promotion.id, admin_promotion_path(promotion), class: 'id-link-for-admin' %></td>
          <td><%= promotion.code %></td>
          <td><%= promotion.amount %></td>
          <td><%= promotion.valid_from %></td>
          <td><%= promotion.valid_until %></td>
          <td><%= promotion.redemption_limit %></td>
          <td><%= promotion.redemption_count %></td>
          <td><%= promotion.description %></td>
          <td><%= link_to 'Edit/Destroy', admin_promotion_path(promotion), class: 'custom-button blue' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= paginate @promotions %>
  </div>
</div>