<div class="row">
  <div class="small-12 medium-6 columns">
    <h3>Create a New Promotion</h3>
  </div>
  <div class="small-12 medium-4 columns">
    <%= link_to 'Back to Promotions List', admin_promotions_path, class: 'custom-button full-width blue' %>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-4 columns">
    <%= form_for :promotion, url: admin_promotions_path do |f| %>

      <%= f.label :code %>
      <%= f.text_field :code %>

      <%= f.label :amount, 'Percent Off' %>
      <p class="fine-print">Numbers only. Do not include percent sign.</p>
      <p class="fine-print">Enter '100' for a free session, '10' for 10% off, etc.</p>
      <%= f.text_field :amount, required: true %>

      <%= f.label :valid_from, "Valid From:" %>
      <%= f.date_select :valid_from, order: [:month, :day, :year], start_year: Date.today.year, end_year: Date.today.year + 1, required: true %>

      <%= f.label :valid_until, "Valid Until:" %>
      <%= f.date_select :valid_until, order: [:month, :day, :year], start_year: Date.today.year, end_year: Date.today.year + 1, required: true %>

      <%= f.label :redemption_limit, 'Redemption Limit' %>
      <p class="fine-print">How many times can this promo code be redeemed in total?</p>
      <%= f.number_field :redemption_limit, required: true %>

      <%= f.label :single_appt, 'Single Appointment Per Booking' %>
      <p class="fine-print">In a booking with three appointments, this promo code will only discount one of the appointments.</p>
      <%= f.select(:single_appt, options_for_select({'True' => :true, 'False'=> :false})) %>

      <%= f.label :student_uniq, 'Single Redemption Per Student' %>
      <p class="fine-print">A specific student account can only use this promo code once.</p>
      <%= f.select(:student_uniq, options_for_select({'True' => :uniq_enforced, 'False'=> :uniq_not_enforced})) %>

      <%= f.label :description %>
      <p class="fine-print">This description will appear on Review Booking page to customer. Make sure it is descriptive and appropriate for public use.</p>
      <%= f.text_area :description, required: true %>

      <%= f.hidden_field :issuer, value: 'axon' %>
      
      <%= f.submit 'Create Promotion', class: 'custom-button' %>
    <% end %>
  </div>
</div>