<div class="row">
  <div class="small-12 medium-8 columns">
    <h3>Promotion ID: <%= @promotion.id %></h3>
    <%= link_to 'Edit', edit_admin_promotion_path(@promotion), class: 'custom-button gray' %>
  </div>
  <div class="small-12 medium-4 columns">
    <%= link_to 'All Promotions', admin_promotions_path, class: 'custom-button full-width blue' %>
  </div>
</div>

<!-- Promotion Details -->

<div class="row">
  <div class="small-12 columns">
    <h4>Details</h4>
    <table class="promo-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>Discount Percentage</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Redemption Limit</th>
          <th>Redemption Count</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to @promotion.id, admin_promotion_path(@promotion) %></td>
          <td class="code"><%= @promotion.code %></td>
          <td><%= @promotion.amount %></td>
          <td><%= @promotion.valid_from.strftime('%-m-%d-%y') %></td>
          <td><%= @promotion.valid_until.strftime('%-m-%d-%y') %></td>
          <td><%= @promotion.redemption_limit %></td>
          <td><%= @promotion.redemption_count %></td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Redeemer</th>
          <th>Single Appt/Booking</th>
          <th>Single Redemption/Student</th>
          <th>Student ID</th>
          <th>Course ID</th>
          <th>Tutor ID</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @promotion.redeemer.humanize if @promotion.redeemer %></td>
          <td><%= @promotion.single_appt == 'single' ? 'True' : 'False' %></td>
          <td><%= @promotion.repeat_use == 'no_repeat' ? 'True' : 'False' %></td>
          <td><%= @promotion.student_id if @promotion.student_id %></td>
          <td><%= @promotion.course_id if @promotion.course_id %></td>
          <td><%= @promotion.tutor_id if @promotion.tutor_id %></td>
          <td><%= @promotion.description %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Promotion Redemptions -->

<div class="row">
  <div class="small-12 columns">
    <h4>Redemptions</h4>
    <% if @promotion.charges.any? %>
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Charge ID</th>
            <th>Stripe Charge ID</th>
            <th>Redeemed At</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% n = 1 %>
            <% @promotion.charges.each do |charge| %>
              <td><%= n %></td>
              <td><%= link_to charge.id, admin_charge_path(charge) %></td>
              <td><%= link_to charge.stripe_charge_id, stripe_charge_link(charge.stripe_charge_id) if charge.stripe_charge_id %></td>
              <td><%= charge.created_at.in_time_zone(charge.tutor.school.timezone).strftime('%A -  %-m/%d/%y - %l:%M %p') %></td>
              <% n += 1 %>
            <% end %>
          </tr>
        </tbody>
      </table>
    <% else %>
      <p>No redemptions</p>
    <% end %>
  </div>
</div>