<section class="dashboard-content tutor-home-page">
  <!-- Welcome/Awaiting Approval Message for New Tutors -->
  <div class="row small-collapse">
    <div class="small-12 columns">
        <%= render 'notice_of_online_cancellations' %>
    </div>
  </div>
  <!-- Welcome/Awaiting Approval Message for New Tutors -->
  <div class="row">
    <div class="small-12 columns">
      <% if @tutor.application_status != 'Approved' %>
        <%= render 'awaiting_approval_message' %>
      <% end %>
    </div>
  </div>
  <!-- Upcoming Appointments Section-->
  <div class="row">
    <div class="small-12 columns">
      <%= render 'upcoming_appointments' %>
    </div>
  </div>
  <!-- Metrics Section -->
  <div class="row">
    <div class="small-12 columns">
      <%= render 'metrics' %>
    </div>
  </div>
  <!-- Recent Appointments & Support Sections-->
  <div class="row">
    <div class="small-12 medium-8 columns">
      <%= render 'recent_appointments' %>
    </div>
    <div class="small-12 medium-4 columns">
      <%= render 'support' %>
    </div>
  </div>
</section>