<!-- Place immediately inside of parent div with correct grid sizing -->
<% if @subject %>

  <!-- special course dropdown for search page when search was initiated from home page (carries over selection in @course variable) -->
  <select name="course[course_id]" id="course" required="true">
    <% CourseSearchPopulater.new(@school.id, @subject.id).courses_with_active_tutors.each do |course| %>
      <% if course[:id] == @course.id %>
        <option selected="true" value="<%= @course.id %>">(<%= @course.call_number %>) <%= @course.friendly_name %></option>
      <% else %>
        <option value="<%= course[:id] %>">(<%= course[:call_number] %>) <%= course[:friendly_name] %></option>
      <% end %>
    <% end %>
  </select>

<% else %>

  <!-- normal dynamically populated course select for students (only courses with active tutors show) -->
  <select name="course[course_id]" id="course" required="true">
    <option disabled="true" selected="true" value="">Select Course</option>
  </select>

<% end %>