<!-- Place immediately inside of parent div with correct grid sizing -->

<!-- NOT part of subject selector - this is a hidden selector with the school selected -->
  <div style="display: none;">
    <select name="course[school_id]" id="school" required="true">
      <option selected="true" value="<%= @school.id %>"><%= @school %></option>
    </select>
  </div>
<!-- end of hidden school selector -->

<% if @all_options_for_tutor %>

    <!-- special subject select for tutors adding courses (b/c it shows ALL subjects and courses, not just those with active tutors) -->
    <select name="course[subject_id]" id="subjects-for-tutors" required="true">
      <option disabled="true" selected="true" value="">Select Subject</option>
      <% @school.subjects.each do |subject| %>
        <option data-all="true" value="<%= subject[:id] %>"><%= subject[:name] %></option>
      <% end %>
    </select>

<% else %>

  <% if @subject %>

    <!-- special subject select for transferring subject selection from home search to standard search page  -->
    <select name="course[subject_id]" id="subject" required="true" value=<%= @subject.id %> >
      <option value="<%= @subject.id %>"><%= @subject.name %></option>
      <% CourseSearchPopulater.new(@school.id).subjects_with_active_tutors.each do |subject| %>
        <% if subject[:id].to_i != @subject.id %>
          <option value="<%= subject[:id] %>"><%= subject[:name] %></option>
        <% end %>
      <% end %>
    </select>

  <% else %>

    <!-- normal subject select for search page -->
    <select name="course[subject_id]" id="subject" required="true">
      <option disabled="true" selected="true" value="">Select Subject</option>
      <% CourseSearchPopulater.new(@school.id).subjects_with_active_tutors.each do |subject| %>
        <option data-all="false" value="<%= subject[:id] %>"><%= subject[:name] %></option>
      <% end %>
    </select>
  
  <% end %>
<% end %>