<div class="row">
  <div class="large-12 columns">
    <h1>School Details</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Location</th>
          <th>Courses</th>
          <th>Tutors</th>
          <th>Appointments</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @school.id %>
          <td><%= best_in_place @school, :name, :as => :input %></td>
          <td><%= best_in_place @school, :location, :as => :input %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h4>Are you sure you want to delete this school?</h4>

    <%= form_for @school, method: 'delete' do |f| %>
      <%= f.submit 'Delete School', class: 'button expand alert' %>
    <% end %>
    
    <%= link_to 'Back', school_path(@school), class: 'button expand success' %>
  </div>
</div>