<h1>Course Details</h1>

<table>
  <thead>
    <tr>
      <th>School</th>
      <th>Subject</th>
      <th>Call Number</th>
      <th>Friendly Name</th>
      <th>Tutors</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @course.school_name %></td>
      <td><%= @course.subject_name %></td>
      <td><%= @course.call_number %></td>
      <td><%= @course.friendly_name %></td>
      <td><%= @course.tutors.count %></td>
    </tr>
  </tbody>
</table>

<h1>Edit Course Details</h1>

<%= form_for @course do |f| %>
  <%= f.label :school_id %>
  <%= f.collection_select :school_id, School.all, :id, :name, include_blank: true %>

  <%= f.label :subject_id %>
  <%= f.collection_select :subject_id, Subject.all, :id, :name, include_blank: true %>

  <%= f.label :call_number %>
  <%= f.number_field :call_number %>

  <%= f.label :friendly_name %>
  <%= f.text_field :friendly_name %>

  <%= f.submit 'Update Course' %>

<% end %>
