<div id="mobile-nav">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <%= link_to '/' do %>
          <%= image_tag('logo_white.png', class: 'nav-logo') %>
        <% end %>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <% if user_signed_in? %>
          <% if current_user.role == 'student' %>
            <li><%= link_to 'Dashboard', home_student_path(current_user) %></li>
          <% elsif current_user.role == 'tutor' && current_user.tutor.onboarding_status == 4 %>
            <li><%= link_to 'Dashboard', home_tutor_path(current_user.tutor.slug) %></li>
          <% elsif current_user.role == 'tutor' && current_user.tutor.onboarding_status < 4 %>
            <li><%= link_to 'Account Setup', home_tutor_path(current_user.tutor.slug) %></li>
          <% elsif current_user.role == 'campus_manager' || current_user.role == 'admin' %>
            <li><%= link_to 'Admin', admin_tutors_path %></li>
          <% end %>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
        <% else %>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
          <li><%= link_to 'Become a Tutor', become_a_tutor_path, class: 'become-a-tutor-button' %></li>
        <% end %>
        <% if @school %>
          <% if @school.name == 'University of Georgia' %>
            <a href="http://examreview.axontutors.com/" >Exam Review</a>
          <% end %>
        <% end %>
          
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li class="has-dropdown">
          <% if @school %>
            <%= link_to(@school.name, change_school_path(school_id: @school.id), method: :post) %>
          <% end %>
          <ul class="dropdown">
            <% School.all.each do |school| %>
              <li><%= link_to(school.name, change_school_path(school_id: school.id), method: :post) %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</div>


<div id="standard-nav">
  <nav>
    <div class="nav-bar-wrapper clear-nav">
      <div class="row nav-row">
        <div class="nav-logo-box nav-link-box">
          <%= link_to '/' do %>
            <%= image_tag('logo_white.png', class: 'nav-logo') %>
          <% end %>
        </div>
        <div class="nav-campus-box nav-link-box">
          <a data-dropdown="campus-dropdown" aria-controls="campus-dropdown" aria-expanded="false">
            <% if @school %>
              <%= @school.name %>
            <% else %>
              <div> No School </div>
            <% end %>
          </a>
          <ul id="campus-dropdown" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
            <% School.all.each do |school| %>
              <%= link_to(change_school_path(school_id: school.id), method: :post) do %>
                <li><%= school.name %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="nav-links-right-container nav-link-box">
          <% if @school %>
            <% if @school.name == 'University of Georgia' %>
              <div class="nav-links-right"><a href="http://examreview.axontutors.com/" >Exam Review</a></div>
            <% end %>
          <% end %>
          <% if user_signed_in? %>
            <% if current_user.role == 'student' %>
              <div class="nav-links-right"><%= link_to 'Dashboard', home_student_path(current_user) %></div>
            <% elsif current_user.role == 'tutor' && current_user.tutor.onboarding_status == 4 %>
              <div class="nav-links-right"><%= link_to 'Dashboard', home_tutor_path(current_user.tutor.slug) %></div>
            <% elsif current_user.role == 'tutor' && current_user.tutor.onboarding_status < 4 %>
              <div class="nav-links-right"><%= link_to 'Account Setup', home_tutor_path(current_user.tutor.slug) %></div>
            <% elsif current_user.role == 'campus_manager' || current_user.role == 'admin' %>
              <div class="nav-links-right"><%= link_to 'Admin', admin_tutors_path %></div>
            <% end %>
            <div class="nav-links-right"><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></div>
          <% else %>
            <div class="nav-links-right"><%= link_to 'Sign in', new_user_session_path %></div>
            <div class="nav-links-right"><%= link_to 'Become a Tutor', become_a_tutor_path, class: 'become-a-tutor-button' %></div>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</div>