<div class="row">
  <%= form_for @tutor_course, html: {class: 'search-criteria'} do |f| %>

    <div class="field-container">
      <label for="select">Select</label>
      <%= render '/course_selector/subject' %>
    </div>          
    <div class="field-container">
      <label for="select">Select</label>
      <%= render '/course_selector/course' %>
    </div>
    <div class="field-container">
      <label for="select">Select</label>
      <%= render '/course_selector/rate' %>
    </div>

    <%= f.hidden_field(:tutor_id, value: @tutor.id) %>

    <div class="field-container">            
      <%= f.submit 'Add course', class: 'btn btn--search', id: 'add_course_button' %>
    </div>
  
  <% end %>
</div>