<div class="row">
  <%= form_for @tutor_course do |f| %>

    <div class="medium-3 small-12 columns">
      <%= render '/course_selector/subject' %>
    </div>

    <div class="medium-4 small-12 columns">
      <%= render '/course_selector/course' %>
    </div>

    <div class="medium-3 small-12 columns">
      <%= render '/course_selector/rate' %>
    </div>

    <%= f.hidden_field(:tutor_id, value: @tutor.id) %>
  
    <div class="medium-2 small-12 columns">
      <%= f.submit 'Add course', class: 'button radius success tiny right', id: 'add_course_button' %>
    </div>
  
  <% end %>
</div>