<%= javascript_include_tag "dashboard/courses" %>

<%

# gets data passed in if available
@options = (local_variables().include? :options) ? options : {}

# if data is passed in to enable or disable sections, then use those
# otherwise, just show it by default
def enabled? option
  return @options[option] != nil ? @options[option] : true
end


# based on what sections are enabled, calculate how large each section should be
def get_size
  total_number_of_columns = 12
  options = [:school, :subject, :course, :rate]
  number_of_enabled_sections = options.map { |option| (enabled? option) ? 1 : 0 }.reduce(:+)

  # avoids division by zero error
  result = if number_of_enabled_sections > 0
    total_number_of_columns / number_of_enabled_sections
  else
    0
  end

  return result
end

size = get_size()

%>

<div id="add_course_box">

  <!-- Necessary for chained dropdowns, but cannot be changed (a tutor is limited to one school) so we don't want it to show up at all. This div is simply hidden, but maybe this can be done better... -->
  <div style="display: none;">
    <select name="course[school_id]" id="school" required="true">
      <option selected="true" value="<%= @tutor.school.id %>">School</option>
    </select>
  </div>

  <% if enabled? :subject %>
    <div class="medium-<%= size %> columns">
      <select name="course[subject_id]" id="subject" required="true">
        <option disabled="true" selected="true" value="">Subject</option>
        <% @tutor.school.subjects.each do |subject| %>
          <option value="<%= subject[:id] %>"><%= subject[:name] %></option>
        <% end %>
      </select>
    </div>
  <% end %>

  <% if enabled? :course %>
    <div class="medium-<%= size %> columns">
      <select name="course[course_id]" id="course" required="true">
        <option disabled="true" selected="true" value="">Course</option>
      </select>
    </div>
  <% end %>

  <% if enabled? :rate %>
    <div class="medium-<%= size %> columns">
      <div class="row collapse">
        <div class="small-2 large-2 columns">
          <span class="prefix">$</span>
        </div>
        <div class="small-7 medium-4 large-5 columns">
          <input name="tutor_course[rate]" id="rate" type="number" required="true" min="1" step="1" pattern="\d*" placeholder="25" style="text-align: center; border-right-width: 0px;">
        </div>
        <div class="small-3 medium-6 large-5 columns">
          <span class="postfix">per hour</span>
        </div>
      </div>
    </div>
  <% end %>

</div>
