<h1 class="title">My Promotions</h1>
<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Category</th>
      <th>Course</th>
      <th>Amount</th>
      <th>Valid From</th>
      <th>Valid Until</th>
      <th>Redemption Limit</th>
      <th>Redemption Count</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @tutor.promotions.each do |promotion| %>
    <tr>
      <td><%= promotion.code %></td>
      <td><%= promotion.category.humanize.gsub(/[A-Za-z']+/,&:capitalize) %></td>
      <td><%= Course.find(promotion.course_id).friendly_name %></td>
      <td><%= promotion.amount %></td>
      <td><%= promotion.valid_from %></td>
      <td><%= promotion.valid_until %></td>
      <td><%= promotion.redemption_limit %></td>
      <td><%= promotion.redemption_count %></td>
      <td><%= promotion.description %></td>
    </tr>
    <% end %>
  </tbody>
</table>