<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Call Number</th>
      <th>Course Name</th>
      <th>My Rate</th>
      <th>Full Price</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tutor.tutor_courses.each do |tutor_course| %>
    <tr>
      <td><%= tutor_course.course.subject.name %></td>
      <td><%= tutor_course.course.call_number %></td>
      <td><%= tutor_course.course.friendly_name %></td>
      <td>$<%= tutor_course.rate %></td>
      <td>$<%= tutor_course.full_price %></td>
      <td><%= link_to 'Edit', dashboard_tutor_course_path(tutor_course) %></td>
    </tr>
    <% end %>
  </tbody>
</table>