<p><%= link_to 'Account Settings', account_tutor_path(current_user), class: 'account-settings-link' %></p>
<p><%= link_to 'Payment Settings', payment_info_tutor_path(current_user), class: 'payment-settings-link' %></p>
<p><%= link_to 'Profile Settings', edit_profile_tutor_path(current_user), class: 'profile-settings-link' %></p>
<p><%= link_to 'Appointment Settings', appointment_settings_tutor_path(current_user), class: 'appt-settings-link' %></p>
<p><%= link_to 'Appointment History', appointment_history_tutor_path(current_user), class: 'appt-history-link' %></p>