<style>
/* Do not remove! This must be in the view for it to only highlight the correct selected link in the settings vertical sub-menu */
a.appt-settings-link {
  color: white;
  font-weight: 300;
  background-color: #0095AC;
  padding: 0.5em 1em;
  border-radius: 4px;
  border: 1px solid #0095AC;
}
</style>
<section class="dashboard-content">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="dashboard-title">Settings Manager</h2>
    </div>
  </div>
  <div class="row">
    <div class="small-5 medium-3 columns sub-menu">
      <%= render 'vertical_sub_menu' %>
    </div>
    <div class="small-7 medium-4 medium-offset-1 columns end">
      <%= form_for @tutor do |f| %>
        <%= f.label :booking_buffer, 'Booking Buffer' %>
        <p>This is the minimum amount of time before an appointment starts that a student may book you.</p>
        <%= f.select(:booking_buffer, options_for_select([['1 hour', 1],['2 hours', 2],['3 hours', 3],['4 hours', 4],['5 hours',5],['6 hours',6],['8 hours', 8],['12 hours',12],['24 hours',24],['36 hours',36],['48 hours',48]], selected: [@tutor.booking_buffer.to_s + " hours", @tutor.booking_buffer])) %>

        <%= f.submit 'Save', class: 'custom-button full-width' %>
      <% end %>
    </div>
  </div>
</section>