<style>
a.appt-settings-link {
  color: white;
  font-weight: 100;
  background-color: #0095AC;
  border: 1px solid black;
  padding: 0.4em 1em;
  border-radius: 5px;
}
a.appt-settings-link:hover {
  font-weight: 100;
}
</style>

<section class="dashboard tutor">
  <div class="wrapper">
    <div class="wrapper__text">
      <h2 class="title">Setttings Manager</h2>
    </div>
    <div class="g g-3up">
      <div class="gi">
        <%= render 'vertical_sub_menu' %>
      </div>
      <div class="gi">
        <%= form_for @tutor do |f| %>
          <h3>Appointment Settings</h3>

          <%= f.label :appt_notes, 'Personal Note to Students' %>
          <%= f.text_area :appt_notes, rows: 10 %>

          <%= f.submit 'Save', class: 'button tiny expand success' %>
        <% end %>
      </div>
      <div class="gi"></div>
    </div>
  </div>
</section>
