<style>
/* Do not remove! This must be in the view for it to only highlight the correct selected link in the settings vertical sub-menu */
a.profile-settings-link {
  color: white;
  font-weight: 100;
  background-color: #0095AC;
  padding: 0.4em 1em;
  border-radius: 5px;
}
a.profile-settings-link:hover {
  font-weight: 100;
}
</style>
<section class="dashboard-content">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="dashboard-title">Settings Manager</h2>
    </div>
  </div>
  <div class="row">
    <div class="small-5 medium-3 columns sub-menu">
      <%= render 'vertical_sub_menu' %>
    </div>
    <div class="small-7 medium-4 medium-offset-1 columns end">
      
      <h3>Profile Picture</h3>
      <%= image_tag(@tutor.profile_pic_url(:thumb), class: 'profile-pic-preview') %>
      
      <a href="#" data-reveal-id="newPhotoModal" class="button tiny expand secondary">
        <i class="fi-page-add icon-margin-right"></i>Upload New Photo
      </a>
      <a href="#" data-reveal-id="cropCurrentPhotoModal" class="button tiny expand secondary">
        <i class="fi-page-edit icon-margin-right"></i>Crop Current Photo
      </a>

      <%= form_for @tutor do |f| %>
        <h3 class="header-top-margin" id="profile-fields">Profile Info</h3>

        <%= f.label :degree %>
        <%= f.select(:degree, options_for_select(["Bachelor's", "Master's", "PhD"],["#{@tutor.degree}"]), include_blank: true) %>
        
        <%= f.label :major %>
        <%= f.text_field :major %>

        <%= f.label :graduation_year %>
        <%= f.number_field :graduation_year %>

        <%= f.label :extra_info_1, 'Extra Information' %>
        <%= f.text_area :extra_info_1, row: 3 %>

        <%= f.submit 'Save', class: 'button tiny expand success'%>

      <% end %>
    </div>
  </div>
</section>



<!-- Modal for Uploading a New Profile Picture -->

<div id="newPhotoModal" class="reveal-modal small" data-reveal aria-labelledby="secondModalTitle" aria-hidden="true" role="dialog">
  <h4 id="secondModalTitle" class="text-center">Upload a new profile picture</h4>

    <script type="text/javascript">
    $(document).ready(
    function(){
      $('#upload-pic').attr('disabled',true);
      $('input:file').change(
        function(){
          if ($(this).val()){
            $('input:submit').removeAttr('disabled'); 
          }
          else {
            $('input:submit').attr('disabled',true);
          }
        });
      });
    </script>

    <div class="row">
      <div class="small-8 small-centered columns">
        <div class="text-center">
          <%= form_for @tutor do |f| %>
            <%= f.file_field :profile_pic %>
            <%= f.submit 'Update Profile Picture', class: 'button radius', id: 'upload-pic' %>
          <% end %>
        </div>
      </div>
    </div>

    <a href="#" data-reveal-id="myModal">
      <i class="fi-arrow-left"></i>&nbsp;Back
    </a>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>


<!-- Modal for Cropping/Re-cropping Current Profile Picture -->

<div id="cropCurrentPhotoModal" class="reveal-modal full" data-reveal aria-labelledby="secondModalTitle" aria-hidden="true" role="dialog">
  <h4 id="secondModalTitle" class="text-center">Crop your current profile picture</h4>

    <div class="row">
      <div class="cropbox-container">
        <div class="cropbox">
          <%= image_tag @tutor.profile_pic_url(:large), id: 'cropbox' %>
        </div>
      </div>
    </div>

<script type="text/javascript">
  jQuery('#cropbox').Jcrop({
    onChange: showCoords,
    onSelect: showCoords,
    aspectRatio: 1/1
  });

  // Simple event handler, called from onChange and onSelect
  // event handlers, as per the Jcrop invocation above
  function showCoords(c){
    jQuery('#tutor_crop_x').val(c.x);
    jQuery('#tutor_crop_y').val(c.y);
    jQuery('#tutor_crop_w').val(c.w);
    jQuery('#tutor_crop_h').val(c.h);
  };
</script>

    <div class="row">
      <div class="small-6 small-centered columns">
        <div class="text-center">
          <%= form_for @tutor do |f| %>
            <% %w[x y w h].each do |attribute| %>
              <%= f.hidden_field "crop_#{attribute}" %>
            <% end %>
            <div class="actions">
              <%= f.submit "Crop", class: 'button radius expand' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <a href="#" data-reveal-id="myModal">
      <i class="fi-arrow-left"></i>&nbsp;Back
    </a>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

