<style>
/* Do not remove! This must be in the view for it to only highlight the correct selected link in the settings vertical sub-menu */
a.profile-settings-link {
  color: white;
  font-weight: 100;
  background-color: #0095AC;
  padding: 0.5em 1em;
  border-radius: 4px;
  border: 1px solid #0095AC;
}
</style>
<section class="dashboard-content">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="dashboard-title">Settings Manager</h2>
    </div>
  </div>
  <div class="row">
    <div class="small-5 medium-3 columns sub-menu">
      <%= render 'vertical_sub_menu' %>
    </div>
    <div class="small-7 medium-4 medium-offset-1 columns end">
      
      <h5>Profile Picture</h5>
      <%= image_tag("#{@tutor.profile_pic_url(:thumb)}?refresh=#{SecureRandom.hex(3)}", class: 'profile-pic-preview') %>
      <div class="row">
        <div class="small-12 columns">
          <a href="#" data-reveal-id="newPhotoModal" class="custom-button full-width">Upload New Photo</a>
        </div>
        <div class="small-12 columns">
          <a href="#" data-reveal-id="cropCurrentPhotoModal" class="custom-button full-width">Crop Current Photo</a>
        </div>
      </div>

      <%= form_for @tutor, url: tutor_path(@tutor.slug) do |f| %>
        <h5 class="header-top-margin" id="profile-fields">Profile Info</h5>

        <%= f.label :degree %>
        <%= f.select(:degree, options_for_select(Tutor.degree_collection, ["#{@tutor.degree}"])) %>
        
        <%= f.label :major %>
        <%= f.text_field :major, maxlength: 18 %>

        <%= f.label :additional_degrees, 'Additional Degrees' %>
        <%= f.text_field :additional_degrees, maxlength: 35 %>

        <%= f.label :graduation_year, 'Graduation Year' %>
        <%= f.number_field :graduation_year %>

        <%= f.label :extra_info_1, 'Profile Info 1' %>
        <%= f.text_area :extra_info_1, maxlength: 250 %>

        <%= f.label :extra_info_2, 'Profile Info 2' %>
        <%= f.text_area :extra_info_2, maxlength: 250 %>
        
        <%= f.label :extra_info_3, 'Profile Info 3' %>
        <%= f.text_area :extra_info_3, maxlength: 250 %>

        <%= f.submit 'Save', class: 'custom-button' %>

      <% end %>
    </div>
  </div>
</section>



<!-- Modal for Uploading a New Profile Picture -->

<div id="newPhotoModal" class="reveal-modal small" data-reveal aria-labelledby="secondModalTitle" aria-hidden="true" role="dialog">
  <h4 id="secondModalTitle" class="text-center">Upload a new profile picture</h4>

    <script type="text/javascript">
      $(document).ready(function()
        {
          $('#profile-pic-input').change(function () {
              $('#profile-pic-name-target').html($('#profile-pic-input').val().split("\\").pop());
              $('#upload-pic-btn').removeClass('disabled');
              $('#upload-pic-btn').removeAttr('disabled');
          });
      });
    </script>


    <div class="row">
      <div class="small-8 small-centered columns">
        <%= form_for @tutor, url: tutor_path(@tutor.slug) do |f| %>

          <p class='file-types'>Acceptable file types: .jpg, .jpeg, .png</p>

          <div class="profile-pic-input-box">
            <div class="profile-pic-input-button">
              Select Picture
            </div>
            <%= f.file_field :profile_pic, id: 'profile-pic-input' %>
          </div>

          <p id="profile-pic-name-target"></p>
          

          <%= f.submit 'Save', class: 'custom-button full-width disabled', id: 'upload-pic-btn', disabled: true, data: { disable_with: "Uploading..." } %>
        <% end %>
      </div>
    </div>


  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>


<!-- Modal for Cropping/Re-cropping Current Profile Picture -->

<div id="cropCurrentPhotoModal" class="reveal-modal full" data-reveal aria-labelledby="secondModalTitle" aria-hidden="true" role="dialog">
  <h4 id="secondModalTitle" class="text-center no-max-width">Crop your current profile picture</h4>

    <div class="row">
      <div class="cropbox-container">
        <div class="cropbox">
          <%= image_tag @tutor.profile_pic_url(:large), id: 'cropbox' %>
        </div>
      </div>
    </div>

<script type="text/javascript">
  jQuery('#cropbox').Jcrop({
    onChange: showCoords,
    onSelect: showCoords,
    aspectRatio: 28/24
  });

  // Simple event handler, called from onChange and onSelect
  // event handlers, as per the Jcrop invocation above
  function showCoords(c){
    jQuery('#tutor_crop_x').val(c.x);
    jQuery('#tutor_crop_y').val(c.y);
    jQuery('#tutor_crop_w').val(c.w);
    jQuery('#tutor_crop_h').val(c.h);
  };
</script>

    <div class="row">
      <div class="small-6 small-centered columns">
        <div class="text-center">
          <%= form_for @tutor, url: tutor_path(@tutor.slug) do |f| %>
            <% %w[x y w h].each do |attribute| %>
              <%= f.hidden_field "crop_#{attribute}" %>
            <% end %>
            <div class="actions">
              <%= f.submit "Crop", class: 'custom-button', data: { disable_with: "Cropping, please wait..." }    %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>