<div id="tutor-profile">
  <div class="row">
<!-- Profile pic column -->
    <div class="small-12 medium-4 columns">
      <div class="vertical-padding-1em">
        <%= image_tag(@tutor.profile_pic_url(:thumb), class: 'tutor-profile-pic') %>
        <div class="name-box">
          <h3 class="center"><%= @tutor.public_name %></h3>
        </div>
        <div class="school-box">
          <p class="center no-bottom-margin">Tutor at</p>
          <h5 class="center"><%= @tutor.school.name %></h5>
        </div>
      </div>
    </div>
<!-- Experience/Education cloumn -->
    <div class="small-12 medium-8 columns">
      <div class="vertical-padding-1em">
        <div class="section-heading">
          <h4>Education</h4>
        </div>
        <div class="profile-text">
          <div class="row">
            <div class="small-12 medium-6 columns">
              <p class="degree"><i class="fi-book-bookmark margin-right-1em"></i><%= @tutor.degree %> <%= @tutor.major %>, <%= @tutor.graduation_year %></p>
            </div>
            <div class="small-12 medium-6 columns">
              <% if @tutor.additional_degrees? && !@tutor.additional_degrees.blank? %>
                <p class="degree"><i class="fi-book-bookmark margin-right-1em"></i><%= @tutor.additional_degrees %></p>
              <% end %>
            </div>
          </div>
        </div>

        <div class="section-heading">
          <h4>Statistics</h4>
        </div>
        <div class="profile-text">
          <div class="row">
          <% if @tutor_analyzer.completed_appts.count > 3 %>

            <!-- Students box -->
            <div class="columns medium-4">
              <div class="stat-box">
                <div class="row">
                  <div class="small-centered columns small-12">
                    <p class="text-center"><%= @tutor_analyzer.students.count %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="small-centered columns  small-12">
                     <h5 class="text-center"><span class="label"><i class="icon fi-torsos-female-male margin-right-1em"></i>Students</span></h5>
                  </div>
                </div>
              </div>
            </div>

            <!-- Appointments box -->
            <div class="columns medium-4">
              <div class="stat-box">
                <div class="row">
                  <div class="small-centered columns small-12">
                    <p class="text-center"><%= @tutor_analyzer.completed_appts.count %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="small-centered columns  small-12">
                    <h5 class="text-center"><span class="label"><i class="icon fi-pencil margin-right-1em"></i>Appointments</span></h5>
                  </div>
                </div>
              </div>
            </div>

            <!-- Approval box -->
            <div class="columns medium-4">
              <div class="stat-box">
                <div class="row">
                  <div class="small-centered columns small-12">
                    <% if @tutor.reviews.count > 1 %> <!-- TODO: Change this to reviews once that is merged -->
                      <p class="text-center"><%= @tutor_analyzer.approval %>%</p>
                    <% else %>
                      <p class="text-center">
                        <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=3 style="font-weight:100" title="There is no feedback for this tutor yet">
                          -- 
                        </span>
                      </p>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <div class="small-centered columns  small-12">
                     <h5 class="text-center"><span class="label"><i class="icon fi-like margin-right-1em"></i>Approval</span></h5>
                  </div>
                </div>
              </div>
            </div>

            <% else %>
               <div class="row">
                <div class="columns small-2">
                  <p class="text-center">
                    <i class="fi-trophy" style="font-size:40px" ></i>
                  </p>
                </div>
                <div class="columns small-10">
                   <p>We are excited to introduce <%= @tutor.first_name %> to Axon. Book a session with <%= @tutor.first_name %> now for 10% off!</p>
                </div>
              </div>
            <% end %>

          </div>
        </div>


        <div class="section-heading">
          <h4>Experience</h4>
        </div>
        <div class="profile-text">
          <p><%= @tutor.extra_info_1 %></p>
          <p><%= @tutor.extra_info_2 %></p>
          <p><%= @tutor.extra_info_3 %></p>
        </div>
      </div>
    </div>

  </div>
</div>