<div class="g g-1up">
  <div class="gi">
    <h3 class="no-top-margin"><%= @user.first_name %>, you're just a few steps away from your first appointment. Complete your application below.</h3>

    <h5>Finish telling us about yourself</h5>

    <%= form_for @tutor do |f| %>

      <h3 class="header-top-margin" id="profile-fields">Profile Info</h3>

      <%= f.label :degree %>
      <%= f.select(:degree, options_for_select(["Bachelor's", "Master's", "PhD"],["#{@tutor.degree}"])) %>
      
      <%= f.label :major %>
      <%= f.text_field :major %>

      <%= f.label :graduation_year %>
      <%= f.number_field :graduation_year %>

      <%= f.label :extra_info, 'Extra Information' %>
      <%= f.text_area :extra_info, row: 3 %>

      <%= f.label :birthdate %>
      <%= f.date_field :birthdate %>

      <%= f.label :phone_number %>
      <%= f.telephone_field :phone_number %>

      <%= f.label :transcript %>
      <%= f.file_field :transcript %>

    <h5>Set your default message to students</h5>

      <h3>Appointment Settings</h3>

      <%= f.label :appt_notes, 'Personal Note to Students' %>
      <%= f.text_area :appt_notes, rows: 10 %>

      <%= f.submit 'Save' %>

    <% end %>

    <h5>Set your availability</h5>

    <h5>Create an account with Stripe to recieve your funds</h5>
    
    <h5>Set your courses and rates</h5>


  </div>
</div>