<div class="row">
  <div class="medium-12 columns">
    <p class="headline"><%= @user.first_name %>, you're just a few steps away from your first appointment:</p>
  </div>
</div>
<div class="row progress-icon">
  <%= link_to(dashboard_edit_profile_user_path(@user, anchor: 'profile-fields')) do %>
    <div class="medium-1 medium-offset-1 columns">
      <p class="centered-for-icon"><%= @degree ? @check.html_safe() : @blank.html_safe() %></p>
      <p class="subheader">Degree</p>
    </div>
  <% end %>
  <%= link_to(dashboard_edit_profile_user_path(@user, anchor: 'profile-fields')) do %>
    <div class="medium-1 columns">
      <p class="centered-for-icon"><%= @major ? @check.html_safe() : @blank.html_safe()  %></p>
      <p class="subheader">Major</p>
    </div>
  <% end %>
  <%= link_to(dashboard_edit_profile_user_path(@user, anchor: 'profile-fields')) do %>
    <div class="medium-1 columns">
      <p class="centered-for-icon"><%= @extra_info ? @check.html_safe() : @blank.html_safe()  %></p>
      <p class="subheader">Extra Info</p>
    </div>
  <% end %>
  <%= link_to(dashboard_edit_profile_user_path(@user, anchor: 'profile-fields')) do %>
    <div class="medium-1 columns">
      <p class="centered-for-icon"><%= @graduation_year ? @check.html_safe() : @blank.html_safe()  %></p>
      <p class="subheader">Graduation Year</p>
    </div>
  <% end %>
  <%= link_to(dashboard_settings_tutor_settings_user_path(@user, anchor: 'settings-form')) do %>
    <div class="medium-1 columns">
      <p class="centered-for-icon"><%= @phone_number ? @check.html_safe() : @blank.html_safe()  %></p>
      <p class="subheader">Phone Number</p>
    </div>
  <% end %>
  <%= link_to(dashboard_settings_tutor_settings_user_path(@user, anchor: 'settings-form')) do %>
    <div class="medium-1 columns">
      <p class="centered-for-icon"><%= @birthdate ? @check.html_safe() : @blank.html_safe()  %></p>
      <p class="subheader">Birthdate</p>
    </div>
  <% end %>
  <%= link_to(dashboard_edit_profile_user_path(@user, anchor: 'profile-pic')) do %>
    <div class="medium-1 columns">
      <p class="centered-for-icon"><%= @profile_pic ? @check.html_safe() : @blank.html_safe()  %></p>
      <p class="subheader">Profile Picture</p>
    </div>
  <% end %>
  <%= link_to(dashboard_settings_appointment_settings_user_path(@user, anchor: 'appt-notes')) do %>
    <div class="medium-1 columns">
      <p class="centered-for-icon"><%= @appt_notes ? @check.html_safe() : @blank.html_safe()  %></p>
      <p class="subheader">Personal Note</p>
    </div>
  <% end %>
  <%= link_to(dashboard_settings_tutor_settings_user_path(@user, anchor: 'appt-notes')) do %>
    <div class="medium-1 columns">
      <p class="centered-for-icon"><%= @transcript ? @check.html_safe() : @blank.html_safe()  %></p>
      <p class="subheader">Transcript</p>
    </div>
  <% end %>
  <%= link_to(dashboard_settings_payment_settings_user_path(@user, anchor: 'appt-notes')) do %>
    <div class="medium-1 columns">
      <p class="centered-for-icon"><%= @payment_info ? @check.html_safe() : @blank.html_safe()  %></p>
      <p class="subheader">Payment Info</p>
    </div>
  <% end %>
  <div class="medium- columns"><!-- this is just a placeholder to push the last col to the left, def can be improved --></div>
</div>