<div class="g g-1up">
  <div class="gi">
    <h3 class="no-top-margin"><%= @user.first_name %>, you're just a few steps away from your first appointment. Complete your application below.</h3>

    <h5>Finish telling us about yourself</h5>

    <%= form_for @user do |f| %>
      <h3>User Account Settings</h3>

      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <label for="user_school_id">School</label>
      <div class="select-wrapper">
      <select name="user[school_id]" id="user_school_id" class="select-menu" required="true">
        <% School.all.each do |school| %>
          <% if school == current_user.school %>
            <option selected="selected" value="<%= school.id %>"><%= school.name %></option>
          <% else %>
            <option value="<%= school.id %>"><%= school.name %></option>
          <% end %>
        <% end %>
      </select>
      </div>

      <%= f.submit 'Save', class: 'button tiny expand success' %>
    <% end %>

    <%= form_for @tutor do |f| %>
      <h3 class="header-top-margin" id="profile-fields">Profile Info</h3>

      <%= f.label :degree %>
      <%= f.select(:degree, options_for_select(["Bachelor's", "Master's", "PhD"],["#{@tutor.degree}"]), include_blank: true) %>
      
      <%= f.label :major %>
      <%= f.text_field :major %>

      <%= f.label :graduation_year %>
      <%= f.number_field :graduation_year %>

      <%= f.label :extra_info, 'Extra Information' %>
      <%= f.text_area :extra_info, row: 3 %>

      <%= f.submit 'Save', class: 'button tiny expand success'%>

    <% end %>

    <%= form_for @tutor do |f| %>
      <h3>Personal Information</h3>

      <%= f.label :birthdate %>
      <%= f.date_field :birthdate %>

      <%= f.label :phone_number %>
      <%= f.telephone_field :phone_number %>

      <%= f.submit 'Save', class: 'button tiny expand success' %>
    <% end %>

    <%= form_for @tutor do |f| %>
      <h3 id="transcript">Transcript</h3>

      <p>Current Transcript: 
        <% if @tutor.transcript.url.nil? %>
          None
        <% else %>
          <%= link_to File.basename(@tutor.transcript.path), @tutor.transcript.url, target: '_blank' %>
        <% end %>
      </p>

      <%= f.label :transcript %>
      <%= f.file_field :transcript %>

      <%= f.submit 'Save', class: 'button tiny expand success' %>
    <% end %>

    <h5>Set your courses and rates</h5>

    <%= render 'dashboard/tutor/courses/add_course_form' %>
    <%= render 'dashboard/tutor/courses/show_courses' %>

    <h5>Set your default message to students</h5>

    <%= form_for @tutor do |f| %>
      <h3>Appointment Settings</h3>

      <%= f.label :appt_notes, 'Personal Note to Students' %>
      <%= f.text_area :appt_notes, rows: 10 %>

      <%= f.submit 'Save', class: 'button tiny expand success' %>
    <% end %>

    <h5>Set your availability</h5>

    <h5>Create an account with Stripe to recieve your funds</h5>


  </div>
</div>