<style>
.center {
  text-align: center;
}
.no-top-margin {
  margin-top: 0;
}
.tutor-profile-progress-icon-div {
  display: inline-block;
  width: 16%;
}
.tutor-profile-progress-icon {
  text-align: center;
  font-size: 1.5em;
}
.tutor-profile-progress-title {
  margin: 0;
}
</style>

<div class="g g-1up">
  <div class="gi">
    <h3 class="no-top-margin"><%= @user.first_name %>, you're just a few steps away from your first appointment:</h3>

    <div class="tutor-profile-progress-icon-div">
      <%= link_to(dashboard_settings_profile_settings_user_path(current_user)) do %>
        <p class="tutor-profile-progress-icon"><%= @profile_pic ? @check.html_safe() : @blank.html_safe()  %></p>
        <h6 class="center tutor-profile-progress-title">Profile Picture</h6>
      <% end %>
    </div>
    
    <div class="tutor-profile-progress-icon-div">
      <%= link_to(dashboard_settings_profile_settings_user_path(current_user, anchor: 'profile-fields')) do %>
        <p class="tutor-profile-progress-icon"><%= @profile_fields ? @check.html_safe() : @blank.html_safe() %></p>
        <h6 class="center tutor-profile-progress-title">Profile Info</h6>
      <% end %>
    </div>

    <div class="tutor-profile-progress-icon-div">
      <%= link_to(dashboard_settings_private_information_user_path(@user, anchor: 'private-info')) do %>
        <p class="tutor-profile-progress-icon"><%= @private_info ? @check.html_safe() : @blank.html_safe()  %></p>
        <h6 class="center tutor-profile-progress-title">Private Info</h6>
      <% end %>
    </div>
    
    <div class="tutor-profile-progress-icon-div">
      <%= link_to(dashboard_settings_appointment_settings_user_path(@user, anchor: 'appt-notes')) do %>
        <p class="tutor-profile-progress-icon"><%= @appt_notes ? @check.html_safe() : @blank.html_safe()  %></p>
        <h6 class="center tutor-profile-progress-title">Appt. Settings</h6>
      <% end %>
    </div>
    
    <div class="tutor-profile-progress-icon-div">
      <%= link_to(dashboard_settings_private_information_user_path(@user, anchor: 'transcript')) do %>
        <p class="tutor-profile-progress-icon"><%= @transcript ? @check.html_safe() : @blank.html_safe()  %></p>
        <h6 class="center tutor-profile-progress-title">Transcript</h6>
      <% end %>
    </div>

    <div class="tutor-profile-progress-icon-div">
      <%= link_to(dashboard_settings_tutor_payment_settings_user_path(@user, anchor: 'appt-notes')) do %>
        <p class="tutor-profile-progress-icon"><%= @payment_info ? @check.html_safe() : @blank.html_safe()  %></p>
        <h6 class="center tutor-profile-progress-title">Payment Info</h6>
      <% end %>
    </div>

  </div>
</div>