<style>
.green {
  background-color: white;
}
p.headline {
  font-family: 'Roboto Slab';
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
  margin: 0.8em 0 0.2em;
}
p.subheader {
  font-family: 'Roboto Slab';
  font-size: 0.5em;
  font-weight: 700;
  text-align: center;
}
p.centered-for-icon {
  text-align: center;
  margin-bottom: 0;
}
.progress-icon {
  font-size: 1.3em;
}
.check {
  color: #2BC2DE;
}
.blank {
  color: #58AA4D;
}
.row.progress-icon {
  margin-bottom: 0.6em;
}
</style>

<div class="green">
  <div class="row">
    <div class="medium-12 columns">
      <p class="headline"><%= @user.first_name %>, you're just a few steps away from your first appointment:</p>
    </div>
  </div>
  <div class="row progress-icon">
    <%= link_to(dashboard_edit_profile_user_path(@user)) do %>
      <div class="medium-1 medium-offset-2 columns">
        <p class="centered-for-icon"><%= @degree ? @check.html_safe() : @blank.html_safe() %></p>
        <p class="subheader">Degree</p>
      </div>
    <% end %>
    <div class="medium-1 columns">
      <p class="centered-for-icon"><%= @major ? @check.html_safe() : @blank.html_safe()  %></p>
      <p class="subheader">Major</p>
    </div>
    <div class="medium-1 columns">
      <p class="centered-for-icon"><%= @extra_info ? @check.html_safe() : @blank.html_safe()  %></p>
      <p class="subheader">Extra Info</p>
    </div>
    <div class="medium-1 columns">
      <p class="centered-for-icon"><%= @graduation_year ? @check.html_safe() : @blank.html_safe()  %></p>
      <p class="subheader">Graduation Year</p>
    </div>
    <div class="medium-1 columns">
      <p class="centered-for-icon"><%= @phone_number ? @check.html_safe() : @blank.html_safe()  %></p>
      <p class="subheader">Phone Number</p>
    </div>
    <div class="medium-1 columns">
      <p class="centered-for-icon"><%= @birthdate ? @check.html_safe() : @blank.html_safe()  %></p>
      <p class="subheader">Birthdate</p>
    </div>
    <div class="medium-1 columns">
      <p class="centered-for-icon"><%= @profile_pic ? @check.html_safe() : @blank.html_safe()  %></p>
      <p class="subheader">Profile Picture</p>
    </div>
    <div class="medium-1 columns">
      <p class="centered-for-icon"><%= @appt_notes ? @check.html_safe() : @blank.html_safe()  %></p>
      <p class="subheader">Personal Note</p>
    </div>
    <div class="medium-4 columns"><!-- this is just a placeholder to push the last col to the left, def can be improved --></div>
  </div>
</div>