<div class="row">
  <div class="medium-12 columns">
    <p class="headline"><%= @user.first_name %>, you're just a few steps away from your first appointment:</p>
  </div>
</div>
<div class="row progress-icon">
  <%= link_to(dashboard_settings_profile_settings_user_path(current_user)) do %>
    <div class="medium-1 medium-offset-3 columns">
      <p class="centered-for-icon"><%= @profile_pic ? @check.html_safe() : @blank.html_safe()  %></p>
      <p class="subheader">Profile Picture</p>
    </div>
  <% end %>
  
  <%= link_to(dashboard_settings_profile_settings_user_path(current_user, anchor: 'profile-fields')) do %>
    <div class="medium-1 columns">
      <p class="centered-for-icon"><%= @profile_fields ? @check.html_safe() : @blank.html_safe() %></p>
      <p class="subheader">Profile Info</p>
    </div>
  <% end %>

  <%= link_to(dashboard_settings_private_information_user_path(@user, anchor: 'private-info')) do %>
    <div class="medium-1 columns">
      <p class="centered-for-icon"><%= @personal_info ? @check.html_safe() : @blank.html_safe()  %></p>
      <p class="subheader">Personal Info</p>
    </div>
  <% end %>
  
  <%= link_to(dashboard_settings_appointment_settings_user_path(@user, anchor: 'appt-notes')) do %>
    <div class="medium-1 columns">
      <p class="centered-for-icon"><%= @appt_notes ? @check.html_safe() : @blank.html_safe()  %></p>
      <p class="subheader">Appointment Settings</p>
    </div>
  <% end %>
  
  <%= link_to(dashboard_settings_private_information_user_path(@user, anchor: 'transcript')) do %>
    <div class="medium-1 columns">
      <p class="centered-for-icon"><%= @transcript ? @check.html_safe() : @blank.html_safe()  %></p>
      <p class="subheader">Transcript</p>
    </div>
  <% end %>
  
  <%= link_to(dashboard_settings_tutor_payment_settings_user_path(@user, anchor: 'appt-notes')) do %>
    <div class="medium-1 columns">
      <p class="centered-for-icon"><%= @payment_info ? @check.html_safe() : @blank.html_safe()  %></p>
      <p class="subheader">Payment Info</p>
    </div>
  <% end %>
</div>