<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li class="menu-item"><%= link_to 'Dashboard', home_tutor_path(current_user) %></li>
  <% if current_user.role == 'campus_manager' || current_user.role == 'super_admin' %>
    <li class="menu-item"><%= link_to 'Admin', admin_tutors_path %></li>
  <% end %>
  <li class="menu-item"><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
<% else %>
  <li class="menu-item"><%= link_to 'Login', new_user_session_path %></li>
  <li class="menu-item"><%= link_to 'Become a Tutor', new_tutor_path %></li>
<% end %>