<%# add navigation links to this file %>
<% if user_signed_in? %>
  <% if current_user.role == 'student' %>
    <div class="nav-links-right"><%= link_to 'Dashboard', home_student_path(current_user) %></div>
  <% elsif current_user.role == 'tutor' %>
    <div class="nav-links-right"><%= link_to 'Dashboard', home_tutor_path(current_user) %></div>
  <% elsif current_user.role == 'campus_manager' || current_user.role == 'super_admin' %>
    <div class="nav-links-right"><%= link_to 'Admin', admin_tutors_path %></div>
  <% end %>
  <div class="nav-links-right"><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></div>
<% else %>
  <div class="nav-links-right"><%= link_to 'Login', new_user_session_path %></div>
  <div class="nav-links-right"><%= link_to 'Become a Tutor', become_a_tutor_path %></div>
<% end %>