<nav>
  <div class="nav-bar-wrapper">
    <div class="row nav-row">
      <div class="nav-logo-box nav-link-box white">
        <%= link_to '/' do %>
          <%= image_tag('axon_logo_color.png', class: 'nav-logo') %>
        <% end %>
      </div>
      <div class="nav-campus-box nav-link-box">
        <a data-dropdown="campus-dropdown" aria-controls="campus-dropdown" aria-expanded="false">
          <%= @school ? @school.name : nil %>
        </a>
        <ul id="campus-dropdown" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
          <% School.all.each do |school| %>
            <%= link_to(change_school_path(school_id: school.id), method: :post) do %>
              <li><%= school.name %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="nav-links-right-container nav-link-box white">
        <%= render 'layouts/partials/navigation_links' %>
      </div>
    </div>
  </div>
</nav>