<style>
.nav-bar-wrapper {
  display: block;
  background-color: white;
}
.nav-row {
  display: block;
  height: 3em;
}
.nav-logo {
  height: 3em;
}
.nav-link-box {
  display: inline-block;
  line-height: 3em;
  vertical-align: top;
  font-weight: 500;
  color: #4F5252;
}
.nav-links-right-container {
  float: right;
}
.nav-links-right {
  display: inline-block;
  padding: 0 1em;
}
</style>
<nav>
  <div class="nav-bar-wrapper">
    <div class="row nav-row">
      <div class="nav-logo-box nav-link-box">
        <%= link_to '/' do %>
          <%= image_tag('axon_logo_color.png', class: 'nav-logo') %>
        <% end %>
      </div>
      <div class="nav-campus-box nav-link-box">
        <a data-dropdown="campus-dropdown" aria-controls="campus-dropdown" aria-expanded="false">Campus</a>
        <ul id="campus-dropdown" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
          <% School.all.each do |school| %>
            <%= link_to(set_school_path(school_id: school.id), method: :post)  do %>
              <li><%= school.name %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="nav-links-right-container nav-link-box">
        <%= render 'layouts/partials/navigation_links' %>
      </div>
    </div>
  </div>
</nav>