<div class="row">
  <div class="large-12-columns">
    <h1>Edit School</h1>
  </div>
</div>

<div class="row">
  <%= form_for @school, url: "/admin/schools/#{@school.id}" do |f| %>
    <div class="small-5 columns">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="small-5 columns">
      <%= f.label :location %>
      <%= f.text_field :location %>
    </div>

    <div class="small-2 columns">
      <%= f.submit 'Update School', class: 'button success ' %>
    </div>

  <% end %>
</div>