<div class="row">
  <h3>Appointments</h3>
</div>

<div class="row">
  <%= search_form_for @q, url: search_admin_appointments_path, html: { method: :post } do |f| %>
    <fieldset class="search-field-panel">
      <legend class="search-field-legend">Search for Appointments</legend>

      <div class="row">
        <div class="large-3 columns">
          <%= f.label :slot_tutor_user_first_name_matches, "Tutor Name" %>
          <%= f.search_field :slot_tutor_user_first_name_matches %>
        </div>

        <div class="large-3 columns">
          <%= f.label :student_user_first_name_or_student_user_last_name_matches, "Student Name" %>
          <%= f.search_field :student_user_first_name_or_student_user_last_name_matches %>
        </div>

        <div class="large-3 columns">
          <%= f.label :course_school_id_eq, "School" %>
          <% if current_user.role == 'campus_manager' %>
            <%= f.select(:course_school_id_eq, options_for_select(["#{@school.name}"])) %>
          <% else %>
            <%= f.collection_select(:course_school_id_eq, School.all, :id, :name, include_blank: true) %>
          <% end %>
        </div>

        <div class="large-3 columns">
          <%= f.label :status_eq, "Status" %>
          <%= f.select(:status_eq, options_for_select([['Scheduled', 0],['Cancelled', 1],['Completed', 2]]), include_blank: true) %>
        </div>
      </div>

      <div class="row">
        <div class="large-2 columns">
          <%= f.label :course_subject_id_eq, "Subject" %>
          <%= f.collection_select(:course_subject_id_eq, Subject.all, :id, :name, include_blank: true) %>
        </div>
        
        <div class="large-1 columns">
          <%= f.label :course_call_number_matches, "Call #" %>
          <%= f.search_field :course_call_number_matches %>
        </div>
        
        <div class="large-3 columns">
          <%= f.label :course_friendly_name_cont, "Friendly Name" %>
          <%= f.search_field :course_friendly_name_cont %>
        </div>

        <div class="large-3 columns">
          <%= f.label :start_time_gteq, "From" %>
          <%= f.date_select :start_time_gteq, include_blank: true %>
        </div>

        <div class="large-3 columns">
          <%= f.label :start_time_lteq, "to" %>
          <%= f.date_select :start_time_lteq, include_blank: true %>
        </div>
      </div>

      <div class="row">
        <div class="large-4 large-offset-8 columns">
          <div class="row">
            <div class="large-6 columns">
              <%= link_to 'Reset', '/admin/appointments', class: 'button info tiny full-width' %>
            </div>
            <div class="large-6 columns">
              <%= f.submit class: 'button success tiny full-width' %>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>

<div class="row">
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Tutor</th>
        <th>Student</th>
        <th>Course</th>
        <th width="120">Date</th>
        <th width="120">Time</th>
        <th>Status</th>
        <th>School</th>
      </tr>
    </thead>
  <% n = 1 %>
  <% @appointments.each do |appt| %>
    <tbody>
      <tr>
        <td><%= n %>
        <td><%= link_to(appt.id, "/admin/appointments/#{appt.id}") %></td>
        <td><%= appt.slot.tutor.full_name if appt.slot.tutor %></td>
        <td><%= appt.student.full_name if appt.student %></td>
        <td><%= appt.course.formatted_name %></td>
        <td><%= appt.date %>
        <td><%= appt.time %></td>
        <td><%= appt.status %></td>
        <td><%= appt.slot.tutor.school.name if appt.slot.tutor %></td>
      </tr>
    </tbody>
    <% n += 1 %>
  <% end %>
  </table>
</div>