<style>

.checklist-box {
  display: block;
  font-weight: bold;
}
.checklist-title {
  text-align: center;
  color: white;
  font-size: 1em;
  padding: 0.5em;
}
.checklist-title-box {
  background-color: #0095AC;
  border-radius: 4px;
}
.checklist-item {
  text-align: center;
  margin: 0.8em;
}
.checklist-item:hover {
  font-weight: 400;
}
.checklist-item.strikeout-text {
  text-decoration: line-through;
  color: #a8a8a8;
}
</style>
<div class="checklist-title-box">
  <h4 class="centered checklist-title">Account Setup Checklist</h4>
</div>
<div class="checklist-box">
  <%= link_to anchor: 'application' do %>
    <p class="checklist-item <%= @tutor.application_status == 'Complete' ? 'strikeout-text' : nil %>">Complete your application</p>
  <% end %>
  <%= link_to tutor_courses_path(@tutor.slug) do %>
    <p class="checklist-item <%= @tutor.courses_approved? ? 'strikeout-text' : nil %>">
    Approve courses and rates</p>
  <% end %>
  <%= link_to schedule_tutor_path(@tutor.slug) do %>
    <p class="checklist-item <%= @tutor.slots.count > 0 ? 'strikeout-text' : nil %>">
    Set your availability</p>
  <% end %>
  <%= link_to payment_info_tutor_path(@tutor.slug) do %>  
    <p class="checklist-item <%= !@tutor.acct_id.nil? ? 'strikeout-text' : nil %>">
    Link your bank account</p>
  <% end %>
  <%= link_to home_tutor_path(@tutor.slug) do %>
    <p class="checklist-item <%= @tutor.application_status == 'Approved' ? 'strikeout-text' : nil %>">
    Receive application approval</p>
  <% end %>
</div>