<%= simple_form_for @tutor, url: update_tutor_payment_info_tutor_path, method: :patch, remote: true do |pf| %>
  <h3>Payment info</h3>
  <h4>Address</h4>
  <%= pf.input :line1 %>
  <%= pf.input :line2 %>
  <%= pf.input :city %>
  <%= pf.select :state, options_for_select(us_states) %>
  <%= pf.input :postal_code %>
  <h4>Bank info</h4>
  <p>Note: This information will not be stored on our servers and will be used to create an account in our merchant service.</p>
  <%= label_tag :account_number %>
  <%= text_field_tag :account_number %>
  <%= label_tag :routing_number, "Routing number (note: Use ACH routing number)" %>
  <%= text_field_tag :routing_number %>
  <%= pf.button :submit %>
<% end %>