<h3>Payment Settings</h3>
<h4>Address</h4>
<p><%= @tutor.line1 %><br>
   <%= @tutor.line2 %><br>
   <%= @tutor.city %>, <%= @tutor.state %> <%= @tutor.postal_code %>
</p>
<%= link_to "Edit Payment Settings", tutor_payment_info_form_tutor_path(@tutor), remote: true %>