<p><%= link_to 'Account Settings', dashboard_settings_account_settings_user_path(current_user) %></p>
<p><%= link_to 'Appointment Settings', dashboard_settings_appointment_settings_user_path(current_user) %></p>
<p><%= link_to 'Payment Settings', dashboard_settings_payment_settings_user_path(current_user) %></p>
<p><%= link_to 'Profile Settings', dashboard_settings_profile_settings_user_path(current_user) %></p>
<p><%= link_to 'Tutor Settings', dashboard_settings_tutor_settings_user_path(current_user) %></p>