<div class="row">
  <div class="medium-3 columns">
    <%= render 'vertical_sub_menu' %>
  </div>
  <div class="medium-9 columns">
    <div class="row">
      <div class="medium-5 columns">
        <%= form_for @user do |f| %>
          <h3>User Account Settings</h3>

          <%= f.label :first_name %>
          <%= f.text_field :first_name %>

          <%= f.label :last_name %>
          <%= f.text_field :last_name %>

          <%= f.label :email %>
          <%= f.email_field :email %>

          <%= f.submit 'Save', class: 'button tiny expand success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>