<section class="dashboard tutor">
  <div class="wrapper">
    <div class="wrapper__text">
      <h1 class="title">Setttings Area</h1>
    </div>
    <div class="g g-3up">
      <div class="gi">
        <%= render 'vertical_sub_menu' %>
      </div>
      <div class="gi">
        <%= form_for @user do |f| %>
          <h3>User Account Settings</h3>

          <%= f.label :first_name %>
          <%= f.text_field :first_name %>

          <%= f.label :last_name %>
          <%= f.text_field :last_name %>

          <%= f.label :email %>
          <%= f.email_field :email %>

          <%= f.submit 'Save', class: 'button tiny expand success' %>
        <% end %>
      </div>
      <div class="gi"></div>
    </div>
  </div>
</section>
