<section class="dashboard tutor">
  <div class="wrapper">
    <div class="wrapper__text">
      <h2 class="title">Setttings Manager</h2>
    </div>
    <div class="g g-3up">
      <div class="gi">
        <%= render 'vertical_sub_menu' %>
      </div>
      <div class="gi">
        <p>All information on this page is private and only accesible to Axon administrators.</p>

        <%= form_for @tutor do |f| %>
          <h3>Personal Information</h3>

          <%= f.label :birthdate %>
          <%= f.date_field :birthdate %>

          <%= f.label :phone_number %>
          <%= f.telephone_field :phone_number %>

          <%= f.submit 'Save', class: 'button tiny expand success' %>
        <% end %>

        <%= form_for @tutor do |f| %>
          <h3 id="transcript">Transcript</h3>

          <p>Current Transcript: 
            <%= @tutor.transcript.url.nil? ? 'None' : File.basename(@tutor.transcript.path) %>
          </p>

          <%= f.label :transcript %>
          <%= f.file_field :transcript %>

          <%= f.submit 'Save', class: 'button tiny expand success' %>
        <% end %>

      </div>
      <div class="gi"></div>
    </div>
  </div>
</section>