<div class="row">
  <div class="medium-3 columns">
    <%= render 'vertical_sub_menu' %>
  </div>
  <div class="medium-9 columns">
    <div class="row">
      <div class="medium-5 columns">
        <%= form_for @tutor do |f| %>
          <h3>Private Information</h3>

          <%= f.label :birthdate %>
          <%= f.date_field :birthdate %>

          <%= f.label :phone_number %>
          <%= f.telephone_field :phone_number %>

          <%= f.label :transcript %>
          <%= f.file_field :transcript %>

          <% if @tutor.transcript.url %>
            <p>Current Transcript: <%= File.basename(@tutor.transcript.path) %></p>
          <% end %>

          <%= f.submit 'Save', class: 'button tiny expand success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>