<div class="row">
  <div class="medium-3 columns">
    <%= render 'vertical_sub_menu' %>
  </div>
  <div class="medium-9 columns">
    <div class="row">
      <div class="medium-10 columns">
        <%= form_for @tutor do |f| %>
          <h3>Public Profile Fields</h3>
          
          <%= f.label :degree %>
          <%= f.text_field :degree %>
          
          <%= f.label :major %>
          <%= f.text_field :major %>

          <%= f.label :extra_info %>
          <%= f.text_field :extra_info %>
          
          <%= f.label :graduation_year %>
          <%= f.number_field :graduation_year %>

          <%= f.submit, 'Save' %>

        <% end %>
      </div>
    </div>
  </div>
</div>