<div class="row">
  <div class="large-12 columns">
    <h1>Course Details</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>School</th>
          <th>Subject</th>
          <th>Call Number</th>
          <th>Friendly Name</th>
          <th>Tutors</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @course.id %>
          <td><%= @course.school_name %></td>
          <td><%= @course.subject[:name] %></td>
          <td><%= @course.call_number %></td>
          <td><%= @course.friendly_name %></td>
          <td><%= @course.tutors.count %></td>
          <td><%= link_to 'Edit', edit_admin_course_path(@course) %>
          <td><a href="#" data-reveal-id="confirmDeleteCourse">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

  <!-- Modal for deleting course -->
  <div id="confirmDeleteCourse" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <%= render 'confirm_delete' %>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  <!-- End of modal -->

<div class="row">
  <div class="small-12 columns">
    <%= link_to 'All Courses', admin_courses_path, class: 'button secondary' %>
  </div>
</div>