<%= stylesheet_link_tag "admin_panel" %>
<% content_for (:admin_panel) do %>

  
  <div class="header-block admin-row">
    <div class="row">
      <p class="admin-title"><%= @school.blank? ? 'Admin Panel' : 'Campus Manager Panel' %></p>
      <h3 class="school-name"><%= @school.blank? ? 'All Schools' : "#{@school.name}" %></h3>
      <% if current_user.role == 'super_admin' %>
        <div class="school-select">    
          <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown school-select-dropdown">Change Panel</button>
          <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
            <li><%= link_to 'All Schools', admin_home_path %></a></li>
            <% School.all.each do |school| %>
              <li><%= link_to "#{school.name}", campus_manager_school_home_path(school) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  
  <nav class="breadcrumbs dashboard-nav">
    <% if @school == nil %>
      <%= link_to 'Tutors', admin_tutors_path %>
      <%= link_to 'Students', admin_students_path %>
      <%= link_to 'Appointments', admin_appointments_path %>
      <%= link_to 'Slots', admin_slots_path %>
      <%= link_to 'Courses', admin_courses_path %>
      <%= link_to 'Schools', admin_schools_path %>
    <% else %>
      <%= link_to 'Tutors', campus_manager_school_tutors_path(@school) %>
      <%= link_to 'Students', campus_manager_school_students_path(@school) %>
      <%= link_to 'Appointments', campus_manager_school_appointments_path(@school) %>
      <%= link_to 'Slots', campus_manager_school_slots_path(@school) %>
      <%= link_to 'Courses', campus_manager_school_courses_path(@school) %>
    <% end %>  
  </nav>

<% end %>