<style>
.green {
  background-color: #58AA4D;
}

</style>

<div class="green">
  <div class="row">
    <div class="large-6 large-offset-3 columns">
      <p><%= @first_name %>, you're just a few steps away from your first appointment:</p>
    </div>
  </div>
  <div class="row">
    <div class="large-1 large-offset-2 columns">Degree: <%= @degree %></div>
    <div class="large-1 columns">Major: <%= @major %></div>
    <div class="large-1 columns">Extra Info: <%= @extra_info %></div>
    <div class="large-1 columns">Graduation Year: <%= @graduation_year %></div>
    <div class="large-1 columns">Phone Number: <%= @phone_number %></div>
    <div class="large-1 columns">Birthdate: <%= @birthdate %></div>
    <div class="large-1 columns">Profile Pic: <%= @profile_pic %></div>
    <div class="large-1 columns">Appt Notes: <%= @appt_notes %></div>
    <div class="large-4 columns"><!-- this is just a placeholder to push the last col to the left, def can be improved --></div>
  </div>
</div>