<!DOCTYPE html>
<html class="pl">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Axon Tutors" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Axon Tutors" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= yield(:header) %>
  </head>
  <body>
    <header>
      <div class="row full-width">
        <%= render 'layouts/partials/navigation' %>
      </div>
    </header>
    <div class="row full-width">
      <div class="alert-row">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>
    <div class="row full-width">
      <main role="main">
        <%= yield %>
      </main>
    </div>
    <footer>
      <div class="row full-width footer-bg">
        <%= render 'layouts/partials/footer' %>
      </div>
    </footer>
  </body>
</html>