<!DOCTYPE html>
<html class="pl">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Axon Tutors" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Axon Tutors" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= yield(:header) %>
  </head>
  <body class="body">
    <div class="page" id="page">
      <header class="header cf" role="banner">
        <div class="wrapper">
          <%= render 'layouts/partials/navigation' %>
        </div>
      </header>
      <!-- Secondary banners/headers below until <main> -->
      <%= yield(:admin_panel) if content_for? (:admin_panel) %>
      <%= yield(:dashboard_nav) if content_for? (:dashboard_nav) %> 
      <%= yield(:new_tutor_checklist) if content_for? (:new_tutor_checklist) %>
      <main role="main">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </main>
      <footer>
        <%= render 'layouts/partials/footer' %>
      </footer>
    </div>
  </body>
</html>