<!DOCTYPE html>
<html class="pl">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Axon Tutors" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Axon Tutors" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= yield(:header) %>
  </head>
  <body>
    <header>
      <div class="row">
        <%= render 'layouts/partials/navigation' %>
      </div>
    </header>
    <!-- Secondary banners/headers below until <main> -->
    <div class="row">
      <div class="nav-wrapper">
        <%= yield(:admin_panel) if content_for? (:admin_panel) %>
        <%= yield(:dashboard_nav) if content_for? (:dashboard_nav) %> 
        <%= yield(:new_tutor_checklist) if content_for? (:new_tutor_checklist) %>
      </div>
    </div>
    <main role="main">
      <div class="row alert-row">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <div class="row">
        <%= yield %>
      </div>
    </main>
    <footer>
      <div class="footer-wrapper">
        <div class="row">
          <%= render 'layouts/partials/footer' %>
        </div>
      </div>
    </footer>
  </body>
</html>