<!DOCTYPE html>
<html class="pl">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Axon Tutors" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Axon Tutors" %>">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300|Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= yield(:header) %>
  </head>
  <body>
    <header>
      <div class="row full-width">
        <%= render 'layouts/partials/navigation' unless content_for? (:special_nav) %>
        <%= yield(:special_nav) if content_for? (:special_nav) %>
        <!-- The :special_nav can be 1 of 3 different nav styles used for the home page, the student landing page and the tutor landing page. These are under layouts/partials/special_navs -->
      </div>
    </header>
      <div class="row full-width" role="main">
        <%= yield(:admin_panel) if content_for? (:admin_panel) %>
        <%= yield(:dashboard_nav) if content_for? (:dashboard_nav) %> 
        <%= yield %>
      </div>
    <footer>
      <div class="row full-width footer-bg">
        <%= render 'layouts/partials/footer' %>
      </div>
    </footer>
  </body>
</html>