<!DOCTYPE html>
<html class="pl">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Axon Tutors" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Axon Tutors" %>">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300|EB+Garamond' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= yield(:header) %>
  </head>
  <body>
    <header>
      <div class="row full-width">
        <%= render 'layouts/partials/navigation' unless content_for? (:special_nav) %>
        <%= yield(:special_nav) if content_for? (:special_nav) %>
      </div>
    </header>
    <div class="row full-width main-content">
      <%= yield(:admin_panel) if content_for? (:admin_panel) %>
      <%= yield(:dashboard_nav) if content_for? (:dashboard_nav) %>
      <%= yield(:awaiting_approval_screen) if content_for? (:awaiting_approval_screen) %>
      <%= yield %>
    </div>
    <footer>
      <div class="row full-width footer-bg">
        <%= render 'layouts/partials/footer' %>
      </div>
    </footer>
    <!-- JS below passes flash messages to Sweet Alert -->
    <script>
      var info = "<%= flash[:info] %>";
      var notice = "<%= flash[:notice] %>"
      var error = "<%= flash[:error] %>";
      var alert = "<%= flash[:alert] %>";
      var success = "<%= flash[:success] %>";
      if (info.length > 0) {
        swal({
          title: info,
          type: 'info'
        });
      } else if (notice.length > 0) {
        swal({
          title: notice,
          type: 'info'
        });
      } else if (error.length > 0) {
        swal({
          title: error,
          type: 'error',
        });
      } else if (alert.length > 0) {
        swal({
          title: alert,
          type: 'error',
        });
      } else if (success.length > 0) {
        swal({
          title: success,
          type: 'success'
        });
      }
    </script>
  </body>
</html>