<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Web App" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Web App" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= yield(:header) %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
      <%= yield(:admin_panel) if content_for? (:admin_panel) %>
      <%= yield(:dashboard_nav) if content_for? (:dashboard_nav) %> 
    </header>
    <main role="main">     
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>