<div id="similar-appts-modal">
  <%= form_for :regular_appt_selections, url: checkout_save_appt_time_path, method: :post do |f| %>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <div class="center">
          <h4 class="margin-top-1em">You have selected an appointment for:</h4>
          <h4><span><%= @original_time %></span></h4>
          <h3 id="regular-meeting-cta">Want to make it a regular meeting?</h3>
          <h4>2/3 of students who book an</br><span>Axon tutor 2+ times</span> report a </br><span>whole letter grade improvement!</span></h4>
          <%= image_tag('c_to_b_graph.svg', class: 'modal-graphic') %>
        </div>
      </div>
      <div class="small-12 medium-6 columns">
        <div class="center">
          <h4 class="bold margin-top-1em">Select Additional Meetings</h4>
          <div class="similar-appts-scroll-box">
            <% if @similar_appt_times.any? %>
              <% @similar_appt_times.each do |appt_info| %>
                <div class="similar-appt-time-box">
                  <label>
                    <!-- the dynamically set value for checkboxes here looks a little ugly and overcomplicated, but it's structure (datetime + '----' + slot_id) is necessary on the normal available times view and for consistency (and so it works the same with the create_appointments checkout interactor) it's the same here -->
                    <input type="checkbox" name="regular_appt_selections[<%= appt_info[:slot_id] %>]" value="<%= appt_info[:start_time] %>----<%= appt_info[:slot_id] %>">
                    <div class="appt-time"><%= appt_info[:time_display] %></div>
                  </label>
                </div>
              <% end %>
            <% else %>
              <h4 class="margin-top-5em"><%= @tutor.public_name %> does not currently have any future availabilty at this weekly meeting time.</h4>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <div class="button-container">
          <button class="custom-button full-width gray regular-appt-modal-button">Continue with One Appointment</button>
        </div>
      </div>
      <div class="small-12 medium-6 columns">
        <div class="button-container">
          <%= f.submit 'Add Additional Appointments', class: 'custom-button full-width regular-appt-modal-button' %> 
        </div>
      </div>
    </div>
  <% end %>
</div>






              